
<div class="content-wraper"  ng-controller='MaterialsController'>

	<div class="notice marker-on-bottom" >
		<h3>find your material here ....</h3>

	</div>



	<div class="material-list" ng-cloak>
		<ul>
			<li ng-repeat="material in materials">

				<div class="media">
					<i ng-click="changeMeida()" ng-if="material.media != null && material.media.type=='Document' && ( material.media.ext=='doc' || material.media.ext=='docx') " class="fa fa-file-word-o preview-file-type-list"></i>
		            <i ng-click="changeMeida()"ng-if="material.media != null && material.media.type=='Document' && ( material.media.ext=='pdf') " class="fa fa-file-pdf-o preview-file-type-list"></i>
		            <img class="preview-media"   ng-if="material.media != null && material.media.type=='Image'" src="{{material.media.thumbnail}}">
				</div>
				<div class="link">
					<a target="_blank" href="{{material.media.path}}">View or Download</a>
				</div>
				<div class="info">
					
					<div>
						<label>Title:</label> {{material.name}}
					</div>
					<div>
						<label>Description:</label> 
						<p>{{material.description}}
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
						</p>
					</div>
				</div>

			</li>
			
		</ul>
	</div>
</div>

<!-- 
<div ng-controller='MaterialsController' class="portlet">
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Material List </h4>
		</div>
		<div class="portlet-widgets">
			<a data-toggle="collapse" data-parent="#accordion" href="#basic"><i class="fa fa-chevron-down"></i></a>
			
		
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="basic" class="panel-collapse collapse in">
		<div class="portlet-body no-padding">
			<table id="SampleDT" class="datatable table table-hover table-striped table-bordered tc-table">
				<thead>
					<tr>
						<th>Material Name</th>
						<th class="hidden-xs">Description</th>
						<th class="hidden-xs col-medium ">Region</th>
					
						<th class="col-medium center hidden-xs">Delete</th>
						<th class="col-medium center hidden-xs">Last Modified</th>
						<th class="col-medium center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat=" item in materials">		
						<td>{{item.name}}
							<ul class="table-mobile-ul visible-xs list-unstyled">
								<li>Description: {{item.description}}</li>
								<li>modified: {{item.modified}}</li>
								<li>Earned: $70</li>
								<li><span class="label label-paid arrowed-in-right arrowed-in">Paid</span></li>
							</ul>
						</td>
						<td class="hidden-xs">{{item.description}}</td>
						<td class="hidden-xs col-medium ">{{item.region.name}}</td>
						<td class="center hidden-xs ">
							
							<label class="label label-active label-lg arrowed arrowed-right" ng-show="!item.isDelete")>No</label>
							<label class="label label-terminated label-lg arrowed arrowed-right" ng-show="item.isDelete">Yes</label>
						</td>
						<td class="hidden-xs col-medium center">{{item.modified | date:'MMMM d, yyyy' : 'UTC'}}</td>
						
						<td class="col-medium center">
							<div class="btn-group btn-group-xs ">
								<a href="/agent/material/detail/{{item._id}}" class="btn btn-inverse"><i class="fa fa-search icon-only"></i></a>
							</div>	
						</td>
					</tr>
					
				</tbody>
			</table>												
		</div>
	</div>
</div> -->

<!-- <script src="/assets/js/plugins/datatables/datatables.init.js"></script>	 -->