<script src="/ng/apps/mediaApp.js"></script>
<div class="row" ng-app='mediaApp' ng-controller='ListController' id="media-list">
	<div class="col-lg-12">


		<div class="portlet">
			<div class="portlet-heading dark">
				<div class="portlet-title">
					<h4>Filters</h4>
				</div>
				<div class="portlet-widgets">
					<a data-toggle="collapse" data-parent="#filters" href="#filters"><i class="fa fa-chevron-down"></i></a>
					<span class="divider"></span>
					<!-- <a href="#" class="box-close"><i class="fa fa-times"></i></a> -->
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="filters" class="panel-collapse collapse in">
				<div class="portlet-body row media-filters">
					<div class="col-md-4 col-lg-3">
						<label>Target: </label>
						<select>
							<option value="Slider" >Slider</option>
							<option value="Gallery">Gallery</option>
							<option value="Material">Material</option>
							<option value="Student">Student</option>
							<option value="Staff">Staff</option>
							<option value="Activity">Activity</option>
							<option value="Other">Other</option>
						</select>
					</div>

					<div class="col-md-4 col-lg-3">
						<label>Type: </label>
						<select>
							<option value="Image" >Image</option>
							<option value="Document">Document</option>
							<option value="Video">Video</option>
							<option value="other">Other</option>
						</select>
					</div>

					<div class="col-md-4 col-lg-3">
						<label>Status: </label>
						<select>
							<option value="Unitiled" >Unitiled /  Inactived</option>
							<option value="Gallery">Gallery</option>
							<option value="Material">Material</option>
							<option value="Student">Student</option>
							<option value="Staff">Staff</option>
							<option value="Activity">Activity</option>
							<option value="Other">Other</option>
						</select>
					</div>
				</div>
			</div>
		</div>


		<div class="portlet">
			<div class="portlet-heading dark">
				<div class="portlet-title">
					<h4> List </h4>
				</div>
				<div class="portlet-widgets">
					<a data-toggle="collapse" data-parent="#accordion" href="#basic"><i class="fa fa-chevron-down"></i></a>
					<span class="divider"></span>
					<a href="#" class="box-close"><i class="fa fa-times"></i></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="basic" class="panel-collapse collapse in">
				<div class="portlet-body">
					<table id="SampleDT" class="datatable table table-hover table-striped table-bordered tc-table">
						<thead>
							<tr>
								<th class=" center hidden-xs">Preview</th>
								<th class="hidden-xs">Title</th>
								<th class="hidden-xs">Target</th>
								<th class="hidden-xs">Type</th>
								<th class="hidden-xs">Ext</th>
								<th class="hidden-xs">Size</th>
								<th class="hidden-xs">Created</th>
								<th class="col-medium center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="m in medias.data | orderBy:createDate:reverse">
								<td class="hidden-xs">

									<video width="300" src="{{m.path}}" controls ng-show="m.type=='Video'">
									  Your browser does not support the <code>video</code> element.
									</video>
									<!-- <img width=300 src="https://www.google.ca/images/srpr/logo11w.png" ng-show="m.type=='jpg'" > -->
									<img height=150 src="{{m.path}}" ng-show="m.type=='Image'">

									<a href="{{m.path}}" target="_blank"><div class="document-icon {{m.ext}}"  ng-show="m.type=='Document'"></div></a>
									
							
								</td>
								<td class="hidden-xs">{{m.title}}</td>
								
								<td class="hidden-xs">{{m.target}}</td>
								<td class="hidden-xs">{{m.type}}</td>
								<td class="hidden-xs">{{m.ext}}</td>
								<td class="hidden-xs">{{m.size|filesize}}</td>
								<td class="hidden-xs">{{m.createDate}}</td>
								<td class="col-medium center">
									<div class="btn-group btn-group-xs ">
										<a href="/admin/media/edit/{{m._id}}" class="btn btn-inverse"><i class="fa fa-pencil icon-only"></i></a>
									</div>	
								</td>
							</tr>

						</tbody>

					</table>
				</div>
			</div>					 
		</div>



	</div>
</div>


<!-- core JavaScript -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/plugins/datatables/datatables.init.js"></script>
<script src="/assets/js/plugins/bootbox/bootbox.min.js"></script>
<script>


	//for tables checkbox demo
	jQuery(function($) {
		$('table th input:checkbox').on('click' , function(){
			var that = this;
			$(this).closest('table').find('tr > td:first-child input:checkbox')
			.each(function(){
				this.checked = that.checked;
				$(this).closest('tr').toggleClass('selected');
			});
			
		});
	});
	</script>