<style type="text/css">

</style>
<section >
	<div class="content-wrap" style="padding-top:0">
		<!-- <section>
		dasfda
			
			
		</section> -->


		 <section id="section-course" class="page-section " style="clear:both">
		 	<div class="container clearfix">

		 		<div class="row">
		 			<% for(var j=0; j < activitys.length; j++) { %>
		 			<div class="col-sm-2 col-md-3"> 
		 				<a href="/activity/detail/<%- activitys[j]._id %>">
		 					<img src="<%- activitys[j].cover.thumbnail %>"> 
		 				</a>
		 			</div>
                    <% } %>

		 		</div>


		 	</div>
		 </div>	
	</div>
</div>
<div style="margin-bottom:100px"></div>
