<style type="text/css">
	.activity-banner{
		position: relative;
		height: 300px;
		overflow: hidden;
		margin-bottom: 20px;
	}

	.activity-banner .title{
		position: absolute;
		top: 200px; left: 10%;
		z-index: 2;
	}

	.activity-banner .banner-img{
		position: absolute;
		top: 0; left: 0;
	}

	.activity-banner .banner-list{
		position: absolute;
		top: 200px; right: 100px;
		list-style: none;

	}
	.activity-banner .banner-list li{
		list-style: none;
		float: left;
		margin-right: 10px;
	}
	.activity-banner .banner-list li img{
		height: 50px;
	}
</style>
<section >
	<div class="content-wrap">
		<section>
			<div class="activity-banner">

				<h2 class="title"><%- activity.title %></h2>


				<img class="banner-img" src="<%- activity.cover.path %>">

				<ul class="banner-list">
					<% for(var j=0; j < activityList.length; j++) { %>
					<li> <img src="<%- activityList[j].cover.thumbnail %>"></li>
					<% } %>
				</ul>
			</div>
			
			
		</section>


		 <section id="section-course" class="page-section " style="clear:both">
		 	<div class="container clearfix">

		 		

		 		<!-- <div class="row hidden-sm hidden-xs">
			 		<div class='col-xs-12 '>
			 			<img  src="<%- activity.cover.path %>">
			 		</div>
		 		</div> -->

		 		<div class="row">
				<% for(var i=0; i< activity.album.length; i++) {%>
					<div  class="col-xs-12 col-sm-6 col-md-4 col-lg-3 activity-img"><img style="width:100%" src="<%- activity.album[i].path %>"></div>
				<% } %>

		 		</div>

		 	</div>
		 </div>
	</div>
</div>
<div style="margin-bottom:100px"></div>
