<div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;">

    <!-- Content
    ============================================= -->
    <section >

        <div class="content-wrap">

            <div class="container center clearfix">

                <div class="heading-block center">
                    <h1>Our Campus</h1>
               
                </div>

               

            </div>

        </div>

    </section>

    <section >

            <div class="content-wrap">

                <div class="container clearfix">


                    <!-- Portfolio Filter
                    ============================================= -->
                    <ul id="portfolio-filter" class="clearfix">

                        <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
                        <li><a href="#" data-filter=".pf-entrance">Main Entrance</a></li>
                        <li><a href="#" data-filter=".pf-lounge">Lounge</a></li>
                        <li><a href="#" data-filter=".pf-library">Library</a></li>
                        <li><a href="#" data-filter=".pf-cafeteria">Cafeteria</a></li>
                        <li><a href="#" data-filter=".pf-double_room">Double Room</a></li>
                        <li><a href="#" data-filter=".pf-recreation_area">Recreation Area</a></li>

                    </ul><!-- #portfolio-filter end -->

                    <div id="portfolio-shuffle">
                        <i class="icon-random"></i>
                    </div>

                    <div class="clear"></div>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="portfolio" class="portfolio-3 portfolio-masonry clearfix">

                        <article class="portfolio-item pf-entrance">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/campus/entrance.jpg" alt="Open Imagination">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="images/campus/entrance.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    <!-- <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Main Entrance</a></h3>
                                <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                            </div>
                        </article>

                        <article class="portfolio-item pf-lounge">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/campus/lounge.jpg" alt="Open Imagination">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="images/campus/lounge.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    <!-- <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Lounge</a></h3>
                                <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                            </div>
                        </article>

                        <article class="portfolio-item pf-library">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/campus/library.jpg" alt="Open Imagination">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="images/campus/library.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    <!-- <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Library</a></h3>
                                <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                            </div>
                        </article>


                        <article class="portfolio-item pf-cafeteria">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/campus/cafeteria.jpg" alt="Open Imagination">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="images/campus/cafeteria.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    <!-- <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Cafeteria</a></h3>
                                <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                            </div>
                        </article>


                        <article class="portfolio-item pf-double_room">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/campus/double_room.jpg" alt="Open Imagination">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="images/campus/double_room.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    <!-- <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Double Room</a></h3>
                                <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                            </div>
                        </article>


                        <article class="portfolio-item pf-recreation_area">
                            <div class="portfolio-image">
                                <a href="portfolio-single.html">
                                    <img src="images/campus/recreation_area.jpg" alt="Open Imagination">
                                </a>
                                <div class="portfolio-overlay">
                                    <a href="images/campus/recreation_area.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                                    <!-- <a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a> -->
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="portfolio-single.html">Recreation Area</a></h3>
                                <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                            </div>
                        </article>



                    </div><!-- #portfolio end -->

                    <!-- Portfolio Script
                    ============================================= -->
                    <script type="text/javascript">

                        jQuery(window).load(function(){

                            var $container = $('#portfolio');

                            $container.isotope({ transitionDuration: '0.65s' });

                            $('#portfolio-filter a').click(function(){
                                $('#portfolio-filter li').removeClass('activeFilter');
                                $(this).parent('li').addClass('activeFilter');
                                var selector = $(this).attr('data-filter');
                                $container.isotope({ filter: selector });
                                return false;
                            });

                            $('#portfolio-shuffle').click(function(){
                                $container.isotope('updateSortData').isotope({
                                    sortBy: 'random'
                                });
                            });

                            $(window).resize(function() {
                                $container.isotope('layout');
                            });

                        });

                    </script><!-- Portfolio Script End -->

                </div>

            </div>

    </section><!-- #content end -->






    <!-- #content end -->

</div>