        <section id="page-title"  class="page-title-mini page-title-right">

            <div class="container clearfix">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    
                    <li class="active">Our City</li>
                </ol>
            </div>

        </section>    

        <section id="content">

            <div class="content-wrap" style="padding:0;margin-bottom: 100px">
                <div class="section dark parallax nobottommargin" style="padding:430px 0px; background-image: url('images/city/Our-City.jpg'); background-position: 50% 51.7312px; text-shadow: rgb(0, 0, 0) 2px 2px; margin:0 0 0 0" data-stellar-background-ratio="0.3">
                    <div class="container clearfix">
                        <div class="heading-block center">
                        <h1>Our City</h1>
                    </div>
                        <p style="text-align: left;font-size:18px;">
                            Toronto’s past and present make it a great place to visit and in which to live. It is a clean, safe, modern city that is easy to get around and offers plenty to do and see. Toronto is now North America’s fourth-largest city, its multi-ethnic population representing around 200 nations. Newcomers inevitably add intereting new facets to the city. Fresh ideas of community are incorporated into existing ones, so Toronto (or T.O. as it is also known) is always in flux. New residents, students, travelers, and curious locals are constantly reinventing the city.
                        </p>
                    </div>
                </div>
            </div>

        </section>


        <section id="content" style="margin-bottom: 150px">
            <div class="heading-block center">
                <h1>Places to See</h1>

            </div>
            <div class="container clearfix center">

                <div id="portfolio" class="portfolio-nomargin clearfix sink">


                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-vertical" style="background-image:url('/images/city/HIGH-PARK.jpg')">
                            <div class="portfolio-sematic">
                                <a href="http://www.highparktoronto.com/" class="centered">
                                    <h3>High Park</h3>
                                    <div class="toggle">
                                        <p>
                                        High Park which is conveniently close to two TTC subway stations (Keele and High Park stations) is a beautiful park located west of downtown Toronto.  Visitors can spend their day walking around or taking the train through the park to discover the many different areas to explore; places like the High Park Zoo, playgrounds for children, many gardens, hiking trails, ponds – including the massive Grenadier Pond, a restaurant, convenient picnic areas, and some recreational sports facilities.  High Park is a wonderful place to take photos and explore nature, and if Grenadier Pond is not large enough, High Park is also minutes away from Lake Ontario and the lakeshore.
                                        </p>
                                        <div class="pseudo-link"><span>Read more</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-vertical" style="background-image:url('/images/city/CASA-LOMA.jpg')">
                            <div class="portfolio-sematic">
                                <a href="http://www.casaloma.ca/" class="centered">
                                    <h3>Casa Loma</h3>
                                    <div class="toggle">
                                        <p>
                                        Casa Loma - Completed in 1914, the historic Casa Loma is a beautiful building and grounds that will take you back in time.  Carefully restored and maintained, this building shows visitors what life in 1925 was like.  Visit the elaborately decorated rooms, look at the library, examine the suites, and then take the tunnel out to the stables where horses were kept and explore the gardens.  When you get tired, take a break in the Liberty Caffé or, if the weather is nice, have a meal on the Terrace Grill.
                                        </p>
                                        <div class="pseudo-link"><span>Read more</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-vertical" style="background-image:url('/images/city/WONDERLAND.jpg')">
                            <div class="portfolio-sematic">
                                <a href="https://www.canadaswonderland.com/" class="centered">
                                    <h3>Canada’s Wonderland</h3>
                                    <div class="toggle">
                                        <p>
                                            Canada’s Wonderland - If you’re looking for a day of excitement and fun, you have to visit Canada’s Wonderland.  This amusement park has plenty of things for adults and children to do with more than 20 adult thrill rides, over 20 children’s rides, and a special water park area called Splash Works which has more than 15 fun-filled activities to keep you cool during the hot days.  The amusement park also has plenty of restaurants and shops for you to find a souvenir of your incredible day, and don’t forget to check out the events that take place during the day from things like acrobatic shows and circus performances to Friday movie nights and international food festivals.
                                        </p>
                                        <div class="pseudo-link"><span>Read more</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-vertical" style="background-image:url('/images/city/ROM.jpg')">
                            <div class="portfolio-sematic">
                                <a href="https://www.rom.on.ca/en#/gallery/recent" class="centered">
                                    <h3>The Royal Ontario Museum</h3>
                                    <div class="toggle">
                                        <p>
                                            The Royal Ontario Museum, or ROM, is a spectacular place in downtown Toronto where you can discover many facts about old and new civilizations.  The ROM is so large that you could spend the whole day there learning something new and exciting.  People also love going there to see what interesting and innovating visiting exhibits have come to the beautiful space.  Whether you’re interested in animals, dinosaurs, rocks and gems, or ancient civilizations, the ROM has an exhibit that will teach you something every time you visit.
                                        </p>
                                        <div class="pseudo-link"><span>Read more</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-vertical" style="background-image:url('/images/city/Toronto-Island.jpg')">
                            <div class="portfolio-sematic">
                                <a href="http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=34e9dada600f0410VgnVCM10000071d60f89RCRD" class="centered">
                                    <h3>Toronto Islands </h3>
                                    <div class="toggle">
                                        <p>
                                            Toronto Islands - Taking a quick ferry boat ride across the water, you can visit the Toronto Islands where you can relax on the beaches, go for a walk, rent a bike, or wander through Centreville – a small theme park located on the island with rides for children, a petting zoo in Far Enough Farms, and a restaurant for the whole family.  Many people love the quiet, calm atmosphere on the island which makes it feel like you are far away from the rush of the city.  However, when you look over the water, you get a fantastic view of the Toronto city skyline.  Bring your camera to capture amazing photos you’ll remember for a long time.
                                        </p>
                                        <div class="pseudo-link"><span>Read more</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-vertical" style="background-image:url('/images/city/CN-Tower.jpg')">
                            <div class="portfolio-sematic">
                                <a href="http://www.cntower.ca/intro.html" class="centered">
                                    <h3>The CN Tower</h3>
                                    <div class="toggle">
                                        <p>
                                            The CN Tower, once the world’s tallest building standing at 457m is a must see when travelling to Toronto.  You get a bird’s eye view of most of Toronto and the surrounding cities. On a clear day you can see all the way to Mississauga.  When at the top you have a chance to stand on the glass floor and look down at the street below. You can also go outside and feel the tremendous winds. The best part about the CN Tower is the pictures you will be able to take from the top. If you are daring you could walk along the edge of the top and get a thrill like no other. If you love food and fine dining you can have a wonderful dinner in the revolving 360 Restaurant while watching the sun set.  No matter what you do in the CN Tower you will surly remember your visit.
                                        </p>
                                        <div class="pseudo-link"><span>Read more</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </article>
            </div>


        </section>