<div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;">

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container center clearfix">

                <div class="heading-block center">
                    <h1>Class Chart</h1>
               
                </div>

                <div id="class-chart" >


                    <div class="row">
                        <div class="col-lg-7">
                            <div class="col-lg-12 cell">
                                <div class="header">General English Programs (ESL)</div>
                            </div>



                            <div class="cell col-lg-4"> <div class="normal"><strong>Intensive</strong> (30 hours/week)</div></div>
                            <div class="cell col-lg-4"> <div class="normal"><strong>Standard</strong> (22.5 hours/week)</div></div>
                            <div class="cell col-lg-4"> <div class="normal"><strong>Part-time</strong> (15 hours/week)</div></div>

                            <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal gary-bg cap">1</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">2</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">3</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">4</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">5</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">6</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">7</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">8</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">9</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">10</div></div>
                            </div>


                            <div class="col-lg-12 cell clearFixed">
                                <div class="header sub">Core ESL Classes</div>
                            </div>

                             <div class="cell col-lg-12"> 
                                <div class="normal">
                                Integrated Skills / Communicative Grammar / Communication / Conversation
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             </div>

                            


                            <div class="col-lg-12 cell clearFixed">
                                <div class="header sub">Elective ESL Classes</div>


                            </div>



                            <div class="cell col-lg-12"> 
                                <div class="normal">
                                Basic Academic Skills in English (BASE)
                                </div>
                            </div>
                            <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             </div>



                            


                            <div class="cell col-lg-12 clearFixed"> 
                                <div class="normal">
                                Introduc on to Writing
                                </div>
                            </div>
                            <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                            </div>



                             <div class="cell col-lg-12"> 
                                <div class="normal">
                                Intermediate Functional Writing
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                            </div>




                             <div class="cell col-lg-12"> 
                                <div class="normal">
                                Pronunciation
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                            </div>




                             <div class="cell col-lg-12"> 
                                <div class="normal">
                                Business Communication
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            </div>




                        </div>

                        <div class="col-lg-5 visible-lg">

                            <div class="cell">
                                <div class="header white-bg"><strong>Levels</strong></div>    
                            </div>
                            



                             <div class="cell ten"> <div class="normal gary-bg cap">1</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">2</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">3</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">4</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">5</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">6</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">7</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">8</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">9</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">10</div></div>


                            <div class="emptyRow"></div>


                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>

                           
                             <div class="emptyRow"></div>

                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>


                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>


                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             


                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>


                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>

                        </div>

                    </div>



                    <div class="emptyRow"></div>


                    <div class="row">
                        <div class="col-lg-7">
                            <div class="col-lg-12 cell">
                                <div class="header">English for Speci c Purposes - Focus Programs (4, 8, 12, or 16 weeks)</div>
                            </div>



                            <div class="cell col-lg-4"> <div class="normal"><strong>Intensive</strong> (30 hours/week)</div></div>
                            <div class="cell col-lg-4"> <div class="normal"><strong>Standard</strong> (22.5 hours/week)</div></div>
                            <div class="cell col-lg-4"> <div class="normal"><strong>Part-time</strong> (NOT Offered)</div></div>

                        
                            


   



                            <div class="cell col-lg-12"> 
                                <div class="normal">
                                Focus on Speaking (FOS)
                                </div>
                            </div>
                            <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             </div>



                            


                            <div class="cell col-lg-12 clearFixed"> 
                                <div class="normal">
                                Focus on Writing (FOW)
                                </div>
                            </div>
                            <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            </div>



                             <div class="cell col-lg-12"> 
                                <div class="normal">
                                IELTS Exam Preparation
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            </div>




                             <div class="cell col-lg-12"> 
                                <div class="normal">
                                iBT TOEFL Exam Preparation
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            </div>




                             <div class="cell col-lg-12"> 
                                <div class="normal">
                                English for Health Care (EHC)
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            </div>

                            <div class="cell col-lg-12"> 
                                <div class="normal">
                                University College Transfer Program Preparation (UCTP Prep)
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            </div>


                            <div class="cell col-lg-12"> 
                                <div class="normal">
                                University College Transfer Program (UCTP)
                                </div>
                             </div>
                             <div class="hiddenRow hidden-lg">
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                                <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                            </div>


                        </div>

                        <div class="col-lg-5 visible-lg">

                            <div class="cell">
                                <div class="header white-bg"><strong>Levels</strong></div>    
                            </div>
                            



                             <div class="cell ten"> <div class="normal gary-bg cap">1</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">2</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">3</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">4</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">5</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">6</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">7</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">8</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">9</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">10</div></div>




                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>

                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>

                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>

                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>

                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>

                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>

                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal cap">&nbsp;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                             <div class="cell ten"> <div class="normal gary-bg cap">&#x2713;</div></div>
                        </div>

                    </div>

                </div>
                

            </div>

        </div>

    </section><!-- #content end -->

</div>