<link rel="stylesheet" type="text/css" href="/assets/css/plugins/bootstrap-wysihtml/wysiwyg-color.css">
<section id="page-title" class="page-title-mini page-title-right">

    <div class="container clearfix">
        <!-- <h1><%- course.title %></h1> -->
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/#section-programs">Courses</a></li>
           
        </ol>
    </div>

</section>

<section >


	<div class='program-banner hidden-sm hidden-xs' style="background-image:url(<%- course.banner.path %>)">
    </div>


    <div class="heading-block center bottommargin-lg" style="margin-top: 50px;margin-bottom: 0px!important">
        <h2></h2>
        <span><%- course.title %></span>
    </div>

	<div class="content-wrap">
		 <section id="section-course" class="page-section">
		 	<div class="container clearfix">

		 		
		 		<div class="row">
                    <div class='col-md-8'>
                    	<div class='desc'><%- course.content %></div>
                    </div>
					<div class='col-md-4'>
                        <img src="<%- course.cover.path %>">
                    	<div class="desc">
                            <ul style="padding-top:30px;list-style:none">
                                <% for( var x = 0; x < course.links.length; x++){ %>
                                <li><a target="_blank" href="<%- course.links[x].href %>"><%- course.links[x].title %></a></li>
                                <% } %>
                            </ul>
                        </div>
                        <!-- youtube video -->
                        <% if(course.youtube != '' ){ %>
                        <div class="video">
                            <%-  course.youtube %>
                        </div>
                        <% } %>

			 		</div>
		 		</div>

		 	</div>
		 </div>
	</div>
</div>
<div style="margin-bottom:100px"></div>















