<section >
	<div class="content-wrap" style="padding-top:0">
		 <section id="section-course" class="page-section">
		 	<div class="container clearfix">

		 		<div class="row hidden-sm hidden-xs">
                	<div class='col-xs-12'>
                        <div class='banner' style="background-image:url(<%- course.banner.path %>)">
                            <h1><%- course.title %></h1>
                        </div>
                    </div>
		 		</div>
		 		
		 		<div class="row">
                    <div class='col-md-6'>
                    	<p class='desc'><%- course.content %></p>
                    </div>
					<div class='col-md-6'>
                    	<div>
                            <ul>
                                <li><a target="_blank" href="http://www.google.com">Link Link Link Link Link Link Link Link Link Link Link </a></li>
                                <li><a target="_blank" href="http://www.google.com">Link Link Link Link Link Link Link Link Link Link Link </a></li>
                                <li><a target="_blank" href="http://www.google.com">Link Link Link Link Link Link Link Link Link Link Link </a></li>
                                <li><a target="_blank" href="http://www.google.com">Link Link Link Link Link Link Link Link Link Link Link </a></li>
                                <li><a target="_blank" href="http://www.google.com">Link Link Link Link Link Link Link Link Link Link Link </a></li>
                                <li><a target="_blank" href="http://www.google.com">Link Link Link Link Link Link Link Link Link Link Link </a></li>
                                <li><a target="_blank" href="http://www.google.com">Link Link Link Link Link Link Link Link Link Link Link </a></li>
                                <% for( var x = 0; x < course.links.length; x++){ %>
                                <li><a target="_blank" href="<%- course.links[x].href %>"><%- course.links[x].title %></a></li>
                                <% } %>
                            </ul>
                        </div>
                        <img src="<%- course.cover.path %>">
			 		</div>
		 		</div>

		 	</div>
		 </div>
	</div>
</div>
<div style="margin-bottom:100px"></div>















