<style type="text/css">
</style>
<section >
	<div class="content-wrap">
		 <section id="section-course" class="page-section " style="clear:both">
		 	<div class="heading-block center">
                <h2>Our Student Photo Gallery</h2>
                <span>Some of the Awesome Monment we've worked on.</span>
            </div>
		 	<!-- <div class="container clearfix">
		 		<div class="row">
		 			<% for(var j=0; j < activitys.length; j++) { %>
		 			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		 				<a href="/activity/detail/<%- activitys[j]._id %>" style="background-image:url(<%- activitys[j].cover.thumbnail %>)" class="activity-img">
		 					<div></div>
		 				</a>
		 			</div>
                    <% } %>
		 		</div>
		 	</div> -->
		 </div>	
	</div>

	<div class="container clearfix center">
        <div id="portfolio" class="portfolio-nomargin clearfix">
            <% for(i in activitys){ %>
            <article class="portfolio-item pf-media pf-icons">
                <div class="portfolio-image">
                    <a href="/gallery/detail/<%- activitys[i]._id %>">
                        <img src="<%- activitys[i].cover.path %>" alt="Open Imagination">
                    </a>
 
                    <a href="/gallery/detail/<%- activitys[i]._id %>" class="portfolio-desc">
                        <h3><%- activitys[i].title %></h3>
                        <span><%- activitys[i].subtitle %></span>
                    </a>
                </div>
            </article>
            <% } %>
    </div>
</div>
<div style="margin-bottom:100px"></div>

