<style type="text/css">
</style>

    <section id="page-title"  class="page-title-mini page-title-right">

        <div class="container clearfix">
           <!--  <h1>Online Test</h1> -->
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="#">Photo Gallery</a></li>
               
            </ol>
        </div>

    </section>

<section >
	<div class="content-wrap">
		 <section id="section-course" class="page-section " style="clear:both">
		 	<div class="heading-block center">
                <h2>Photo Gallery</h2>
                <span>Memorable moments in Toronto</span>
            </div>

		 </div>	
	</div>

	<div class="container clearfix center">
        <div id="portfolio" class="portfolio-nomargin clearfix">

            <% for(i in activitys){ %>
            <% if( activitys[i].cover != null ){ %>
            <article class="portfolio-item pf-media pf-icons">
                <div class="portfolio-image">
                    <a href="/gallery/detail/<%- activitys[i]._id %>">
                        <img src="<%- activitys[i].cover.path %>" alt="Open Imagination">
                    </a>
 
                    <a href="/gallery/detail/<%- activitys[i]._id %>" class="portfolio-desc">
                        <h3><%- activitys[i].title %></h3>
                        <span><%- activitys[i].subtitle %></span>
                    </a>
                </div>
            </article>
            <% } %>
            <% } %>
    </div>
</div>
<div style="margin-bottom:100px"></div>

