<style type="text/css">
    
    .display-ol{
        padding-left: 15px;
    }

    .display-ol li{
        padding: 10px 15px;
    }

    .display-ol li ol, .display-ol li ul{
        margin-left: 15px;
    }
</style>

<section id="page-title"  class="page-title-mini page-title-right">

    <div class="container clearfix">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Student Guidelines</li>
        </ol>
    </div>

</section>    


<section id="content">

    <div class="content-wrap">
        
        <div class="heading-block center bottommargin-lg" style="margin-top: 50px;">
            <h2>Student Guidelines</h2>
        </div>

        <div class="container clearfix">
            <div id="side-navigation">

                <div class="col_one_third nobottommargin">
                    <ul class="sidenav">
                        <li><a href="#snav-content1">Academic Calendar<i class="icon-chevron-right"></i></a></li>

                        <li><a href="#snav-content10">Refund Policy<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content11">Conditions of Enrolment<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content12">Collection of Personal Information Consent<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content13">Activity Waiver<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content2">Language Proficiency Requirements<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content3">Credential Assessment<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content4">Visa Information<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content5">Registration Procedure<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content6">Evaluation Methods and Appeals<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content7">Academic Good Standing<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content8">Student Rights and Responsibilities<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content9">Withdrawals and Dismissals<i class="icon-chevron-right"></i></a></li>
                    </ul>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content10">
                        <div class="fancy-title">
                            <div style="margin-bottom: 30px" class="fancy-title title-bottom-border">
                                <h3>Refund Policy</h3>
                            </div>
                                      
                            <div class="title-block">
                                <h4>Tuition Refund</h4>
                            </div>
                            <p>
                                Rejection by Citizenship and Immigration Canada (CIC) Students who are unable to obtain the necessary permits to enter Canada will receive a 100% refund to tuition fees, less the $175 registration fee. The school must receive written notification of the cancellation by completing a cancellation/refund request form available from the school and send a copy of the letter of rejection from Citizenship and Immigration Canada before the refund will be processed.
                            </p>
 
                            <div class="title-block">
                                <h4>Cancellation Policy</h4>
                            </div>
                            <p>
                                The registration fee is non-refundable. In the event that a student must cancel their program, the school must receive written notification of the cancellation by completing a cancellation/refund form available from the school. Refunds are processed according to the terms below.
                                <table class="table" >
                                    <thead>
                                        <tr>
                                            <td>% Program Completed</td>
                                            <td>% Tuition Refunded</td>
                                        </tr>            
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cancellation 30 days or more before your ESC start date *</td>
                                            <td>70% (minus registration fee)</td>
                                        </tr>       
                                        <tr>
                                            <td>Cancellation less than 30 days before your ESC start date *</td>
                                            <td>60% (minus registration fee)</td>
                                        </tr> 
                                        <tr>
                                            <td>0-15% of the length of study **</td>
                                            <td>50% (minus registration fee)</td>
                                        </tr> 
                                        <tr>
                                            <td>16%-24% of the length of study **</td>
                                            <td>30% (minus registration fee)</td>
                                        </tr> 
                                        <tr>
                                            <td>Over 25% of the length of study **</td>
                                            <td>0%</td>
                                        </tr> 
                                    </tbody>
                                </table>
                                <p>
                                    <div>
                                        <div style="width: 30px; display: inline-block;">*</div>    ESC start date refers to the first day at ESC not individual program start dates. 
                                    </div>
                                    <div>
                                        <div style="width: 30px; display: inline-block;">**</div>   Length of study refers to the entire duration of your registration, not the length of individual programs. 
                                    </div>
                                </p>
                            </p>

                            <div class="title-block">
                                <h4>Accommodation Refund </h4>
                            </div>
                            <p>
                                The Homestay Placement fee is non-refundable. Students must notify the school at least two weeks in advance in order to obtain a refund for unused homestay fees.
                                <div style="padding-left: 15px;">
                                    <ol>
                                        <li>
                                            Cancellation Prior to Arrival
                                            <div style="padding-left: 15px;">
                                                <ol type="a">
                                                    <li>If the student cancels within 2 weeks prior to arrival, the homestay registration fee and two weeks homestay will be charged.</li>
                                                    <li>In the event that the student does not arrive to homestay, the 4-week homestay fee will be applied.</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li>
                                            Cancellation After Arrival
                                            <p>
                                                Students are expected to provide 30 days notice of withdrawal from the homestay program. Students who withdrawal after arrival will not receive a refund of the Homestay Registration Fee, or the remainder of the homestay session (4 weeks). Students are welcome to stay with the host throughout the notice period.
                                            </p>
                                        </li>
                                        <li>
                                            Cancellation Due to Visa Denial
                                            <p>If a student cancels because of a visa denial, the registration fee will be refunded, along with the homestay meal plan after the visa refusal letter is submitted to the ESC Administration Team. </p>
                                        </li>
                                    </ol>                                 
                                </div>

                            </p>

                            <p>Please note that the percentages are based on complete weeks. Students that request a refund mid- week will have the calculation based on the following week. </p>
                        </div>

                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content11">
                        <div class="fancy-title">
                            <div style="margin-bottom: 30px" class="fancy-title title-bottom-border">
                                <h3>Conditions of Enrolment</h3>
                            </div>
                            <p>
                                <span class="dropcap">E</span>SC reserves the right to refuse any undesirable registration. ESC reserves the right to change start dates, programs, and course content at any time and without prior notice. Fees, dates and conditions listed in this brochure are subject to change without prior notice. Courses are available based on enrollment.
                            </p>
                            <p>ESC and its directors and shareholders accept no responsibility whatsoever for any loss or damage to the personal belongings or property of student or program participant or for any injury to or death of a student or program participant occurring on or off school property.</p>
                            <p>Students must comply with the rules of the school as per the Student Guidelines at http://esc-toronto.com/guidelines. Failure to comply with the rules of the school may result in dismissal.</p>
                            <p>Neither ESC nor its representatives is liable in cases where ESC is unable to fulfill any services to which they are contractually bound because of weather, labour disputes, or other reasons which are beyond their control.</p>
                        </div>
                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content12">
                        <div class="fancy-title">
                            <div style="margin-bottom: 30px" class="fancy-title title-bottom-border">
                                <h3>Collection of Personal Information Consent</h3>
                            </div>

                            <p>
                                <span class="dropcap">A</span>ccording to Canada’s Personal Information Protection and Electronic Documents Act (PIPEDA), organizations in the private sector must obtain consent from individuals for the collection, use, and disclosure or their personal information. English School of Canada collects and uses personal information from our students in order to:
                            </p>

                            <div style="padding-left: 15px;">    
                                <ol>
                                    <li>Maintain a file of your personal information including contact details in case of an emergency </li>
                                    <li>Collect statistics for the sole use of ESC’s business development </li>
                                    <li>Match homestay students with suitable host families by way of our provider, Canada Homestay Network. </li>
                                    <li>Communicate with an agent or third-party organization acting on a student’s behalf in their country of origin </li>
                                    <li>Communicate with the Canadian federal government with regards to student attendance and/or proof of advancing in a program of study. </li>
                                    <li>Promote the school or its programs in print or online. This includes, but is not limited to, brochures and flyers, ESC website, partner websites, and social media sites (Facebook, Instagram, YouTube, etc.)</li>
                                </ol>
                            </div>
                            <p>
                                By registering as a student at ESC, the student gives consent to English School of Canada to use and disclose their personal information for the purposes of conducting ESC business, as outlined above.
                            </p>

                        </div>
                    </div>
                </div>


                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content1">
                        <div class="fancy-title title-bottom-border">
                            <h3>Academic Calendar</h3>

                            <p></p>
                            <p>
                                <span class="dropcap">E</span>SC operates on a system of continuous weekly intake, and as such, there are no terms or semesters.
                            </p>

                            <p>
                                New students are provided with an orientation and level placement test on a Monday before entering class on a Tuesday. The academic week therefore always runs from Tuesday to Monday.
                            </p>

                            <p>
                                Students entering the General English Program may begin their studies on any Tuesday. Students wishing to enter an ESP Program or UCTP may do so only on the dates specified on the School Calendar, examples of which are provided below and available
                            </p>
                        </div>

                        <div>
                            <img src="/images/clients/academic-calendar-sample.png">
                        </div>
                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content2">
                        <div class="fancy-title title-bottom-border">
                            <h3>Language Proficiency Requirements</h3>
                            <p>
                                
                            </p>


                            <p>
                                
                                English School of Canada is committed to providing English language instruction to all students who meet the requirements for admission as outlined in the Admissions Policy.

                            </p>

                            <p>
                                
                                Students are not required to provide evidence of language proficiency prior to commencement of studies but are rather assessed on their language proficiency and placed in a program and/or classes of study as deemed suitable.

                            </p>

                            <p>
                                ESL classes are available to all students at the school. Students wishing to enter ESP Programs or the University College Transfer Program (UCTP) are required to be ESC Level 7 or above, or have documented proof of a minimum IELTS score of 5.5 or iBT TOEFL score of 69.

                            </p>

                            <p>
                                <img src="/images/clients/level.png">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content3">
                        <div class="fancy-title title-bottom-border">
                            <h3>Credential Assessment</h3>

                            <p></p>

                            <p>
                                English School of Canada is an institution that provides private language instruction for English language learners.  ESC does not require any assessment of academic credentials from its students, nor will academic credentials from other institutions be a factor considered in placement in ESC Programs. 

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content4">
                        <div class="fancy-title title-bottom-border">
                            <h3>Visa Information</h3>
                        </div>

                        <div>
                            <h5>The following links provide information on coming to Canada:</h5> 

                            <p><a href="http://www.cic.gc.ca/english/visit/visas.asp" target="_blank">Find out if you need a visa to travel to Canada</a></p>

                            <p><a href="http://www.cic.gc.ca/english/visit/apply-how.asp" target="_blank">How to apply for a Visitor’s Visa</a></p>

                            <p><a href="http://www.cic.gc.ca/English/information/applications/student.asp" target="_blank">How to apply for a Study Permit</a></p>

                            <p><a href="http://www.cic.gc.ca/english/study/study-extend.asp" target="_blank">How to extend a Study Permit</a></p>
                        </div>
                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content5">
                        <div class="fancy-title title-bottom-border">
                            <h3>Registration Procedure</h3>
                        </div>


                        <div>
                            <div class="title-block">
                                <h4>Purpose</h2>
                            </div>

                            <P>
                                To ensure clarity for potential students as well as consistency and effectiveness in the Admissions Department, we list the step by step process as follows:

                            </P>
                        </div>

                        <div>
                            <div class="title-block">
                                <h4>Procedure</h4>
                            </div>

                            <ol class="display-ol">
                                <li>
                                    Agents or Individuals send ESC a signed and completed Registration Form (including Accommodation Form if needed). The form is found on the school website: <a href="http://esc-toronto.com/register" target="_blank">http://esc-toronto.com/register</a> or can be sent by email as an attachment.
                                </li>

                                <li>
                                    The form/forms are given to the Admissions Department.
                                </li>

                                <li>
                                    The invoice is created and sent to the agency or directly to the student.
                                </li>

                                <li>
                                    The payment for the invoice is made to ESC either by wire transfer, debit, cash or by credit card payment, in which case the Credit Card Authorization Form will be completed.
                                </li>

                                <li>
                                    Once full payment has been received, an official Letter of Acceptance will be issued upon request.
                                </li>

                                <li>
                                    The student or agency will use this letter to apply for the study permit or to show the officer at the port of entry as a proof of study.
                                </li>

                                <li>
                                    Students can only commence their program after the full fees have been received.
                                </li>
                            </ol>


                        </div>


                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content6">
                        <div class="fancy-title title-bottom-border">
                            <h3>Evaluation Methods and Appeals</h3>
                        </div>

                        <div>
                            <div class="title-block">
                                <h4>Summary</h4>
                            </div>

                            <P>
                                At ESC, we are committed to providing students with clear, measurable outcomes for their language learning. Student progress at ESC is continuously evaluated using a mixture of diagnostic, summative and formative assessment. 
                            </P>
                        </div>


                        <div>
                            <div class="title-block">
                                <h4>Assessment Aims</h4>
                            </div>

                            <P>Assessment at ESC is based on the following principles:</P>

                            <ol class="display-ol">
                                
                                <li>The methods of assessment should be applied equally by all instructors to each student.</li>
                                <li>Assessment methods and class expectations should be clear to all students.</li>
                                <li>Assessment and feedback should always be constructive. Equal attention should be paid to areas of strength as to areas needing improvement.</li>
                                <li>Assessment should provide students with a feeling of pride in successfully completing desired outcomes.</li>
                            </ol>
                        </div>


                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content7">
                        <div class="fancy-title title-bottom-border">
                            <h3>Academic Good Standing</h3>
                        </div>

                        <div>
                            <p>
                                <span class="dropcap">S</span>tudents who wish to withdraw from their program of study will be allowed to do so and will be held to the regulations as outlined in the official Refund Policy.  
                            </p>


                            <P>
                                Students must adhere to English School of Canada’s policies and expectations regarding student conduct in order to remain in good academic standing.  These policies and expectations are clearly explained on orientation day to all students, are outlined in the Student Orientation Binder, and are detailed below
                            </P>

                            <div>
                                <div class="title-block">
                                    <h4>Student Attendance & Lateness</h4>
                                </div>

                                <P>Students are expected to attend all classes.  The attendance rules are:</P>

                                <ul class="display-ol">
                                    
                                    <li>The academic week runs from Tuesday to Monday.</li>
                                    <li>If a student’s average attendance is below 80%, he or she may be referred to a counselor.</li>
                                    <li>Average attendance is recorded on class schedules and school records.</li>
                                    <li>If a student attends less than 80% of any class, he or she may need to stay longer in the level.</li>
                                    <li>Focus Programs and UCTP have different attendance rules.  If a student does not follow the attendance rules for his or her program, he or she will be removed from it and must return to General ESL classes.</li>
                                </ul>
                            </div>

                            <p>
                                All classes are 1 ½ hours in duration.  Students who are more than 5 minutes late will not be allowed into class and will be marked as absent.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content8">
                        <div class="fancy-title title-bottom-border">
                            <h3>Student Rights and Responsibilities</h3>
                        </div>

                        <div>
                            <div class="title-block">
                                <h4>Student Rights</h4>
                            </div>
                            <p>
                                ESC pledges to uphold student rights as outlined in the statements below. Furthermore, ESC pledges to adhere to the following policies and procedures regarding:
                            </p>

                            <ul class="display-ol">
                                <li>The Registration Form</li>
                                <li>Fee Collection & Refund Policy</li>
                                <li>Academic Good Standing Policies</li>
                                <li>Academic Honesty Policy (UCTP-Prep & UCTP Program only)</li>
                                <li>Credential Assessment</li>
                            </ul>
                        </div>

                         <div>
                            <p>
                                Students at ESC have the right to:
                            </p>

                            <ul class="display-ol">
                                <li>Protection under the laws governing the province of Ontario.</li>
                                <li>Study in an environment where health and safety regulations are adhered to.</li>
                                <li>Respect for one’s person and property, including intellectual property.*</li>
                                <li>Communicate and exchange ideas freely with others.</li>
                                <li>Privacy of personal information.**</li>
                                <li>Support from ESC staff in pursuit of academic progress.</li>
                                <li>Support and information regarding life in Canada.</li>
                                <li>A study environment free of discrimination based on ethnicity, religion, sexuality or gender.</li>
                                <li>Lodge formal complaints as outlined in the Student Complaint Procedure.</li>
                                <li>Request a transcript of their studies for up to 25 years after completion of study.</li>
                            </ul>
                        </div>

                        <div>
                            
                            <p>
                                * English School of Canada defines intellectual property as any product of human intelligence and creation including but not limited to written works, artistic images including drawings and paintings, photographs, and musical works.  English School of Canada recognizes each student’s exclusive rights to these assets and agrees that no use of such assets shall take place without prior consent.
                            </p>

                            <p>
                                ** English School of Canada adheres to Canada’s Personal Information and Electronic Documents Act (PIPEDA), details of which are clearly outlined in the student orientation binder and reproduced in the Collection of Personal Information Consent Form, which is signed on Orientation Day
                            </p>
                        </div>

                        <div>
                            <div class="title-block">
                                <h4>Student Code of Conduct</h4>
                            </div>

                            <p>
                                Students are responsible and accountable for their behaviour on school property and when participating in school-organized activities.*
                            </p>

                            <p>Students at ESC undertake to do the following:</p>

                            <ul class="display-ol">
                                <li>Abide by the laws governing the province of Ontario.</li>
                                <li>Follow school rules as outlined in the Academic Good Standing Policies section of this document.</li>
                                <li>Follow school safety procedures.</li>
                                <li>Respect the equal rights of others regardless of ethnicity, religion, sexuality or gender.</li>
                                <li>Respect school authority.</li>
                                <li>Treat school property and the property of others with respect.</li>
                                <li>Behave in a way that does not harm, or threaten to harm, others either physically or mentally.</li>
                                <li>Refrain from unauthorized sales of goods and services on school property.</li>
                                <li>Refrain from consuming alcohol and/or cannabis in all forms on ESC premises.</li>
                                <li>Refrain from consuming illegal substances in all forms on ESC premises.</li>
                                <li>Refrain from attending school while intoxicated on alcohol, cannabis, or any other form of illegal substances.</li>
       
                            </ul>

                            <p>
                                Failure to abide by the Student Code of Conduct will result in the process outlined in the Violation of Student Code of Conduct section.**
                            </p>

                            <p>
                                * Student conduct for ESC Homestay is dealt with separately in the Canada Homestay International document, Homestay Guide for International Students.
                            </p>

                            <p>
                                ** Procedures and sanctions for Academic Dishonesty are dealt with separately under Good Standing Policies provided to all students in the UCTP Program.
                            </p>

                        </div>




                        <div>
                            <div class="title-block">
                                <h4>Violations of Student Code of Conduct</h4>
                            </div>


                            <ol class="display-ol">
                                <li>The violation will be brought to the attention of the Director by completion of a Student Referral Form by a staff member.</li>
                                <li>The student will initially be informed of a violation by a Counsellor. They will arrange a time and date to meet to discuss the matter. The student will be provided with at least one day’s notice of the meeting. If no Counsellor that speaks the student’s language is available, the student will be provided with the option of arranging for an interlocutor to attend.</li>
                                <li>The student and any student-appointed interlocutor will meet with the Counsellor and/or the Director to discuss the violation. A final meeting will be arranged.</li>
                                <li>
                                    <p>
                                        The attendees from the previous meeting will reconvene at the pre-arranged time and date to outline the findings and any resulting sanctions.
                                    </p>

                                    
                                    <p>Sanctions may include but are not limited to:</p>
                                    <ol>
                                        <li>continued monitoring of behaviour to ensure adherence to the Student Code of Conduct </li>
                                        <li>forfeiture of the school certificate</li>
                                        <li>suspension from school (length is at the discretion of the Director)</li>
                                        <li>expulsion from the school with no refund</li>
                                    </ol>
                                </li>
                                <li>
                                    On completion of the process, documentation including the Student Referral Form, meeting minutes on the findings and sanctions will be kept in the Student File.
                                </li>
                                
                            </ol>
                        </div>



                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content9">
                        <div class="fancy-title title-bottom-border">
                            <h3>Withdrawals and Dismissals</h3>
                        </div>

                        <div>
                            
                            <p>
                                <span class="dropcap">W</span>ithdrawals and cancellations from ESC are subject to the provisions of the ESC Refund Policy.
                            </p>

                            <p>
                                Attendance requirements for individual Focus Programs and UCTP are clearly defined in the Student Course Outlines, which every student receives upon commencement of the course. Should a student fail to meet said requirements, they will be dismissed from that program and return to General ESL Classes.
                            </p>

                            <p>
                                Dismissals from the UCTP Program related to Academic Honesty are dealt with in Student Guidelines: Academic Good Standing: Faculty Member Handling of an Alleged Violation. 
                            </p>

                            <p>
                                Dismissals from ESC are dealt with in Student Guidelines: Student Rights and Responsibilities: Violations of Student Code of Conduct.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col_two_third col_last nobottommargin">
                    <div id="snav-content13">
                        <div class="fancy-title title-bottom-border">
                            <h3>Activity Waiver</h3>
                        </div>
                        <div>
                            <p>
                                <span class="dropcap">A</span>ll school activities may involve personal risk of injury or death. Students assume all risk and take responsibility for participating in school activities. They must follow the rules of English School of Canada. Students release English School of Canada from all claims, demands, actions, and liabilities whatsoever which they or anyone on their behalf had, now have, or may hereafter have for any reason in connection with their participation in school activities.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <script type="text/javascript">
                
                $(document).ready(function(){
                    console.log(document.referrer);
                });


                var refreshPage = function(){
                    setTimeout(function(){
                        console.log(location);
                        window.location.reload();
                    },1000);
                }
                $(function() {
                    $( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
                });
            </script>



     
        </div>


    </div>





</div>




</section>