<!-- Page Title
============================================= -->
<section id="page-title" class="page-title-mini page-title-right">

    <div class="container clearfix">
        <!-- <h1>Junior Programs</h1> -->
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Higher Education Programs</a>
            </li>

        </ol>
    </div>

</section>
<!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">
        <!-- <div class="heading-block center bottommargin-lg" style="margin-top: 50px;">
            <h2>New Programs</h2>
        </div> -->
        <div class="container clearfix">
            <h2>Add you content here ...</h2>
            <P>Higher Education Programs</P>
        </div>

    </div>

</section>
<!-- #content end -->