<section id="page-title" class="page-title-mini page-title-right">
  <div class="container clearfix">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Health Care</li>
    </ol>
  </div>
</section>

<div id="health-care-landing-section">
  <!-- <div class="landing-title center">
    ESSENTIAL ENGLISH FOR
  </div>

  <div class="section-1">
    <div class="container">
      <div class="img-title"></div>
      <div class="section-description-1">
        A unique program for health care students or individuals working in the
        health care field who want to expand their specialized knowledge of
        English for health care through an integrated learning experience.
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="container">
      <div class="section-description-1">
        A unique program for health care students or individuals working in the
        health care field who want to expand their specialized knowledge of
        English for health care through an integrated learning experience.
      </div>
    </div>
  </div> -->

  <div class="container desktop">
    <div class="logo-click">
      <a href="/"><div class="click"></div></a>
    </div>
    <img
      src="/images/banner/hc-landing-desktop.jpg"
      alt="health care landing page descktop"
    />
  </div>
</div>
