<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Junior Programs</h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Junior Programs</a></li>
            <li class="active">Side Navigation</li>
        </ol>
    </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div id="side-navigation">

                <div class="col_one_third nobottommargin">

                    <ul class="sidenav">
                        <li><a href="#snav-content1"><i class="icon-screen"></i>Toronto Summer Kids Programs<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content2"><i class="icon-magic"></i>Toronto Summer Teens Programs<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content3"><i class="icon-tint"></i>Kingston Summer Teens Programs<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content4"><i class="icon-gift"></i>Family Programs<i class="icon-chevron-right"></i></a></li>
                        <li><a href="#snav-content5"><i class="icon-gift"></i>Year Round Programs<i class="icon-chevron-right"></i></a></li>
                    </ul>

                </div>

                <div class="col_two_third col_last nobottommargin">

                    <div id="snav-content1">

                        <div class="fancy-title title-bottom-border">
                            <h3>Toronto Summer Kids Program </h3>
                        </div>

                        
                        <!-- <img class="alignright img-responsive" src="/assets/images/landing/responsive.png" alt=""> -->
                        
                        <div class="title-block">
                            <h4>Overview</h2>
                        </div>
                        <p>
                            <span class="dropcap">T</span>his program is dedicated to children around the world who are from 9 to 13 years old age only and are looking for a high quality English summer camp in the city of Toronto. The program is a combination of English lessons, excursions and activities for them. It is hosted at the University of Toronto downtown campus where everything happens for them; English classes, residence, cafeteria and a lot more. The program is offered in two options. Residential and Day Program/Self-arranged. The residential program is for those students who live in the residence and take the full program, while the Day Program/Self-arranged one is dedicated to students who participate in the program from Monday to Friday from 09:00 – 18:00. Usually the students in this program live with family or relatives in the city of Toronto. 
                        </p>
                  

                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th colspan="2">
                                        <div class="title-block">
                                            <h5>Sample schedule Monday to Friday</h5>
                                        </div>
                                      </th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="width:130px">07:00</td>
                                      <td>Wake up </td>
                                    </tr>
                                    <tr>
                                      <td>07:30 – 08:30</td>
                                      <td>Breakfast</td>
                                    </tr>
                                    <tr>
                                      <td>09:00 – 12:30 </td>
                                      <td>English classes</td>
                                    </tr>
                                    <tr>
                                      <td>12:30 – 13:30</td>
                                      <td>Lunch</td>
                                    </tr>
                                    <tr>
                                      <td>14:00 – 18:00</td>
                                      <td>Afternoon event/excursion</td>
                                    </tr>
                                    <tr>
                                      <td>18:00 – 19:00</td>
                                      <td>Dinner</td>
                                    </tr>
                                    <tr>
                                      <td>19:30 – 21:00</td>
                                      <td>Evening event/excursion</td>
                                    </tr>
                                    <tr>
                                      <td>22:00</td>
                                      <td>Quiet hours and lights out </td>
                                    </tr>
                                  </tbody>
                                </table>

                            </div>

                            <div class="col-md-6">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th colspan="2">
                                        <div class="title-block">
                                            <h5>Sample schedule Saturday and Sunday</h5>
                                        </div>
                                      </th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="width:130px">08:00</td>
                                      <td>Wake up</td>
                                    </tr>
                                    <tr>
                                      <td>07:30 – 08:30</td>
                                      <td>Breakfast</td>
                                    </tr>
                                    <tr>
                                      <td>09:00 – 17:00</td>
                                      <td>Trip of the day </td>
                                    </tr>
                            
                                    <tr>
                                      <td>18:00 – 19:00</td>
                                      <td>Dinner</td>
                                    </tr>
                                    <tr>
                                      <td>19:30 – 21:00</td>
                                      <td>Evening event/excurs</td>
                                    </tr>
                                    <tr>
                                      <td>22:00</td>
                                      <td>Quiet hours and lights</td>
                                    </tr>
                                  </tbody>
                                </table>

                            </div>


                        </div>


                        <div class="title-block">
                            <h4>The residential life and campus</h4>
                        </div>
                        <p>
                            <span class="dropcap">T</span>he program is hosted at the University of Toronto’s downtown campus at the heart of the city, close to Bay and Museum subway stations and walking distance to great local attractions. The residence hosting the students offers a wide array of amenities.
                        </p>
                        <p>
                            Single and double rooms are available for the students. Each room offers bed, drawer, desk, chair, dresser and internet access. Linen are changed every 7 days for the students as well as general maintenance of the room. Washrooms and showers are shared with other students. 
                        </p>
                        <p>
                            The cafeteria is a 2 minute walk from the residence, where students are offered an all-you-can-eat, buffet style options daily. 
                            
                        </p>
                        <div>
                            <a target="_blank" href="/downloads/pdf/CampusFactSheet.pdf">Click here to see pictures of the campus and campus fact sheet</a>
                        </div>



                        <div class="title-block">
                            <h4>Academics and English classes</h4>
                        </div>
                        <p>
                            <span class="dropcap">S</span>tudents take 20 English classes per week, Monday to Friday in the mornings and they are also hosted inside the campus. The classrooms are within 5 minute walk from the residence. 

                        </p>
                        
                        <div class="title-block">
                            <h4>Activities and social program </h4>
                        </div>
                        <p>
                            <span class="dropcap">A</span>t ESC we are proud to offer full activity calendar to our students. 7 days a week, every afternoon and every evening we have an event, activity or excursion for our students. Activities and events for our kids take into consideration their age and are built to enhance not only their English skills but above all their whole experience in Toronto with us. 
                            All tickets and all expenses of the activities and events that we organize and already paid for and children only have to enjoy them. 


                            <div><a target="_blank" href="/downloads/pdf/ActivityCalendar2016STP.pdf">Click here to view the 2016 activities calendar </a> </div>
                            
                        </p>

                        <div class="title-block">
                            <h4>Frequently Asked Questions </h4>
                        </div>
                        <p>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">1. How old are the children participating in this program? </h3>
                                </div>
                                <div class="panel-body">
                                    This program is built only for students from 9 to 13 years of age inclusive. 
                                </div>
                            </div>
                            
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">2. What is the official address of the campus?</h3>
                                </div>
                                <div class="panel-body">
                                    The address is 70 St Mary Street Toronto, Ontario 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">3. Who will pick up my child at the airport?</h3>
                                </div>
                                <div class="panel-body">
                                    We will. As soon as we receive the right flight info we will be at the right place to pick them up
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">4. When can my child join the program?</h3>
                                </div>
                                <div class="panel-body">
                                    The residential summer camp runs from June 18 to August 14 and students can join any weekend day. For the Day Program/self-arranged they can start any Monday
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">5. Can my child leave campus alone?</h3>
                                </div>
                                <div class="panel-body">
                                    Never, unless they are accompanied by a staff member or an authorized family member 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">6. What is the program emergency phone number?</h3>
                                </div>
                                <div class="panel-body">
                                    It is +1 416 305 3143 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">7. Can my child bring his/her cell phone?</h3>
                                </div>
                                <div class="panel-body">
                                    Yes they can, but it is strictly prohibited during classes and other official events and we reserve the right to temporarily take it away from them if it disrupts the program and its goals. 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">8. How much pocket money do you recommend? </h3>
                                </div>
                                <div class="panel-body">
                                    We recommend $50-$75 weekly (although spending habits are very personal) 
                                </div>
                            </div>
                            
                            <a  target="_blank" href="/downloads/pdf/KingstonProgramGuide.pdf">Click here to see more information on the program and its details </a>
                            
                        </p>



                    </div>

                    <div id="snav-content2">
                        <div class="fancy-title title-bottom-border">
                            <h3>Toronto Summer Teen Program </h3>
                        </div>



                        <div class="title-block">
                            <h4>Overview</h4>
                        </div>
                        <p>
                            <span class="dropcap">T</span>his program is dedicated to teenagers around the world who are from 14 to 17 years old age only and are looking for a high quality English summer camp in the city of Toronto. The program is a combination of English lessons, excursions and activities for them. It is hosted at the University of Toronto downtown campus where everything happens for them; English classes, residence, cafeteria and a lot more. The program is offered in two options. Residential and Day Program/Self-arranged. The residential program is for those students who live in the residence and take the full program, while the Day Program/Self-arranged one is dedicated to students who participate in the program from Monday to Friday from 09:00 – 18:00. Usually the students in this program live with family or relatives in the city of Toronto. 
                            
                        </p>

                        

                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th colspan="2">
                                        <div class="title-block">
                                            <h5>Sample schedule Monday to Friday</h5>
                                        </div>
                                      </th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="width:130px">07:00</td>
                                      <td>Wake up </td>
                                    </tr>
                                    <tr>
                                      <td>07:30 – 08:30</td>
                                      <td>Breakfast</td>
                                    </tr>
                                    <tr>
                                      <td>09:00 – 12:30</td>
                                      <td>English classes</td>
                                    </tr>
                                    <tr>
                                      <td>12:30 – 13:30</td>
                                      <td>Lunch</td>
                                    </tr>
                                    <tr>
                                      <td>14:00 – 18:00</td>
                                      <td>Afternoon event/excursion</td>
                                    </tr>
                                    <tr>
                                      <td>18:00 – 19:00</td>
                                      <td>Dinner</td>
                                    </tr>
                                    <tr>
                                      <td>19:30 – 21:30</td>
                                      <td>Evening event/excursion</td>
                                    </tr>
                                    <tr>
                                      <td>22:30</td>
                                      <td>Quiet hours and lights out </td>
                                    </tr>
                                  </tbody>
                                </table>

                            </div>

                            <div class="col-md-6">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th colspan="2">
                                        <div class="title-block">
                                            <h5>Sample schedule Saturday and Sunday</h5>
                                        </div>
                                      </th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="width:130px">08:00</td>
                                      <td>Wake up</td>
                                    </tr>
                                    <tr>
                                      <td>07:30 – 08:30</td>
                                      <td>Breakfast</td>
                                    </tr>
                                    <tr>
                                      <td>09:00 – 17:00</td>
                                      <td>Trip of the day </td>
                                    </tr>
                            
                                    <tr>
                                      <td>18:00 – 19:00</td>
                                      <td>Dinner</td>
                                    </tr>
                                    <tr>
                                      <td>19:30 – 21:30</td>
                                      <td>Evening event/excurs</td>
                                    </tr>
                                    <tr>
                                      <td>22:30</td>
                                      <td>Quiet hours and lights</td>
                                    </tr>
                                  </tbody>
                                </table>

                            </div>


                        </div>

                        <div class="title-block">
                            <h4>The residential life and campus</h4>
                        </div>
                        <p>
                            

                            <span class="dropcap">T</span>he program is hosted at the University of Toronto’s downtown campus at the heart of the city, close to Bay and Museum subway stations and walking distance to great local attractions. The residence hosting the students offers a wide array of amenities. 
                            Single and double rooms are available for the students. Each room offers bed, drawer, desk, chair, dresser and internet access. Linen are changed every 7 days for the students as well as general maintenance of the room. Washrooms and showers are shared with other students. 
                            The cafeteria is a 2 minute walk from the residence, where students are offered an all-you-can-eat, buffet style options daily. 
                            
                        </p>
                        <a  target="_blank" href="/downloads/pdf/CampusFactSheet.pdf">Click here to see pictures of the campus and campus fact sheet</a>
                        



                        
                        <div class="title-block">
                            <h4>Academics and English classes</h4>
                        </div>
                        <p>
                            <span class="dropcap">S</span>tudents take 20 English classes per week, Monday to Friday in the mornings and they are also hosted inside the campus. The classrooms are within 5 minute walk from the residence. Teenagers have two options for the academics. They can take the general English program OR they can register for the Focus English program (IELTS preparation course. A minimum level 7 is required for this)
                            Activities and social program 
                            At ESC we are proud to offer full activity calendar to our students. 7 days a week, every afternoon and every evening we have an event, activity or excursion for our students. Activities and events for our teenagers take into consideration their age and are built to enhance not only their English skills but above all their whole experience in Toronto with us. We do a lot of projects based activities with them and we engage them into doing things that are interesting for them
                            All tickets and all expenses of the activities and events that we organize and already paid for and teens only have to enjoy them. 
                            
                        </p>
                        <a target="_blank" href="/downloads/pdf/ActivityCalendar2016STP.pdf">Click here to view the 2016 activities calendar </a>


                        <div class="title-block">
                            <h4>Frequently Asked Questions </h4>
                        </div>
                        <p>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">1. How old are the children participating in this program? </h3>
                                </div>
                                <div class="panel-body">
                                    This program is built only for students from 14 to 17 years of age inclusive. 
                                </div>
                            </div>
                            
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">2. What is the official address of the campus?</h3>
                                </div>
                                <div class="panel-body">
                                    The address is 70 St Mary Street Toronto, Ontario  
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">3. Who will pick up my child at the airport?</h3>
                                </div>
                                <div class="panel-body">
                                    We will. As soon as we receive the right flight info we will be at the right place to pick them up
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">4. When can my child join the program?</h3>
                                </div>
                                <div class="panel-body">
                                    The residential summer camp runs from June 18 to August 14 and students can join any weekend day. For the Day Program/self-arranged they can start any Monday 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">5. Can my child leave campus alone?</h3>
                                </div>
                                <div class="panel-body">
                                    Sometimes we allow teenagers to explore the close neighborhoods on their own. This is only possible if we have a written permission signed by parents sent to us prior to the program start. 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">6. What is the program emergency phone number?</h3>
                                </div>
                                <div class="panel-body">
                                    It is +1 416 305 3143 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">7. Can my child bring his/her cell phone?</h3>
                                </div>
                                <div class="panel-body">
                                    Yes they can, but it is strictly prohibited during classes and other official events and we reserve the right to temporarily take it away from them if it disrupts the program and its goals. 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">8. How much pocket money do you recommend? </h3>
                                </div>
                                <div class="panel-body">
                                    We recommend $75-$100 weekly (although spending habits are very personal) 
                                </div>
                            </div>
                            
                            <a target="_blank" href="/downloads/pdf/KingstonProgramGuide.pdf">Click here to see more information on the program and its details </a>
                            
                        </p>

               

                    </div>

                    <div id="snav-content3">
                        <div class="fancy-title title-bottom-border">
                            <h3>Kingston Summer Teen Program</h3>
                        </div>


                        <div class="title-block">
                            <h4>Overview</h4>
                        </div>
                        <p>
                            <span class="dropcap">T</span>he summer camp is an amazing opportunity for students from 14 to 17 years old to get to know Canada, its education system and learn useful knowledge. The program will be a combination of academic learning, workshops, visits to attractions and cultural learning tours. The program is built with teenagers in mind and taking into account what they want for their future. It is going to be an all-inclusive program and it will run in July and August 2016
                        </p>



                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th colspan="2">
                                        <div class="title-block">
                                            <h5>Sample schedule Monday to Friday</h5>
                                        </div>
                                      </th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="width:130px">07:30</td>
                                      <td>Wake up </td>
                                    </tr>
                                    <tr>
                                      <td>08:00 – 09:00</td>
                                      <td>Breakfast</td>
                                    </tr>
                                    <tr>
                                      <td>09:00 – 13:15</td>
                                      <td>Academics</td>
                                    </tr>
                                    <tr>
                                      <td>13:30 – 14:30</td>
                                      <td>Lunch</td>
                                    </tr>
                                    <tr>
                                      <td>15:00 – 18:00</td>
                                      <td>Afternoon event/excursion</td>
                                    </tr>
                                    <tr>
                                      <td>18:00 – 19:00</td>
                                      <td>Dinner</td>
                                    </tr>
                                    <tr>
                                      <td>19:30 – 21:00 </td>
                                      <td>Evening event/excursion</td>
                                    </tr>
                                    <tr>
                                      <td>22:00</td>
                                      <td>Quiet hours and lights out </td>
                                    </tr>
                                  </tbody>
                                </table>

                            </div>

                            <div class="col-md-6">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th colspan="2">
                                        <div class="title-block">
                                            <h5>Sample schedule Saturday and Sunday</h5>
                                        </div>
                                      </th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="width:130px">08:00</td>
                                      <td>Wake up</td>
                                    </tr>
                                    <tr>
                                      <td>08:00 – 09:00</td>
                                      <td>Breakfast</td>
                                    </tr>
                                    <tr>
                                      <td>09:00 – 17:00</td>
                                      <td>Trip of the day </td>
                                    </tr>
                            
                                    <tr>
                                      <td>18:00 – 19:00</td>
                                      <td>Dinner</td>
                                    </tr>
                                    <tr>
                                      <td>19:30 – 21:00</td>
                                      <td>Evening event/excurs</td>
                                    </tr>
                                    <tr>
                                      <td>22:00</td>
                                      <td>Quiet hours and lights</td>
                                    </tr>
                                  </tbody>
                                </table>

                            </div>


                        </div>




                        <div class="title-block">
                            <h4>The residential life and campus</h4>
                        </div>
                        <p>
                            <span class="dropcap">A</span>n important component of the life of a student in a summer camp will be the living on campus. St Lawrence College offers great facilities that students can benefit from. En-suite bathrooms, air-conditioned rooms, gym, outdoor fields and a lot more are available for students. Students are supervised 24/7 from our staff and we will always be there for them when needed. 
                        </p>
                        <p>
                            Girls and boys live in different areas of the residence with our staff living together with them in the same area. Whether they are learning in the classroom or outdoors our staff is going to always be there. Our staff is experienced and trained to work with teenagers from different cultures and we also speak your language if it is necessary. 
                        </p>
                        <a target="_blank" href="/downloads/pdf/CampusFactSheet.pdf">Click here to see pictures of the campus </a>



                        <div class="title-block">
                            <h4>Academics and English classes</h4>
                        </div>

                        <h5>The Academic component will be focused on achieving the following results:</h5>

                        <p>
                            <div class="subtitle">Language acquisition</div>
                            ESC is a leader in English teaching for young students. We have successfully run programs for more than 10 years. This will be done through classes that are focused on language learning components specifically such as grammar, conversation, reading and writing 
                        </p>
                        <p>
                            <div class="subtitle">Understanding of education system in Canada</div>
                            Some of the classes will be focused exclusively on teaching the students how education system works in Canada, what to expect when learning in a post-secondary institution, learning tips and what it offers to international students

                        </p>
                        <p>
                            <div class="subtitle">Specific knowledge of different subjects</div>
                            Students through different workshops and invitation to different classes will be exposed to a few departments of higher education and experience it hands on the benefits of studying in a post-secondary institution in Canada, how classes are run and the technologies used
                        </p>
                        <p>
                            <div class="subtitle">Other information on Canada and its opportunities</div>
                            Through these classes and workshops students will learn about all opportunities that exist in Canada as well as how educational, cultural and learning institutions work. For example visits to public libraries, workshop on living in Canada and other
                        </p>
                        
                       

                        <div class="title-block">
                            <h4>Activities and social program</h4>
                        </div>
                        <p>
                            <span class="dropcap">T</span>his component of the program is also vital for the students as it ensures that they are actually experiencing the theory with their own eyes. Visiting educational institutions, museums and famous world renowned landmarks will expose them to what Canada has to offer. Niagara Falls, Toronto, Montreal, Ottawa, Camping, Hiking, Museum visits etc. are only some of the amazing places and things that students will get to see and do
                        </p>
                        <p>
                            All tickets and all expenses of the activities and events that we organize and already paid for and children only have to enjoy them. 
                        </p>
                        <a target="_blank" href="/downloads/pdf/ActivityCalendar2016STP.pdf">Click here to view the 2016 activities calendar </a>



                        <div class="title-block">
                            <h4>Frequently Asked Questions </h4>
                        </div>
                        <p>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">1. How old are the children participating in this program? </h3>
                                </div>
                                <div class="panel-body">
                                    This program is built only for students from 9 to 13 years of age inclusive. 
                                </div>
                            </div>
                            
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">2. What is the official address of the campus?</h3>
                                </div>
                                <div class="panel-body">
                                    The address is 70 St Mary Street Toronto, Ontario 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">3. Who will pick up my child at the airport?</h3>
                                </div>
                                <div class="panel-body">
                                    We will. As soon as we receive the right flight info we will be at the right place to pick them up
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">4. When can my child join the program?</h3>
                                </div>
                                <div class="panel-body">
                                    The residential summer camp runs from June 18 to August 14 and students can join any weekend day. For the Day Program/self-arranged they can start any Monday 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">5. Can my child leave campus alone?</h3>
                                </div>
                                <div class="panel-body">
                                    Never, unless they are accompanied by a staff member or an authorized family member 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">6. What is the program emergency phone number?</h3>
                                </div>
                                <div class="panel-body">
                                    It is +1 416 305 3143 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">7. Can my child bring his/her cell phone?</h3>
                                </div>
                                <div class="panel-body">
                                    Yes they can, but it is strictly prohibited during classes and other official events and we reserve the right to temporarily take it away from them if it disrupts the program and its goals. 
                                </div>
                            </div>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">8. How much pocket money do you recommend? </h3>
                                </div>
                                <div class="panel-body">
                                    We recommend between $50-$75 weekly (although spending habits are very personal) 
                                </div>
                            </div>
                            
                            <a target="_blank" href="/downloads/pdf/KingstonProgramGuide.pdf">Click here to see more information on the program and its details</a>
                            
                        </p>



                    </div>






                    <div id="snav-content4">
                        
                        <div class="fancy-title title-bottom-border">
                            <h3>Family Programs</h3>
                        </div>

                        <p>
                            <span class="dropcap">O</span>ur family programs are an amazing opportunity for families around the world to spend some great time in the city of Toronto during the summer and have an amazing vacation. The program runs at the same time as the summer camps for children and teenagers. We offer families options to be hosted in other host families or in apartments. During the week children participate in our Day Program/Self-Arranged option, while parents take classes at our adult center with other adults. 
                        </p>


                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th colspan="2">
                                        <div class="title-block">
                                            <h4>Schedule for parents </h4>
                                        </div>
                                      </th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="width:130px">08:55</td>
                                      <td>Drop child at junior camp location</td>
                                    </tr>
                                    <tr>
                                      <td>10:00 – 13:00</td>
                                      <td>English classes</td>
                                    </tr>
                                    <tr>
                                      <td>18:00</td>
                                      <td>Pick up your child</td>
                                    </tr>
                                   
                                  </tbody>
                                </table>

                            </div>

                            <div class="col-md-6">
                                <table class="table table-hover">
                                  <thead>
                                    <tr>
                                      <th colspan="2">
                                        <div class="title-block">
                                            <h4>Schedule for children</h4>
                                        </div>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td style="width:130px">08:55</td>
                                      <td>Arrive at junior camp location</td>
                                    </tr>
                                    <tr>
                                      <td>09:00 – 18:00</td>
                                      <td>Junior program</td>
                                    </tr>
                                    <tr>
                                      <td>18:00</td>
                                      <td>Meet your parent</td>
                                    </tr>
                                  </tbody>
                                </table>

                            </div>


                        </div>


                        <p>The schedule is from Monday to Friday. Evenings and weekends are for families to enjoy together and visit what this city has to offer. As a bonus we offer families a free trip to Niagara Falls for the entire family! </p>


                        <div class="title-block">
                            <h4>Accommodations</h4>
                        </div>
                        <div>
                            <p>We offer families two main options</p>
                            <p>1. Host families. This option comes with two meals a day (breakfast and dinner). Host families are located around the city and are on average between 30 – 40 minutes walk away from the schools </p>
                            <p>
                                2. Apartments. We work with TownInn and offer families amazing option in an apartment style. This option has no meals included but offers families full kitchen. The apartments are walking distance from the junior camp location and about 15 minutes commute from the adult center. 
                            </p>    

                            


                        </div>


                        <div class="title-block">
                            <h4>Frequently Asked questions</h4>
                        </div>
                        <p>

                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">1. What are the dates of the program?</h3>
                                </div>
                                <div class="panel-body">
                                    The program starts June 18 and finishes on August 14, 2016
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">2. What does the junior program include for children?</h3>
                                </div>
                                <div class="panel-body">
                                    It includes: tuition, lunches every day from Mon to Fri, and all afternoon activities and events 
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">3. What is the address of the adult school? Junior center?</h3>
                                </div>
                                <div class="panel-body">
                                    The adult school is located at 79 St Clair Street East Toronto Ontario and the junior camp is located at 70 St Mary Street Toronto Ontario 
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">4. Do the parents have to take English classes?</h3>
                                </div>
                                <div class="panel-body">
                                    Our packages include this option, however if the parents wish not to take classes it is possible 
                                </div>
                            </div>
                        </p>
                    </div>






                    <div id="snav-content5">
                        <div class="fancy-title title-bottom-border">
                            <h3>Toronto Year Round Programs</h3>
                        </div>
                        


                        <div class="title-block">
                            <h4>Overview</h4>
                        </div>
                        <p>The programs throughout the year are intended for students or groups that are willing to come to Toronto and experience a great vacation study program. The programs are most of the time customized and are built as per group wish. </p>
                        <p>The programs are run at any time of the year from September to May. You can choose your time of travel, the number and type of lessons you want (or may be no lessons at all), accommodation options and other services including a social program with activities and excursions that better suits you</p>
                        
                        <p>You can build a program by choosing : </p>
                        <p>
                            Trip duration <br>
                            Number of lessons (or not) <br>
                            Accommodation options (host family or any other available option) <br>
                            Meal options  <br>
                            Number of activities and excursions  <br>
                            Airport pick up and drop off  <br>
                            Transportation options 

                        </p>
                        
                        <p>During the year you also have the option of experiencing Canadian private high schools and immersing into the daily learning with other students. All you have to do is what you want and we will make it happen </p>
                        





                    </div>


                </div>

            </div>

            <script>

              $(function() {
                $( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
              });
            </script>
            <style type="text/css">
                .title-block{
                    margin-top: 80px
                }

                .subtitle{

                    color: #1ABC9C;
                    margin: 10px 0;
                }
            </style>
        </div>

    </div>

</section><!-- #content end -->


