


<section id="page-title">

    <div class="container clearfix">
        <h1>Online Test</h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Event Calendar</a></li>
           
        </ol>
    </div>

</section>



<!-- <script type="text/javascript" src="assets/js/functions.js"></script> -->
<section ng-controller="OnlineTestCtrl" id="online-test" >
	<div class="content-wrap">
		 <section id="section-course" class="page-section">
		 	<div class="container clearfix">
                <div class="row"> 
                    <div class="container clearfix" ng-show="started == false ">
                        <div class="fancy-title title-dotted-border title-center">
                            <h4>Note: You have <span>30</span> minutes to complete the test.</h4>
                        </div>

                        <div>

                            <div class="col_one_third">
                                <label for="template-contactform-name">First Name <small>*</small></label>
                                <input type="text" id="template-contactform-name" name="name" ng-model="firstname" class="sm-form-control required ng-pristine ng-valid ng-touched user-success" style="">
                            </div>

                            <div class="col_one_third">
                                <label for="template-contactform-name">Last Name <small>*</small></label>
                                <input type="text" id="template-contactform-name" name="name" ng-model="lastname" class="sm-form-control required ng-pristine ng-valid ng-touched user-success" style="">
                            </div>
                        </div>

                        <div>

                            <div class="col_one_third">
                                <label for="template-contactform-name">Email <small>*</small></label>
                                <input type="text" id="template-contactform-name" name="email" ng-model="email" class="sm-form-control required ng-pristine ng-valid ng-touched user-success" style="">
                            </div>

                            <div class="col_one_third">
                                <label for="template-contactform-name">Country<small>*</small></label>
                                <select name="type" ng-model="question.type" class="sm-form-control" ng-options="country for country in countries" >
                                </select>
                            </div>
                        </div>
                        <div class="col_full">
                            <button class="button button-3d nomargin" type="submit" id="template-contactform-submit" name="submit" value="submit" ng-click="start()">Start Test</button>
                          
                        </div>

                        <!-- <div class="divider"><i class="icon-circle"></i></div> -->
                        

                    </div>

                    <div class="container clearfix online-test-seaction" ng-show="started==true&&done!=true">

                        
                        
                            <!-- <div class="divider divider-rounded"><i class="icon-connection-empty"></i></div> -->
                            <div class="style-msg successmsg">
                                <div class="sb-msg">
                                    <i class="icon-info-sign"></i>
                                    {{questions[index].subTitle}}
                                </div>
                            </div>
                            <div class="test-question" ng-show="questions[index].type == 'Multiple Choice'">
                                {{getFirstPartOfQuestion(questions[index])}} 
                                ______ 
                                {{getLastPartOfQuestion(questions[index])}} 
                            </div>

                            <div class="test-question" ng-show="questions[index].type == 'Sentence Completion'">
                                {{getFirstPartOfQuestion(questions[index])}} 
                                <input type="text" class="answer-input" ng-model="currentAnswer" placeholder="Input here..." >
                                {{getLastPartOfQuestion(questions[index])}} 
                            </div>

                            <div>

                            </div>

                            <div ng-show="questions[index].type == 'Multiple Choice'">
                                <p ng-repeat="answer in questions[index].answers " >
                                    <label ng-click="selectAnswer(index,answer.title)" > <input name="m" type="radio" >  {{answer.title}}</label> 
                                </p>
                            </div>

                            <div>
                               

                                <a href="javascript:void(0)" ng-class="{ 'button-white  button-light': currentAnswer == '', 'button-brown' : currentAnswer != ''}" ng-click="next()"  class="button button-3d button-rounded  "><i class="icon-play-circle"></i>Next Question</a>

                                <!-- <a href="javascript:void(0)" ng-click="done()" class="button button-3d button-rounded button-brown right"><i class="icon-play-circle"></i>Finish</a> -->
                            </div>
                    
                        
                    </div>

                    <div class="container clearfix online-test-seaction" ng-show="done==true">

                        <h2>Thank you very much. All questions has been filled.</h2>
                        <P>please click the submit button to subite your test to us.</P>

                        <div>
                              <a href="javascript:void(0)" ng-click="submitTest()"  class="button button-3d button-rounded button-brown "><i class="icon-play-circle"></i>Submit</a>
                        </div>
                    </div>
                </div>
                </div>
		 	</div>
		 </div>
	</div>
</div>
<div style="margin-bottom:100px"></div>









