<script type="text/javascript">
	var url_params = <%- JSON.stringify(url_params) %>
</script>

<section id="page-title"  class="page-title-mini page-title-right">

    <div class="container clearfix">
       <!--  <h1>Online Test</h1> -->
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">Partners</a></li>
           
        </ol>
    </div>

</section>



 <section ng-controller="PartnerDetailCtrl" id="partner-detail" >
     <div class="container clearfix" >
      	<div class="content-wrap">

	        <div class="heading-block center bottommargin-lg" style="margin-top: 50px;">
	            <h2>Our Partners</h2>
	        </div>
	        <div class="partner-content">


		      	<div class="detail-section" >
					

				<div class="row">
					<div class="col-md-4 partner-sidebar">

						<!-- <div class="">
							<a href="/partner" class="button button-desc">
								<div>
									Search Again
									<span>Find more our partners</span>
								</div>
							</a>
						</div>	 -->

	                    <ul class="sidenav">
	                        <li class="ui-tabs-active"><a href="/partner"><i class="fa fa-chevron-left"></i>Find more our partners, click here...</a></li>
	       
	                    </ul>
						<div class="partner-info">
								
							<div class="center">
								<img style="max-width: 250px; max-height: 100px" src="{{partnerDetail.cover.thumbnail}}">
							</div>
							
							<hr>
							<p>{{partnerDetail.description}}</p>
							<div>
								<h5>Available Programs</h5>
								<span class="tag" ng-repeat="tag in partnerDetail.tags ">{{tag}}</span> 
							</div>

						</div>

		

					</div>

					<div class="col-md-8">
                        <div class="fancy-title title-bottom-border">
                            <h3>our partner <span>{{partnerDetail.name}}</h3>
                        </div>


						<div class="partner-name">
							<h3></h3>
						</div>
						<p>
							<div ng-bind-html="partnerDetail.content | unsafe"></div>
						</p>
								
					</div>
					
				</div>

					

		      	</div>

	        </div>
	        <div style="clear: both"></div>

	    </div>
    </div>
</section>
