
<section id="page-title"  class="page-title-mini page-title-right">

    <div class="container clearfix">
       <!--  <h1>Online Test</h1> -->
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">Partners</a></li>
           
        </ol>
    </div>

</section>

<!-- <section ng-controller="OnlineTestCtrl" id="online-test" >
	<div class="content-wrap">
        <div class="heading-block center bottommargin-lg">
            <h2>Online Test</h2>
        </div>

    </div>
</section>
 -->


 <section ng-controller="OnlineTestCtrl" id="online-test" >
	<div class="content-wrap">
        <div class="heading-block center bottommargin-lg">
            <h2>Online Test</h2>
        </div>

    </div>

     <div class="container clearfix" >
      	

      	<div>
      		<ul>
      			<li>fdasfd</li>
      		</ul>
      	</div>


    </div>
</section>
