
<section id="page-title"  class="page-title-mini page-title-right">

    <div class="container clearfix">
       <!--  <h1>Online Test</h1> -->
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">Partners</a></li>
           
        </ol>
    </div>

</section>

<!-- 
 <section ng-controller="PartnerCtrl" id="partners" >
     <div class="container clearfix" >
      	<div class="content-wrap">
	        <div>
	            <h2>Our Partners</h2>
	        </div>


	        <div class="partner-content">
		        <div class="list-section" >
			        <div class="row">
			        	<div class="search-bar col-md-8">
				     		<i class="fa fa-search search-icon" aria-hidden="true"></i>
				     		<autocomplete   ng-model="keywordEnter" data="data" ng-enter="enterKeyword()" ></autocomplete>
				     		<i ng-show="keywordEnter!=''" class="fa fa-times close-icon" aria-hidden="true" ng-click="clearSearch()"></i>
				     	</div>	
				     	<div class="col-md-4 search-by">
				     		<label>by</label>
				     		<span style="font-size: 22px;font-style: italic; font-weight: bold; color: #333">Keyword</span>
				     	</div>
			        </div>
			     	

			     	<div class="search-msg" ng-show="keyword!=''">
			     		Search Result for Partner has program : <strong>{{keyword}}</strong>
			     	</div>


	        </div>
	        <div style="clear: both"></div>


	      	<div class="partner-list">
		      		<div ng-click="showDetail(partner._id)" class="col-md-3 col-sm-6 content" ng-class=" { 'hide-partner' : !partnerHasTag(partner)}"  ng-repeat="partner in partners" >
		      			<div class="partner-detail">
			      			<div class="logo">
		      					<img src="{{partner.cover.thumbnail}}" alt="{{partner.name}}">
		      				</div>
		      				<label class="partner-name">{{partner.name}}</label>	 				
		      			</div>
		      		</div>
	
		      	</div>
	        </div>
	    </div>
    </div>
</section> -->


        <!-- Content
        ============================================= -->
        <section id="content" ng-controller="PartnerCtrl" >

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin col_last clearfix">

                        <div class="single-post nobottommargin">


<!--                             <div class="entry clearfix">
                                <div class="entry-title">
                                    <h2>This is a Standard post with a Preview Image</h2>
                                </div>
                            </div>
 -->
                            <div class="partner-list">
					      		<!-- <div ng-click="showDetail(partner._id)" class="col-md-3 col-sm-6 content" ng-class=" { 'hide-partner' : !partnerHasTag(partner)}"  ng-repeat="partner in partners" > -->
					      		<div ng-click="showDetail(partner._id)" class="col-md-3 col-sm-6 content" ng-class="{'hide-partner': isSelectedCategory(partner.categories) == false}" ng-repeat="partner in partners" >
					      			<div class="partner-detail">
						      			<div class="logo">
					      					<img src="{{partner.cover.thumbnail}}" alt="{{partner.name}}">
					      				</div>
					      				<label class="partner-name">{{partner.name}}</label>	 				
					      			</div>
					      		</div>
				      		</div>
                        </div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin clearfix">
                        <div class="sidebar-widgets-wrap">

                        	<h4>Choose your area</h4>
                        	<h5 ng-click="showAllCategory()">Show All Arews</h5>
					        <div class="partner-area-content">
					        
					        		<div class="partner-area"  ng-click="changeSelectedCategory(area._id)" ng-repeat="area in areas">
					        			<div class="content">
						        			<h4>{{area.name}}</h4>
						        			<img src="{{area.cover.thumbnail}}">
					        			</div>

					        		</div>
					        
					        </div>

                       <!--      <div class="widget clearfix">
                                <h4>Flickr Photostream</h4>
                                <div id="flickr-widget" class="flickr-feed masonry-thumbs" data-id="613394@N22" data-count="16" data-type="group" data-lightbox="gallery"></div>
                            </div>
 -->
                            
 

                        </div>

                    </div><!-- .sidebar end -->

                </div>

            </div>

        </section><!-- #content end -->


