        <section id="page-title" class="page-title-mini">

            <div class="container clearfix">
                <h1>OUR PHILOSOPHY</h1>
                <span>Everything you need to know about our School</span>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    
                    <li class="active">OUR PHILOSOPHY</li>
                </ol>
            </div>

        </section>    

        <section id="section-team" class="page-section topmargin-lg">

            <div class="heading-block center">
                <h2>OUR PHILOSOPHY</h2>
                <span>People who have contributed enormously to our Company.</span>
            </div>

            <div class="container clearfix">

                
            
            </div>

           

        </section>
