<div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;">

    <!-- Content
    ============================================= -->

    <section id="page-title"  class="page-title-mini page-title-right">

        <div class="container clearfix">
           <!--  <h1>Online Test</h1> -->
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="#">Pre Arrival</a></li>
               
            </ol>
        </div>

    </section>



    <section id="content">

        <div class="content-wrap">

            <div class="container center clearfix">

                <div class="heading-block center">
                    <h1>Pre Arrival</h1>
                </div>
            </div>

            <div class="container center clearfix">
                <h3>Welcome to the English School of Canada!</h3>
                <h4>Please take a look at your Orientation Day schedule:</h4>
            </div>
            <div class="container clearfix" style="padding: 60px 0">
                <img src="/images/clients/arrival/firstDayChart.png">
            </div>
            <div class="container clearfix">

                 <blockquote>
                 <p>
                        On the first day of school our staff will lead you through the day’s activities to make sure you get the best start to your studies at ESC. All students should check in with our front desk staff to receive the schedule for the day. This schedule includes:

                 </p>
                 </blockquote>


                <p>
                    <span class="dropcap">O</span>rientation Session – this session is led by our Student Life Coordinator who will outline our attendance and academic policies, academic programs, monthly testing, extra-curricular activities - basically everything our students need to be successful in their studies and to have a safe and enjoyable time in Toronto. Students will also meet our team of counselors who can speak most of the languages represented at the school. Although there is a strict “English Only” policy at ESC, when students need support or advice in their own language we are more than ready to provide it.

                </p>

                <p>
                                        
                    <span class="dropcap">P</span>lacement Test and Speaking Test – in order for all students to get the most out of their time here at ESC, it is crucial that we test each student’s level as thoroughly as possible. This means that every student takes a written test that evaluates skill in listening, grammar, vocabulary and reading. Each student will also meet with a TESL-trained staff member who will evaluate their speaking ability.

                </p>

                <p>

                    <span class="dropcap">S</span>chool Tour – all students will be given a tour of the classrooms and common areas of the school as well as the fire exits and washroom facilities. English School of Canada is also conveniently situated in midtown Toronto at walking distance from the public library, public transportation, parks, restaurants, cafes, grocery stores and bookstores. Students will be shown some of these local amenities as well on the tour.

                </p>

                <p>
                    <span class="dropcap">H</span>omestay Orientation – a representative from Canada Homestay Network, our homestay provider, will meet with all of our students who stay in homestay to make sure that they are comfortable and happy in their Canadian homes and to answer any questions they may have about Canadian customs and life with a Canadian family.
                </p>


            </div>
            <div class="container clearfix" style="padding: 60px 20px">
                <img src="/images/clients/arrival/firstDayMap.png">
            </div>


        </div>

    </section><!-- #content end -->

</div>