        <section id="page-title"   class="page-title-mini page-title-right">

            <div class="container clearfix">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    
                    <li class="active">Frequently Asked Questions</li>
                </ol>
            </div>

        </section>    

        <section id="section-team" class="page-section topmargin-lg">

            <div class="heading-block center">
                <h2>Frequently Asked Questions</h2>
               <!--  <span>Providing quality education and a memorable Canadian experience</span> -->
               <span style="font-size: 18px; font-weight: bold;"><a target="_blank" href="/downloads/pdf/160310UpdateESCBrochureLowrez.pdf">Download ESC brochure</a></span>
            </div>

            <div class="container clearfix">



                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">1. What kind of programs does English School of Canada offer? </h3>
                    </div>
                    <div class="panel-body">
                 
                        <p>
                            English School of Canada offers programs in General ESL, English for Academic Purposes (University College Transfer Program – UCTP), English for Health Care, IELTS Exam Preparation, iBT TOEFL Exam Preparation, Focus on Speaking and Focus on Writing                           
                        </p>

                        <p>
                            <strong>Note:</strong>  The following programs are <strong>Focus Programs</strong> (The minimum duration for a Focus Programs is 4 weeks – except UCTP minimum 12 weeks):
                        </p>

                      
                        <ul>
                            <li>English for Academic Purposes- UCTP</li>
                            <li>English for Health Care</li>
                            <li>IELTS Exam Preparation</li>
                            <li>iBT TOEFL Exam Preparation</li>
                            <li>Focus on Speaking</li>
                            <li>Focus on Writing</li>
                        </ul>                    
                      


                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">2. How many hours per day can I study?</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            We offer the following options:
                        </p> 
                        <ul>
                            <li>Intensive (6 hours per day = 4 classes x 90 minutes = 30 hours per week)</li>
                            <li>Standard (4.5 hours per day = 3 classes x 90 minutes = 22.5 hours per week)</li>
                            <li>
                                Part-time (3 hours per day = 2 classes x 90 minutes = 15 hours per week)<br>
                                Note: One period is 90 minutes (including 15-minute break)
                            </li>
                        </ul>

                    </div>
                </div>



                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">3. Does ESC have any elective classes? </h3>
                    </div>
                    <div class="panel-body">
                        Yes, ESC offers several electives such as Business Communication, Basic Academic Skills of English (BASE), Introduction to Writing and Intermediate Functional Writing. Please see page #5 in our school brochure for more detail on programs and electives. 

                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">4. How many levels do you have at ESC? </h3>
                    </div>
                    <div class="panel-body">
                        ESC has 10 levels in our General English Program from levels 1 to 4 (Beginner), levels 5 and 6 (Intermediate), levels 7 and 8 (High Intermediate) and levels 9 and 10 (Advanced)<br>
                        Note: The minimum level requirement for a <strong>Focus Program</strong> is level 7. 

                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">5. Why does ESC have an “English Only” policy? </h3>
                    </div>
                    <div class="panel-body">
                        At ESC, we want you to succeed. We believe the fastest way to learn English is to speak and listen to English as much as possible. You can make friends more quickly at the school if you are speaking in English. For these reasons, we have an “English Only” contract at the school. 
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">6. What will happen on my first day of school?</h3>
                    </div>
                    <div class="panel-body">
                        When you arrive at ESC, you will start your first day with a placement test. This is followed by a school orientation and oral interview to check the level of your spoken English. 
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">7. How do you decide my level? </h3>
                    </div>
                    <div class="panel-body">
                        ESC assesses your level based on a standardized English level test (testing your skills in listening, grammar, vocabulary and reading) along with a speaking test. Students are evaluated weekly and monthly on their performance in class. 
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">8. What is the minimum age for students to study at ESC? </h3>
                    </div>
                    <div class="panel-body">
                        The minimum age is 16 years old. <br>
                        Note: ESC also offers a Junior Program and Kids Program in the summer (June to August). The minimum age for our Junior Program and Kids Program is 14 years old and 9 years old respectively. 

                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">9. What kind of student services does ESC provide? </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            ESC provides the following services:
                        </p>

                        <ul>
                            <li>Accommodation placement</li>
                            <li>Airport pick-up and drop-off</li>
                            <li>Health insurance (ESC recommends purchasing health insurance prior to your departure from either a local insurance company or ESC)</li>
                            <li>Arrangements for various activities</li>
                            <li>Notarization of custodianship for minors (applicable for Junior Programs)</li>
                        </ul>



                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">10. Can I apply for a study permit through ESC? </h3>
                    </div>
                    <div class="panel-body">
                        Yes, English School of Canada is an authorized Designated Learning Institution (DLI#O19350421222). Please feel free to contact any of our counselors for further information. 
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">11. When can I start classes at ESC? </h3>
                    </div>
                    <div class="panel-body">
                        General ESL starts every Monday. <br>
                        Note: Please refer to our Academic Calendar for our Focus Program start dates. 

                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">12. How much are the textbooks? </h3>
                    </div>
                    <div class="panel-body">
                        The first set of textbooks is included in our registration fee. Therefore you will need to purchase textbooks when you improve to a higher level. <br>
                        Note: The average cost of a textbook is $30.00

                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">13. Does ESC have Wifi?</h3>
                    </div>
                    <div class="panel-body">
                        Yes, ESC has Wifi throughout the school. 
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">14. How many students are in each class?</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            The average class size depends on the season:
                        </p>

                        <ul>
                            <li>Spring: 12-13</li>
                            <li>Summer: 15-16</li>
                            <li>Autumn: 12-13</li>
                            <li>Winter: 10-11</li>
                        </ul>

                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">15. Can I change my classes/schedule?</h3>
                    </div>
                    <div class="panel-body">
                        Students are allowed to change General ESL classes on a scheduled change date (once every two weeks).<br> 
                        Note: The minimum duration for a Focus Program is 4 weeks. Student must start on a scheduled Focus Program start date. 
                    </div>
                </div>


            
            </div>

           

        </section>
