

<form action="/addDuration" method="post" name="create_duration">
	<h3>Create Duration</h3>
	<div>
		<label>Title</label>
		<input type="text" name="title">
	</div>

	<div>
		<label>Price</label>
		<input type="text" name="price">
	</div>
	<div>
		<label></label>
		<input type="submit" value="Create">
	</div>
</form>

<form action="/addCourse" method="post" name="create_duration">
	<h3>Create Course</h3>
	<div>
		<label>Title</label>
		<input type="text" name="title">
	</div>

	<div>
		<label>Description</label>
		<input type="text" name="description">
	</div>
	<div>
		<label>Duration</label>

		<% for(var i=0; i<dList.length; i++) {%>
		<div><input type="checkbox" name="durations" value="<%- dList[i]._id %>"><%- dList[i].title %></div>

		<% } %>
	</div>

	<div>
		<label></label>
		<input type="submit" value="Create">
	</div>
</form>

<!-- <div>
	<ul>
		<% for(var i=0; i<dList.length; i++) {%>
		<li><%- dList[i].title %></li>
		<% } %>
	</ul>
</div> -->