<!-- <div class="row">
	<div class="col-sm-12 center">
		<h2>Register successfully, Welcome to ESC </h2>
	</div>
</div> -->

<div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;">

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">

            <div class="container center clearfix">

                <div class="heading-block center">
                    <h1>WELCOME TO ESC !</h1>
                </div>

                <p>You have successfully registered as a student. A staff member responsible for your region will be in contact  very soon with you with more information about your time at ESC.</p>
                <p>WE ARE LOOKING FORWARD TO MEETING YOU !</p>
                <a href="/" class="btn btn-default topmargin-sm">Back to the Home Page</a>

            </div>

        </div>

    </section><!-- #content end -->

</div>