        <section id="page-title"   class="page-title-mini page-title-right">

            <div class="container clearfix">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    
                    <li class="active">Why ESC</li>
                </ol>
            </div>

        </section>    

        <section id="section-team" class="page-section topmargin-lg">

            <div class="heading-block center">
                <h2>Why ESC?</h2>
                <span>Providing quality education and a memorable Canadian experience</span>
            </div>

            <div class="container clearfix">

                <p class="small-content">
                    <span class="dropcap">R</span>unning for nearly 20 years, English School of Canada has educated over 30,000 students from more than 50 countries.  Students appreciate and are engaged by the multicultural student body they find at our fully accredited school.  At English School of Canada, we focus on teaching with our award-winning teachers and programs and activities to give our vibrant and dynamic students a true Canadian experience.  
                    
                </p>
            
            </div>

           

        </section>
