<form name="createForm" class="form-horizontal"  ng-controller='ActivityCtrl' role="form" ng-submit="create(createForm.$valid)" novalidate>
	<div class="form-group">
		<label class="col-sm-3 col-md-1  control-label">Title</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="title" ng-model="activity.title" ng-minlength="4" ng-maxlength="100" required>
			<p ng-show="createForm.title.$invalid && !createForm.title.$pristine" class="help-block text-danger">title is required</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 col-md-1  control-label">Sub Title</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="subtitle" ng-model="activity.subtitle" ng-minlength="4" ng-maxlength="100" required>
			<p ng-show="createForm.subtitle.$invalid && !createForm.subtitle.$pristine" class="help-block text-danger">subtitle is required</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 col-md-1  control-label">Description</label>
		<div class="col-sm-9">
			<textarea class="form-control" id="maxL-3" maxlength="225" rows="5x" name="description" ng-model="activity.description" placeholder="This textarea has a limit of 225 chars."></textarea>
		</div>
	</div>


	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-offset-1 col-sm-2">
				<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="createForm.$invalid">
				<!-- <a href="/admin/staff/all" type="submit" class="btn">Cancel</a> -->
			</div>
		</div>
		<div class="form-group">
			<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
				{{returnMessage}}
			</div>
		</div>
	</div>


</form>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>