
<div class="row" id="activity-list" ng-controller='ActivityCtrl'>
	<div class="col-lg-12">
		<div class="portlet">
			<div class="portlet-heading dark">
				<div class="portlet-title">
					<h4 >Activities<small class="text-white"></small></h4>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="basic" class="panel-collapse collapse in">
				<div class="portlet-body no-padding">
					<table id="SampleDT" class="datatable table table-hover table-striped table-bordered tc-table">
						<thead>
							<tr>
								<th class="hidden-xs">Cover</th>
								<th class="hidden-xs">Title</th>
								<th class="hidden-xs">Sut-Title</th>
					
				
								<th class="hidden-xs">Status</th>
								<th class="hidden-xs">D. Order</th>
								<th class="col-medium center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="activity in activities.data | filter:query">
								<td class="hidden-xs"><img ng-show="activity.cover!=null" style="width:120px" src="{{activity.cover.thumbnail}}"></td>
								<td class="hidden-xs">{{activity.title}}</td>
								<td class="hidden-xs">{{activity.subtitle}}</td>
							
								<td>
									<label class="label label-active label-lg arrowed arrowed-right" ng-show="activity.isActive")>Active</label>
									<label class="label label-terminated label-lg arrowed arrowed-right" ng-show="!activity.isActive">No Active</label>
								</td>
								<td class="hidden-xs">{{activity.displayOrder}}</td>
								<td class="col-medium center">
									<div class="btn-group btn-group-xs ">
										<a href="/admin/activity/edit/{{activity._id}}" class="btn btn-inverse"><i class="fa fa-pencil icon-only"></i></a>
									</div>	
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
#activity-list 
</style>


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/plugins/datatables/datatables.init.js"></script>
<script src="/assets/js/plugins/bootbox/bootbox.min.js"></script>