<form name="createForm" class="form-horizontal" ng-app='ActivityApp' ng-controller='ActivityCtrl' role="form" ng-submit="create(createForm.$valid)" novalidate>
	<div class="form-group">
		<label class="col-sm-3 control-label">Title</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="title" ng-model="activity.title" ng-minlength="4" ng-maxlength="100" required>
			<p ng-show="createForm.title.$invalid && !createForm.title.$pristine" class="help-block text-danger">title is required</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Description</label>
		<div class="col-sm-9">
			<textarea class="form-control" id="maxL-3" maxlength="225" rows="5x" name="description" ng-model="activity.description" placeholder="This textarea has a limit of 225 chars."></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Images</label>
		<div class="col-sm-9">
			<div class="well white padding-25">
				<ul class="tc-gallery-2 clearfix">
					<li class="thumbnail" ng-repeat="item in medias.data">
						<div class="thumb-preview">
							<div class="thumb-image">
								<img src="{{item.path}}" alt="" style="width:160px; height: 120px;">
							</div>
							<!-- <div class="gl-thumb-options">
								<div class="gl-toolbar"> -->
									<div class="gl-option checkbox-inline">
									<input class="tc" type="checkbox" id="{{item._id}}" checkbox-group>
										<label class="labels" for="{{item._id}}">Select</label>
									</div>
								<!-- </div>
							</div> -->
						</div>
						<h5 class="gl-title">{{item.title}}<small>.{{item.ext}}</small></h5>
						<div class="gl-description">
							<small class="pull-left">{{item.createDate | date:'MMM dd yyyy'}}</small>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-2">
				<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="createForm.$invalid">
				<!-- <a href="/admin/staff/all" type="submit" class="btn">Cancel</a> -->
			</div>
		</div>
		<div class="form-group">
			<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
				{{returnMessage}}
			</div>
		</div>
	</div>

	<!-- <div class="form-group">
		<label class="col-sm-3 control-label">Images</label>
		<div class="col-sm-9">
			 <select multiple="multiple" class="image-picker show-html">
			  <option ng-repeat="item in medias.data" data-img-src="{{item.path}}" value="{{item._id}}"></option> 
			</select> 
		</div>
	</div> -->

	<!-- <div class="form-group">
		<label class="col-sm-3 control-label">Images</label>
		<div class="col-sm-9">
			<select multiple="multiple" class="image-picker show-html">
				<option data-img-src="/docs/Image/Activity/b9c4d19d-918f-4a8a-a3f5-72f73d28d849.jpg" value="1"></option>
			</select>
		</div>
	</div> -->

</form>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>