<div class="portlet"  ng-controller='ActivityCtrl'>
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Create New Activity</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
		<form name="createForm" class="form-horizontal"  role="form" novalidate>
			<div class="form-group">
				<label class="col-sm-3 col-md-1  control-label">Title</label>
				<div class="col-sm-9">
					<div class="clearfix">
							<div class="input-group">
								<input type="text" class="form-control" name="title" ng-model="activity.title" ng-minlength="4" ng-maxlength="100" required>
								<span ng-show="!createForm.title.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
								<span ng-show="createForm.title.$error.required" class="input-group-addon">Required</span>
							</div>
						</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-1  control-label">Sub Title</label>
				<div class="col-sm-9">
					<div class="clearfix">
							<div class="input-group">
								<input type="text" class="form-control" name="subtitle" ng-model="activity.subtitle" ng-minlength="4" ng-maxlength="100" required>
								<span ng-show="!createForm.subtitle.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
								<span ng-show="createForm.subtitle.$error.required" class="input-group-addon">Required</span>
							</div>
						</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-1  control-label">Description</label>
				<div class="col-sm-9">
					<textarea class="form-control" id="maxL-3" maxlength="225" rows="5x" name="description" ng-model="activity.description" placeholder="This textarea has a limit of 225 chars."></textarea>
				</div>
			</div>


			<div class="form-actions">
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-1">
						<button type="button" class="btn btn-primary" ng-disabled="!createForm.$valid" ng-click="create()">Create</button>
						<button type="button" class="btn btn-default" onclick='location="/admin/"'>Cancel</button>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>