<script type="text/javascript">
var url_params = <%- JSON.stringify(url_params) %>
</script>


<form name="editForm" class="form-horizontal" ng-controller='RegionEditCtrl' role="form" ng-submit="update(editForm.$valid)" novalidate>
	<div class="form-group">
		<label class="col-sm-3 control-label">Name</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="name" ng-model="region.name" ng-minlength="4" ng-maxlength="100" required>
			<p ng-show="createForm.name.$invalid && !createForm.name.$pristine" class="help-block text-danger">name is required</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Emails</label>
		<div class="col-sm-9">
			<tags-input ng-model="email_tags" 
					placeholder="Add a email" 
					allowed-tags-pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
			</tags-input>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Delete</label>
		<div class="col-sm-3">
			<div class="tcb">
				<label>
					<input name="isActive" class="tc tc-switch tc-switch-6" type="checkbox" ng-model="region.isDelete" />
					<span class="labels"></span>
				</label>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-3">
				<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="editForm.$invalid">
			</div>
			<a href="/admin/region/all" type="submit" class="btn btn-primary">Cancel</a>
		</div>
		<div class="form-group">
			<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
				{{returnMessage}}
			</div>
		</div>
	</div>
</form>