<form name="createForm" class="form-horizontal" role="form" ng-app='agentApp' ng-controller='AgentDetailCtrl' ng-submit="createStudent(createForm.$valid)" novalidate>

	<div class="form-group">
		<label class="col-sm-3 control-label">First Name</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" name="firstname" ng-model="student.firstname" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Last Name</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" name="lastname" ng-model="student.lastname" required>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Commission Rate</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" name="commissionRate" ng-model="student.commissionRate">
			</div>				
	</div>


	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="createForm.$invalid">
			</div>
		</div>
	</div>
</form>


