<script type="text/javascript">
var url_params = <%- JSON.stringify(url_params) %>
</script>

<div class="row" ng-controller='StudentEditCtrl'>
	<div class="portlet">
					<div class="portlet-heading dark">
						<div class="portlet-title">
							<h4>Student ID : {{student.studentID}}</h4>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="portlet-body">
	<div class="tc-tabs"><!-- Nav tabs style 1 -->
		<ul class="nav nav-tabs tab-lg-button tab-color-dark background-dark white">
			<li class="active"><a href="#p1" data-toggle="tab"><i class="fa fa-desktop bigger-130"></i>Basic Information</a></li>
			<li><a href="#p2" data-toggle="tab"><i class="fa fa-edit bigger-130"></i>Accommdation</a></li>
			<li><a href="#p3" data-toggle="tab"><i class="fa fa-edit bigger-130"></i>Registered courses</a></li>
		</ul>


		<div class="tab-content">
			<div class="tab-pane fade in portlet-body active" id="p1">
						<form name="studentForm" class="form-horizontal" role="form" ng-submit="update(studentForm.$valid)" novalidate>
							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">First Name</label>
								<div class="col-sm-1 col-md-3">
									<input type="text" class="form-control" name="firstname" ng-model="student.firstname" value="{{student.firstname}}"required>
									<p ng-show="studentForm.firstname.$invalid && !studentForm.firstname.$pristine" class="help-block text-danger">first name is required</p>	
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Last Name</label>
								<div class="col-sm-1 col-md-3">
									<input type="text" class="form-control" name="lastname" ng-model="student.lastname" required>
									<p ng-show="studentForm.lastname.$invalid && !studentForm.lastname.$pristine" class="help-block text-danger">last name is required</p>	
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Gender</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<select name="gender" ng-model="student.gender">
											<option value="Male">Male</option>
											<option value="Female">Female</option> 
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Age</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input type="text" class="form-control" name="age" ng-model="student.age">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Commission Rate</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input type="text" class="form-control" name="commissionRate" ng-model="student.commissionRate">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Pomotion Rate</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input id="touchspin-demo2" type="text" class="form-control" name="pomotionRate" ng-model="student.pomotionRate">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Address</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input id="touchspin-demo2" type="text" class="form-control" name="address" ng-model="student.address">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">City</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input id="touchspin-demo2" type="text" class="form-control" name="city" ng-model="student.city">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Province</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input id="touchspin-demo2" type="text" class="form-control" name="province" ng-model="student.province">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Citizenship</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input id="touchspin-demo2" type="text" class="form-control" name="citizenship" ng-model="student.citizenship">
									</div>
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Telephone</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input id="touchspin-demo2" type="text" class="form-control" name="telephone" ng-model="student.telephone">
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label">Emergency</label>
								<div class="col-sm-1 col-md-3">
									<div class="input-group">
										<input id="touchspin-demo2" type="text" class="form-control" name="emergency" ng-model="student.emergency">
									</div>
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-1 col-md-3 control-label"></label>
								<div class="col-sm-1 col-md-3">
									<div class="tcb">
										<label>
											<input type="checkbox" ng-model="student.isQuit" class="tc">
											<span class="labels"> Delete</span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-1">
									<a href="/admin/student/extending/{{student._id}}" type="submit" class="btn btn-primary btn-block">Add course</a>
								</div>
								<div class="col-sm-1">
									<button type="button" download-form01 class="btn btn-primary btn-block" ng-click="download_student()">Download</button>
								</div>
								<div class="col-sm-1">
									<input type="submit" class="btn btn-primary btn-block" value="Update" ng-disabled="studentForm.$invalid">
								</div>
								<div class="col-sm-1">
									<a href="/admin/student/all" type="submit" class="btn btn-default btn-block">Cancel</a>
								</div>
							</div>
						</form>
			</div>

			<div class="tab-pane fade in portlet-body" id="p2">
				<form name="accommdationForm" class="form-horizontal" role="form" ng-submit="submitAccommdation(accommdationForm.$valid)" ng-show="havingAccommdation" novalidate>
					<div class="form-group">
						<label class="col-sm-2 control-label">Starting Date :</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" name="startDate" ng-model="accommodation.startDate" >
							<p ng-show="accommdationForm.startDate.$invalid && !accommdationForm.startDate.$pristine" class="help-block text-danger">start date is required</p>
						</div>
						<label class="col-sm-2 control-label">Finishing Date :</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" name="endDate" ng-model="accommodation.endDate" >
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 control-label">Departure date from Toronto: </label>
						<div class="col-sm-2">
							<input type="date" class="form-control" name="departDate" ng-model="accommodation.departureDateFromToronto" >
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-8 control-label">Please answer the following questions to assist us in finding an appropriate host family for you.</label>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Do you smoke ?</label>
						<div class="col-sm-1">
							<input type="checkbox" class="form-control" name="isSmoke" ng-model="accommodation.isSmoke">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Do you live in a home with smoker ?</label>
						<div class="col-sm-1">
							<input type="checkbox" class="form-control" name="isWithSmoke" ng-model="accommodation.isWithSmoke">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Do you live with pet ? </label>
						<div class="col-sm-1">
							<input type="checkbox" class="form-control" name="isWithPet" ng-model="accommodation.isWithPet">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Do you live with small children ? </label>
						<div class="col-sm-1">
							<input type="checkbox" class="form-control" name="isWithKid" ng-model="accommodation.isWithKid">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">What is your hobbies ? </label>
						<div class="col-sm-7">
							<textarea class="form-control" name="hobbies" ng-model="accommodation.hobbies"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Peofession(What is your occupation ?) </label>
						<div class="col-sm-7">
							<textarea class="form-control" name="occupation" ng-model="accommodation.occupation"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Additional Comments : </label>
						<div class="col-sm-7">
							<textarea class="form-control" name="comments" ng-model="accommodation.comments"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Do you have any special diet or food preference ?</label>
						<div class="col-sm-7">
							<textarea class="form-control" name="specialFood" ng-model="accommodation.specialFood"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Do you have any allergies or medical concerns ?</label>
						<div class="col-sm-7">
							<textarea class="form-control" name="allergiesMedical" ng-model="accommodation.allergiesMedical"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Extra Options(Please note that an extra charge will apply)</label>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Private Bathroom(Subject to availability)</label>
						<div class="col-sm-1">
							<input type="checkbox" class="form-control" name="isPrivateBathroom" ng-model="accommodation.isPrivateBathroom">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-1">
							<button type="button" download-form02 class="btn btn-primary btn-block" ng-click="download_accommdation()">Download</button>
						</div>
						<div class="col-sm-1">
							<input type="submit" class="btn btn-primary btn-block" value="Update">
						</div>
						<div class="col-sm-1">
							<a href="/admin/student/all" type="submit" class="btn btn-primary btn-block">Cancel</a>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-1">
						<button class="btn btn-primary btn-block" ng-click="havingAccommdation=true" ng-hide="havingAccommdation">Create</button>
					</div>
				</div>
			</div>

			<div class="tab-pane fade in portlet-body" id="p3">
				<label class="col-sm-1 col-md-3 control-label">History</label>
				<table class="table table-bordered table-striped table-hover tc-table table-primary">
					<thead>
						<tr>
							<tr>
								<th class="hidden-xs center">Register Date</th>
								<th class="hidden-xs center">Course</th>
								<th class="hidden-xs center">Description</th>
								<th class="hidden-xs center">Level</th>
								<th class="hidden-xs center">Year</th>
								<th class="hidden-xs center">Start Date</th>
								<th class="hidden-xs center">Duration</th>
								<th class="col-medium center">Action</th>
							</tr>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in student.programRegistration">
							<td class="hidden-xs center"><label class="label label-success">{{ c.createDate  | date:'MMMM d, yyyy'}}</label></td>
							<td class="hidden-xs center">{{c.title}}</td>
							<td class="hidden-xs center">{{c.tag}}</td>
							<td class="hidden-xs center">{{c.level}}</td>
							<td class="hidden-xs center">{{c.startDate | date : 'yyyy'}}</td>
							<td class="hidden-xs center">{{c.startDate | date:'MMMM d'}}</td>
							<td class="hidden-xs center">{{c.duration}}</td>
							<td class="col-medium center">
								<button type="button" class="btn btn-info btn-xs btn-circle" ng-click="removeCourse(c)" disabled="disabled">
									<i class="fa fa-times icon-only"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>

	</div>
</div>
</div>
</div>


<script>
$(document).on("keypress", "form", function(event) { 
	return event.keyCode != 13;
});
</script>


