<script type="text/javascript">
	var url_params = <%- JSON.stringify(url_params) %>
</script>

<div class="row" ng-controller='StudentEditCtrl'>
	<div class="tc-tabs"><!-- Nav tabs style 1 -->
		<ul class="nav nav-tabs tab-lg-button tab-color-dark background-dark white">
			<li class="active"><a href="#p1" data-toggle="tab"><i class="fa fa-desktop bigger-130"></i>Basic Information</a></li>
			<li><a href="#p2" data-toggle="tab"><i class="fa fa-edit bigger-130"></i>Accommdation</a></li>
			<li><a href="#p3" data-toggle="tab"><i class="fa fa-edit bigger-130"></i>Registered courses</a></li>
		</ul>


		<div class="tab-content">
			<div class="tab-pane fade in portlet-body active" id="p1">
				<form name="studentForm" class="form-horizontal" role="form" ng-submit="update(studentForm.$valid)" novalidate>
					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Student ID</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" name="studentId" ng-model="student.studentID" readonly>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">First Name</label>
						<div class="col-sm-1 col-md-3">
							<input type="text" class="form-control" name="firstname" ng-model="student.firstname" value="{{student.firstname}}"required>
							<p ng-show="studentForm.firstname.$invalid && !studentForm.firstname.$pristine" class="help-block text-danger">first name is required</p>	
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Last Name</label>
						<div class="col-sm-1 col-md-3">
							<input type="text" class="form-control" name="lastname" ng-model="student.lastname" required>
							<p ng-show="studentForm.lastname.$invalid && !studentForm.lastname.$pristine" class="help-block text-danger">last name is required</p>	
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Gender</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" name="gender" ng-model="student.gender">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Age</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" name="age" ng-model="student.age">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Commission Rate</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" name="commissionRate" ng-model="student.commissionRate">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Pomotion Rate</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input id="touchspin-demo2" type="text" class="form-control" name="pomotionRate" ng-model="student.pomotionRate">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Address</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input id="touchspin-demo2" type="text" class="form-control" name="address" ng-model="student.address">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">City</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input id="touchspin-demo2" type="text" class="form-control" name="city" ng-model="student.city">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Province</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input id="touchspin-demo2" type="text" class="form-control" name="province" ng-model="student.province">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Citizenship</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input id="touchspin-demo2" type="text" class="form-control" name="citizenship" ng-model="student.citizenship">
							</div>
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Telephone</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input id="touchspin-demo2" type="text" class="form-control" name="telephone" ng-model="student.telephone">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label">Emergency</label>
						<div class="col-sm-1 col-md-3">
							<div class="input-group">
								<input id="touchspin-demo2" type="text" class="form-control" name="emergency" ng-model="student.emergency">
							</div>
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-1 col-md-3 control-label"></label>
						<div class="col-sm-1 col-md-3">
							<div class="tcb">
								<label>
									<input type="checkbox" ng-model="student.isQuit" class="tc">
									<span class="labels"> Delete</span>
								</label>
							</div>
						</div>
					</div>


					<div class="form-actions">
						<div class="form-group">
							<div class="col-sm-1">
								<a href="/admin/student/extending/{{student._id}}" type="submit" class="btn btn-primary">Extening course</a>
							</div>
							<div class="col-sm-offset-2 col-sm-1">
								<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="studentForm.$invalid">
							</div>
							<div class="col-sm-1">
								<a href="/admin/student/all" type="submit" class="btn btn-primary">Cancel</a>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="tab-pane fade in portlet-body" id="p2">
			</div>

			<div class="tab-pane fade in portlet-body" id="p3">
				<label class="col-sm-1 col-md-3 control-label">History</label>
				<table class="table table-bordered table-striped table-hover tc-table table-primary">
					<thead>
						<tr>
							<tr>
								<th class="hidden-xs center">Register Date</th>
								<th class="hidden-xs center">Course</th>
								<th class="hidden-xs center">Description</th>
								<th class="hidden-xs center">Level</th>
								<th class="hidden-xs center">Year</th>
								<th class="hidden-xs center">Start Date</th>
								<th class="hidden-xs center">Duration</th>
								<th class="col-medium center">Action</th>
							</tr>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="c in student.programRegistration">
							<td class="hidden-xs center"><label class="label label-success">{{ c.createDate  | date:'MMMM d, yyyy'}}</label></td>
							<td class="hidden-xs center">{{c.title}}</td>
							<td class="hidden-xs center">{{c.tag}}</td>
							<td class="hidden-xs center">{{c.level}}</td>
							<td class="hidden-xs center">{{c.startDate | date : 'yyyy'}}</td>
							<td class="hidden-xs center">{{c.startDate | date:'MMMM d'}}</td>
							<td class="hidden-xs center">{{c.duration}}</td>
							<td class="col-medium center">
								<button type="button" class="btn btn-info btn-xs btn-circle" ng-click="removeCourse(c)" disabled="disabled">
									<i class="fa fa-times icon-only"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>


		</div>

	</div>
</div>