<div class="form-group">
	<label class="col-sm-offset-4 col-sm-5">
		<strong>Add new courses</strong>
		<button id="addrow_button" type="button" class="btn btn-danger btn-xs btn-circle" ng-click="addNewRow()">
			<i class="fa fa-plus icon-only"></i>
		</button></label>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<table class="table table-bordered table-striped table-hover tc-table table-primary">
				<thead>
						<th class="hidden-xs center">Course</th>
						<th class="hidden-xs center">Description</th>
						<th class="hidden-xs center">Level</th>
						<th class="hidden-xs center">Year</th>
						<th class="hidden-xs center">Start Date</th>
						<th class="hidden-xs center">Duration</th>
						<th class="col-medium center">Action</th>
			</thead>
			<tbody>
				<tr id="newrow" ng-show="newrowShow"><td class="hidden-xs center"><select ng-model="course" ng-init="course = courses[0]" ng-options="course as course.title for course in courses " ng-change="changeCourse(course)"></select></td>
					<td class="hidden-xs center">
						<label class="label label-lg arrowed">{{course.tag}}</label>
					</td>
					<td class="hidden-xs center">
						<select ng-model="course.level">
							<option value="" selected>--Select--</option>
							<option ng-repeat="item in corseLevel">{{item}}</option>
						</select>
					</td>
					<td class="hidden-xs center"><select ng-model="course.year" ng-change="changeStartYear(course,year)">
						<option value="" selected>--Select--</option>
						<option ng-repeat="year in course.availableYears">{{year}}</option>
					</select>
				</td>
				<td class="hidden-xs center">
					<select ng-model="course.startDate">
						<option value="" selected>--Select--</option>
						<option ng-repeat="sd in course.startDates", value="{{sd}}">{{sd | date:"MMMM d"}}</option>
					</select></td><td class="hidden-xs center">
					<select ng-model="course.duration">
						<option value="" selected>--Select--</option>
						<option ng-repeat="duration in course.durations">{{duration.title}}</option>
					</select>
				</td>
				<td class="col-medium center">
					<button type="button" class="btn btn-danger btn-xs btn-circle" ng-click="addCourse(course)">
						<i class="fa fa-check icon-only"></i></button><button type="button" class="btn btn-info btn-xs btn-circle" ng-click="removeRow()"><i class="fa fa-times icon-only"></i>
					</button>
				</td>
			</tr>
			<tr ng-repeat="c in courseList">
				<td class="hidden-xs center">{{c.title}}</td>
				<td class="hidden-xs center">
					<label class="label label-lg arrowed">{{c.tag}}</label>
				</td>
				<td class="hidden-xs center">{{c.level}}</td>
				<td class="hidden-xs center">{{c.year}}</td>
				<td class="hidden-xs center">{{c.startDate | date:"MMMM d"}}</td>
				<td class="hidden-xs center">{{c.duration}}</td>
				<td class="col-medium center">
					<button type="button" class="btn btn-info btn-xs btn-circle" ng-click="removeCourse(c)">
						<i class="fa fa-times icon-only"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>