<script type="text/javascript">
	var url_params = <%- JSON.stringify(url_params) %>
</script>

<div class="portlet" >
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Create New Partner</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body partner-detail">
		<form name="createForm" class="form-horizontal" role="form" ng-controller='partnerCtrl' >
			<div class="form-group">
				<label class="col-sm-2 control-label">Name</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="name" ng-model="partner.name" required>
				</div>
			</div>
			

			<div class="form-group">
				<label class="col-sm-2 control-label">Description</label>
				<div class="col-sm-8">
					<!-- <textarea  type="text" class="form-control" height="50" name="name" ng-model="partner.description" required></textarea> -->
					<ng-simditor content="partner.description"></ng-simditor>	
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Page Content</label>
				<div class="col-sm-8">
					<ng-simditor content="partner.content"></ng-simditor>		
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-2 control-label">Sticker</label>
				<div class="col-sm-8">
					<div class="row sticker-container">
						<div class="container-header">
							<button class="btn btn-primary newBtn" ng-click="newSticker()">New Sticker</button>

							<input type="text" class="form-control" ng-model="stickerFilterString" placeholder="Search by Sticker Title">

							<button class="btn btn-default clearBtn" ng-click="celar()">Clear</button>
						</div>	
						<div class="container-content row">
							<div class="col-md-6  sticker" ng-repeat="sticker in stickers | filter:stickerFilterString">
								<div class="wraper">
									<div>
										<input type="text" ng-model="sticker.title" >
										<button class="btn btn-primary btn-xs btn-circle " ng-click="updateSticker(sticker)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
										<button type="button" ng-click="deleteSticker(sticker)" class="btn btn-danger btn-xs btn-circle duration-list-operate-icon"><i class="fa fa-trash-o icon-only"></i></button>
									</div>
									
									<textarea ng-model="sticker.content" ></textarea>						
								</div>

							</div>
						</div>	
					</div>

				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-2 control-label">Email</label>
				<div class="col-sm-4">
					<input type="email" class="form-control" name="name" ng-model="partner.email">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Work Phone</label>
				<div class="col-sm-4">
					<input type="phone" class="form-control" name="name" ng-model="partner.workphone">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Cell Phone</label>
				<div class="col-sm-4"> 
					<input type="phone" class="form-control" name="name" ng-model="partner.cellphone">
				</div>
			</div>
<!-- 
			<div class="form-group">
				<label class="col-sm-2 control-label">Tags</label>
				<div class="col-sm-4">
					<tags-input ng-model="tagList" 
						placeholder="Add a Tag" add-from-autocomplete-only="false" display-property="name" addFromAutocompleteOnly="false">
					</tags-input>
				</div>
			</div> -->

			<div class="form-group">
				<label class="col-sm-2 control-label">Areas</label>
				<div class="col-sm-4">
					<label ng-repeat="area in areas" style="width: 150px">
						{{area.name}}
						<input type="checkbox" checklist-model="partner.categories"  checklist-value="area._id" class="form-control" >
					</label>
			
					
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Is Delete:</label>
				<div class="col-sm-2">
					<label>
						<input name="is_delete" class="tc tc-switch tc-switch-6" type="checkbox" ng-model="partner.isDelete" />
						<span class="labels"></span>
					</label>												
				</div>
			</div>

			<div class="form-group">
				<label ng-click="changeCurrentCalendar()" class="col-sm-2 control-label">Logo:</label>
				<div class="col-sm-9">
					<div ng-click="changeSource()" ng-if="partner.cover == null" class="cover-empty"><label>Clic to change</label></div>
					<img class="preview-media"  ng-click="changeSource()"  ng-if="partner.cover!= null && partner.cover.type=='Image'" src="{{partner.cover.thumbnail}}" >
				</div>
			</div>

			<div class="form-group">
				<label ng-click="changeCurrentCalendar()" class="col-sm-2 control-label">Report: </label>
				<div class="col-sm-9">
					<div ng-click="changeReport()" ng-if="partner.report == null" class="cover-empty"><label>Clic to change</label></div>
					<!-- <img ng-click="changeReport()" class="preview-media"  ng-if="partner.report!= null && partner.report.type=='Document'" src="{{partner.report.thumbnail}}" > -->

					<i ng-click="changeReport()" ng-if="partner.report != null && partner.report.type=='Document'" class="fa fa-file-pdf-o preview-file-type-list ng-scope"></i>
					<div>{{partner.report.title}}</div>
					


				</div>
			</div>


			<div class="form-actions">
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-3">
						<button type="button" class="btn btn-primary" ng-disabled="createForm.$invalid" ng-click="update()">Save</button>
						<button type="button" class="btn btn-default" onclick='location="/admin/partner"'>Cancel</button>
					</div>
				</div>
			</div>


		</form>

	</div>
</div>

<!-- include the media selector mockup -->
<div ng-include="'/ng/html/MediaSelector.html'"></div>







