<script type="text/javascript">
	var url_params = <%- JSON.stringify(url_params) %>
</script>

<div class="portlet">
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Create New Partner</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
		<form name="createForm" class="form-horizontal" role="form" ng-controller='PromotionDetail' novalidate>
			<div class="form-group">
				<label class="col-sm-3 control-label">Name</label>
				<div class="col-sm-4">
					<input type="date" class="form-control" name="startDate" ng-model="promotion.startDate" >
				</div>
			</div>
			
		</form>

	</div>
</div>