<div class="portlet">
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Create New Material</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
	<form name="createForm" ng-controller='MaterialController' class="form-horizontal" id="validate-form" novalidate>
		<div id="bwizard">
			
			<div class="tab-content">
				<div class="form-group">
					<label class="col-sm-3 control-label">Name:</label>
					<div class="col-sm-5">
						<div class="clearfix">
							<div class="input-group">
							<input type="text" class="form-control" name="materialname" ng-model="material.name"  required>
						<span ng-show="createForm.materialname.$error.required" class="input-group-addon">Required</span>
						<span ng-show="!createForm.materialname.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
						</div>
					</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="description">Description:</label>
					<div class="col-sm-5">
						<div class="clearfix">
							<input type="text" name="description"  ng-model="material.description"  class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Region</label>
				<div class="col-sm-3">
						<div class="clearfix">
							<div class="input-group">
							<select name="region" class="form-control" ng-model="material.region" required>
									<option ng-repeat="option in regionsList" value="{{option.name}}">{{option.name}}</option>
								</select>
								<span ng-show="createForm.region.$error.required" class="input-group-addon">Required</span>
								<span ng-show="!createForm.region.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
							</div>
						</div>
				</div>
				</div>
				
				<hr class="separator" />

				

				<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-3">
				<button type="button" class="btn btn-primary" ng-disabled="!createForm.$valid" ng-click="create()">Create</button>
				<button type="button" class="btn btn-default" onclick='location="/admin/"'>Cancel</button>
			</div>
		</div>
		<div class="form-group">
			<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
				{{returnMessage}}
			</div>
		</div>
	</div>
		
			</div>
		</div>
	</form>
	</div>
</div>


