<div class="portlet" ng-app="materialApp" ng-controller='EditMaterialController'>
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Edit Material</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
	<form class="form-horizontal" id="validate-form" method="get">
		<div id="bwizard">
			
			<div class="tab-content">
				<div class="form-group">
					<label class="col-sm-3 control-label">Name:</label>
					<div class="col-sm-7">
						<div class="clearfix">
							<input type="text" name="heading" ng-model="material.name" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="password">Description:</label>
					<div class="col-sm-7">
						<div class="clearfix">
							<input type="text" name="sub_heading"  ng-model="material.description"  class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Region:</label>
					<div class="col-sm-3">
						<div class="clearfix">
							<select class="form-control" ng-model='material.region' >
								<option value="{{region._id}}" ng-repeat="region in regions.data">{{region.name}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Created:</label>
					<div class="col-sm-3">
						<label class="label label-default label-xlg">{{material.created | date:'MMMM d, yyyy' : 'UTC'}}</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Last Modified:</label>
					<div class="col-sm-3">
						<label class="label label-success label-xlg">{{material.modified | date:'MMMM d, yyyy' : 'UTC'}}</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Is Delete:</label>
					<div class="col-sm-3">
						<label>
							<input name="isDelete" class="tc tc-switch tc-switch-6" type="checkbox" ng-model="material.isDelete" />
							<span class="labels"></span>
						</label>
					</div>
				</div>

				<hr class="separator" />

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Media:</label>
					<div class="col-sm-4">

							<div class="media-info">
								<div>Title : {{ material.mediaObject.title}}</div>
								<div>Size : {{ material.mediaObject.size | filesize}}</div>
								<div>Created Date : {{ material.mediaObject.createDate | date:'MMMM d, yyyy' : 'UTC'}}</div>						
							</div>

							<div ng-show="material.mediaObject.type=='Document' && material.mediaObject.ext=='pdf'"  resource-Picker>	
								<i class="fa fa-file-pdf-o preview-file-type" ></i>
							</div>

							<div ng-show="material.mediaObject.type=='Document' && (material.mediaObject.ext=='doc'  || material.mediaObject.ext=='docx') "  resource-Picker>	
								<i class="fa fa-file-word-o preview-file-type" ></i>
							</div>


							<img style="width: 100%" src="{{material.mediaObject.thumbnail}}" ng-show="material.mediaObject.type=='Image'">
							<video width="100%" src="{{material.mediaObject.path}}" controls ng-show="material.mediaObject.type=='Video'">
							  Your browser does not support the <code>video</code> element.
							</video>
						</div>
				</div>


				<div class="form-group" ng-show="material.mediaObject == null">
					<label class="col-sm-3 control-label"></label>
					<div class="col-sm-5">
						<h3>Please select a media from the list below</h3>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Resource:</label>
					<div class="col-sm-7">		

						<div class="resource-filters">
							
							<div class="title">Filter By:</div>

							<div class="row form-group">
									<!-- <div class="col-md-4">
										<label>Target: </label>
										<select>
											<option value="" >All</option>
											<option value="Slider" >Slider</option>
											<option value="Gallery">Gallery</option>
											<option value="Material">Material</option>
											<option value="Student">Student</option>
											<option value="Staff">Staff</option>
											<option value="Activity">Activity</option>
											<option value="Other">Other</option>
										</select>
									</div> -->

									<div class="col-md-4">
										<label>Search: </label>
										<input class="form-control" type="text" ng-model="resourceSearch">
									</div>

									<div class="col-md-4">
										<label>Type: </label>
										<select ng-model="resourceType">
											<option value="" >All</option>
											<option value="Image" >Image</option>
											<option value="Document">Document</option>
											<option value="Video">Video</option>
											<option value="Other">Other</option>
										</select>
									</div>

									<div class="col-md-4">
										<label>Date: </label>
										<select>
											<option value="" >All</option>
											<option value="Unitiled" >Today</option>
											<option value="Deleted" >Last Day</option>
											<option value="Gallery">Last 10 Days</option>
											<option value="Gallery">Last Month</option>
										</select>
									</div>
							</div>
							


						</div>						
						<div class="media-resource">
							<ul>
								<li ng-repeat="media in medias.data | filter: {  'title': resourceSearch, type: resourceType }" >

									<div ng-show="media.type=='Document' &&  media.ext=='pdf'"  resource-Picker>	
										<i class="fa fa-file-pdf-o xlg"></i>
									</div>

									<div ng-show="media.type=='Document' && ( media.ext=='doc' || media.ext=='docx' )"  resource-Picker>	
										<i class="fa fa-file-word-o xlg"></i>
									</div>
									<img width="120" src="{{media.thumbnail}}" ng-show="media.type=='Image'"  resource-Picker>
									<video width="120" src="{{media.path}}" controls ng-show="media.type=='Video'" style="margin-top:27px"  resource-Picker>
									  Your browser does not support the <code>video</code> element.
									</video>
								</li>
							</ul>					
						</div>												
					</div>
				</div>


				<hr class="separator" />

				

				<div class="form-group">
					<div class="col-sm-3"></div>	
					<div class="col-sm-3">											
						<button type="button" class="btn btn-primary" ng-click="update()">Save</button>
						<button type="button" class="btn btn-default" onclick='location="/admin/material"'>Cancel</button>
					</div>
				</div>
		
			</div>
		</div>
	</form>
	</div>
</div>


<script type="text/javascript">
	var url_params = <%- JSON.stringify(url_params) %>
</script>

