<link rel="stylesheet" href="/assets/css/plugins/duallistbox/bootstrap-duallistbox.min.css">

<div class="portlet"  ng-controller='EditMaterialController'>
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Edit Material</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
	<form class="form-horizontal" id="validate-form" method="get">
		<div id="bwizard">
			
			<div class="tab-content">
				<div class="form-group">
					<label class="col-sm-3 control-label">Name:</label>
					<div class="col-sm-7">
						<div class="clearfix">
							<input type="text" name="heading" ng-model="material.name" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="password">Description:</label>
					<div class="col-sm-7">
						<div class="clearfix">
							<input type="text" name="sub_heading"  ng-model="material.description"  class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Region:</label>
					<div class="col-sm-3">
						<div class="clearfix">
							<select class="form-control" ng-model='material.region' >
								<option value="{{region._id}}" ng-repeat="region in regions.data">{{region.name}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Created:</label>
					<div class="col-sm-3">
						<label class="label label-default label-xlg">{{material.created | date:'MMMM d, yyyy' : 'UTC'}}</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Last Modified:</label>
					<div class="col-sm-3">
						<label class="label label-success label-xlg">{{material.modified | date:'MMMM d, yyyy' : 'UTC'}}</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Is Delete:</label>
					<div class="col-sm-3">
						<label>
							<input name="isDelete" class="tc tc-switch tc-switch-6" type="checkbox" ng-model="material.isDelete" />
							<span class="labels"></span>
						</label>
					</div>
				</div>

				<hr class="separator" />
				<div class="form-group">
					<label class="col-sm-3 control-label">Media:</label>
					<div class="col-sm-9">
						<div class="media-display-seaction">
							<div ng-click="changeMeida()" ng-if="material.media == null" class="cover-empty"><label>Clic to change</label></div>

							<video height="200"  ng-click="changeMeida()"  src="{{material.media.path}}" controls ng-show="material.media != null && material.media.type=='Video'">Your browser does not support the <code>video</code> element.</video>

							<img class="preview-media"  ng-click="changeMeida()"  ng-if="material.media != null && material.media.type=='Image'" src="{{material.media.thumbnail}}">

							<i ng-click="changeMeida()" ng-show="material.media != null && material.media.type=='Document' && ( material.media.ext=='doc' || material.media.ext=='docx') " class="fa fa-file-word-o preview-file-type-list"></i>
	                        <i ng-click="changeMeida()"ng-show="material.media != null && material.media.type=='Document' && ( material.media.ext=='pdf') " class="fa fa-file-pdf-o preview-file-type-list"></i>


	                        <div class="info" ng-if="material.media != null">
	                        	<div><label>Media Type :</label> {{material.media.type}}</div>	
	                        	<div><label>File Type :</label> {{material.media.ext.toUpperCase()}}</div>
	                        	<div><label>File Size :</label> {{material.media.size | filesize}}</div>		
	                        	<div><label>Title : </label> {{material.media.title}}</div>	
	                        </div>
						</div>


						
					</div>
				</div>


				<!-- <div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Media:</label>
					<div class="col-sm-4">

							<div class="media-info">
								<div>Title : {{ material.mediaObject.title}}</div>
								<div>Size : {{ material.mediaObject.size | filesize}}</div>
								<div>Created Date : {{ material.mediaObject.createDate | date:'MMMM d, yyyy' : 'UTC'}}</div>						
							</div>

							<div ng-show="material.mediaObject.type=='Document' && material.mediaObject.ext=='pdf'"  resource-Picker>	
								<i class="fa fa-file-pdf-o preview-file-type" ></i>
							</div>

							<div ng-show="material.mediaObject.type=='Document' && (material.mediaObject.ext=='doc'  || material.mediaObject.ext=='docx') "  resource-Picker>	
								<i class="fa fa-file-word-o preview-file-type" ></i>
							</div>


							<img style="width: 100%" src="{{material.mediaObject.thumbnail}}" ng-show="material.mediaObject.type=='Image'">
							<video width="100%" src="{{material.mediaObject.path}}" controls ng-show="material.mediaObject.type=='Video'">
							  Your browser does not support the <code>video</code> element.
							</video>
						</div>
				</div>


				<div class="form-group" ng-show="material.mediaObject == null">
					<label class="col-sm-3 control-label"></label>
					<div class="col-sm-5">
						<h3>Please select a media from the list below</h3>
					</div>
				</div> -->

				<!-- <div class="form-group">
					<label class="col-sm-3 control-label">Resource:</label>
					<div class="col-sm-7">		

						<div class="resource-filters">
							
							<div class="title">Filter By:</div>

							<div class="row form-group">
									<div class="col-md-4">
										<label>Search: </label>
										<input class="form-control" type="text" ng-model="resourceSearch">
									</div>

									<div class="col-md-4">
										<label>Type: </label>
										<select ng-model="resourceType">
											<option value="" >All</option>
											<% for(var i=0; i<constants.MediaTypes.length; i++) {%>
											<option value="<%- constants.MediaTypes[i] %>" ><%- constants.MediaTypes[i] %></option>
											<% } %>
										</select>
									</div>

									<div class="col-md-4">
										<label>Date: </label>
										<select ng-model="dateAfter" class="form-control" ng-options="range.name for range in dateRanges">
									</select>
									</div>
							</div>
							


						</div>						
						<div class="media-resource">
							<ul>
								<li ng-repeat="media in medias.data | isAfter:dateAfter.date | filter: {  'title': resourceSearch, type: resourceType }" >

									<div ng-show="media.type=='Document' &&  media.ext=='pdf'"  resource-Picker>	
										<i class="fa fa-file-pdf-o xlg"></i>
									</div>

									<div ng-show="media.type=='Document' && ( media.ext=='doc' || media.ext=='docx' )"  resource-Picker>	
										<i class="fa fa-file-word-o xlg"></i>
									</div>
									<img width="120" src="{{media.thumbnail}}" ng-show="media.type=='Image'"  resource-Picker>
									<video width="120" src="{{media.path}}" controls ng-show="media.type=='Video'" style="margin-top:27px"  resource-Picker>
									  Your browser does not support the <code>video</code> element.
									</video>
								</li>
							</ul>					
						</div>												
					</div>
				</div>
				 -->
				<div class="form-group">
					<label class="col-sm-3 control-label">Premission:</label>
					<div class="col-sm-7 row">
						<div class="bootstrap-duallistbox-container row moveonselect"> 
							<div class="box1 col-md-6">   
								<label for="bootstrap-duallistbox-nonselected-list_duallistbox_demo1[]" style="display: none;"></label>   
								<span class="info-container">     
									<span class="info">Showing all 9</span>    
									 <button type="button" class="btn clear1 pull-right btn-default btn-xs">show all</button>   
									</span>   
									<input class="filter form-control" type="text" placeholder="Filter">   
									<div class="btn-group buttons">     
										<button type="button" class="btn moveall btn-default" title="Move all">       
											<i class="glyphicon glyphicon-arrow-right"></i>       
											<i class="glyphicon glyphicon-arrow-right"></i>     
										</button>     
										<button type="button" class="btn move btn-default" title="Move selected">       
											<i class="glyphicon glyphicon-arrow-right"></i>     
										</button>   
									</div>   
									<select multiple="multiple" id="bootstrap-duallistbox-nonselected-list_duallistbox_demo1[]" class="form-control" style="height: 250px;">
										<option value="{{agent._id}}" ng-repeat="agent in selectedAgents" ng-click="removeAgentPremission(agent)">{{agent.firstname + ' ' + agent.lastname}}</option>
										<!-- <option value="option3" selected="selected">Option 3</option>
										<option value="option4">Option 4</option>
										<option value="option5">Option 5</option>
										<option value="option6" selected="selected">Option 6</option>
										<option value="option7">Option 7</option>
										<option value="option8">Option 8</option>
										<option value="option9">Option 9</option>
										<option value="option0">Option 10</option> -->
									</select> 
								</div> 
								<div class="box2 col-md-6">   
									<label for="bootstrap-duallistbox-selected-list_duallistbox_demo1[]" style="display: none;"></label>   
									<span class="info-container">     
										<span class="info">Showing all 1</span>     
										<button type="button" class="btn clear2 pull-right btn-default btn-xs">show all</button>   
									</span>   
									<input class="filter form-control" type="text" placeholder="Filter">   
									<div class="btn-group buttons">     
										<button type="button" class="btn remove btn-default" title="Remove selected">       
											<i class="glyphicon glyphicon-arrow-left"></i>     
										</button>
										<button type="button" class="btn removeall btn-default" title="Remove all">       
											<i class="glyphicon glyphicon-arrow-left"></i>       
											<i class="glyphicon glyphicon-arrow-left"></i>     
										</button>   
									</div>   
									<select multiple="multiple"  class="form-control" name="duallistbox_demo1[]_helper2" style="height: 250px;">
										<option value="{{agent._id}}" ng-repeat="agent in unselectedAgents" ng-click="addAgentPremission(agent)">{{agent.firstname + ' ' + agent.lastname}}</option>
									</select> 
						</div>
						</div>
					</div>
				</div>

				<hr class="separator" />

				

				<div class="form-group">
					<div class="col-sm-3"></div>	
					<div class="col-sm-3">											
						<button type="button" class="btn btn-primary" ng-click="update()">Save</button>
						<button type="button" class="btn btn-default" onclick='location="/admin/material"'>Cancel</button>
					</div>
				</div>
		
			</div>
		</div>
	</form>
	</div>

	<!-- include the media selector mockup -->
   	<div ng-include="'/ng/html/MediaSelector.html'"></div>

</div>


<script type="text/javascript">
	var url_params = <%- JSON.stringify(url_params) %>
</script>

