<div class="portlet" ng-app="materialApp" ng-controller='EditMaterialController'>
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Edit Material</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
	<form class="form-horizontal" id="validate-form" method="get">
		<div id="bwizard">
			
			<div class="tab-content">
				<div class="form-group">
					<label class="col-sm-3 control-label">Name:</label>
					<div class="col-sm-7">
						<div class="clearfix">
							<input type="text" name="heading" ng-model="material.name" class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="password">Description:</label>
					<div class="col-sm-7">
						<div class="clearfix">
							<input type="text" name="sub_heading"  ng-model="material.description"  class="form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Region:</label>
					<div class="col-sm-3">
						<div class="clearfix">
							<select class="form-control" ng-model='material.region' >
								<option value="{{region._id}}" ng-repeat="region in regions.data">{{region.name}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Created:</label>
					<div class="col-sm-3">
						<label class="label label-default label-xlg">{{material.created | date:'MMMM d, yyyy' : 'UTC'}}</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Last Modified:</label>
					<div class="col-sm-3">
						<label class="label label-success label-xlg">{{material.modified | date:'MMMM d, yyyy' : 'UTC'}}</label>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Activate:</label>
					<div class="col-sm-3">
						<label>
							<input name="isDelete" class="tc tc-switch tc-switch-6" type="checkbox" ng-model="material.isDelete" />
							<span class="labels"></span>
						</label>
					</div>
				</div>

				<hr class="separator" />

				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Media:</label>
					<div class="col-sm-4">

							<div class="resource-info">
								<div>Title : {{ material.mediaObject.title}}</div>
								<div>Size : {{ material.mediaObject.size | filesize}}</div>
								<div>Created Date : {{ material.mediaObject.createDate | date:'MMMM d, yyyy' : 'UTC'}}</div>						
							</div>
							<img style="width: 100%" src="{{material.mediaObject.thumbnail}}" ng-show="material.mediaObject.type=='Image'">
							<video width="100%" src="{{material.mediaObject.path}}" controls ng-show="material.mediaObject.type=='Video'">
							  Your browser does not support the <code>video</code> element.
							</video>
						</div>
				</div>


				<div class="form-group" ng-show="slider.media == null">
					<label class="col-sm-3 control-label"></label>
					<div class="col-sm-5">
						<h3>Please select a media from the list below</h3>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Resource:</label>
					<div class="col-sm-7">							
						<div class="slider-resource">
							<ul>
								<li ng-repeat="media in medias.data" >
									<img width="120" src="{{media.thumbnail}}" ng-show="media.type=='Image'"  resource-Picker>
									<video width="120" src="{{media.path}}" controls ng-show="media.type=='Video'" style="margin-top:27px"  resource-Picker>
									  Your browser does not support the <code>video</code> element.
									</video>
								</li>
							</ul>					
						</div>												
					</div>
				</div>


				<hr class="separator" />

				

				<div class="form-group">
					<div class="col-sm-3"></div>	
					<div class="col-sm-3">											
						<button type="button" class="btn btn-primary" ng-click="update()">Save</button>
						<button type="button" class="btn btn-default" onclick='location="/admin/material"'>Cancel</button>
					</div>
				</div>
		
			</div>
		</div>
	</form>
	</div>
</div>


<script type="text/javascript">
	var url_params = <%- JSON.stringify(url_params) %>
</script>

