
<div ng-controller='MaterialController' class="portlet"><!-- /Portlet -->
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Material List </h4>
		</div>
		<div class="portlet-widgets">
			<a data-toggle="collapse" data-parent="#accordion" href="#basic"><i class="fa fa-chevron-down"></i></a>
			
			<!--a href="#" class="box-close"><i class="fa fa-times"></i></a-->
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="basic" class="panel-collapse collapse in">
		<div class="portlet-body no-padding">
			<table class="table table-bordered table-hover tc-table">
				<thead>
					<tr>
						<th class="col-small center"><label><input type="checkbox" class="tc"><span class="labels"></span></label></th>
						<th>Material Name</th>
						<th class="hidden-xs">Description</th>
						<th class="hidden-xs col-medium ">Region</th>
					
						<th class="col-medium center hidden-xs">Delete</th>
						<th class="col-medium center hidden-xs">Last Modified</th>
						<th class="col-medium center">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat=" item in materials.data">
						<td class="col-small center"><label><input type="checkbox" class="tc"><span class="labels"></span></label></td>
						<td>{{item.name}}
							<ul class="table-mobile-ul visible-xs list-unstyled">
								<li>Description: {{item.description}}</li>
								<li>modified: {{item.modified}}</li>
								<li>Earned: $70</li>
								<li><span class="label label-paid arrowed-in-right arrowed-in">Paid</span></li>
							</ul>
						</td>
						<td class="hidden-xs">{{item.description}}</td>
						<td class="hidden-xs col-medium ">{{item.region}}</td>
						<td class="center hidden-xs ">
							
							<label class="label label-active label-lg arrowed arrowed-right" ng-show="!item.isDelete")>No</label>
							<label class="label label-terminated label-lg arrowed arrowed-right" ng-show="item.isDelete">Yes</label>
						</td>
						<td class="hidden-xs col-medium center">{{item.modified | date:'MMMM d, yyyy' : 'UTC'}}</td>
						
						<td class="col-medium center">
							<div class="btn-group btn-group-xs ">
								<a href="/admin/material/edit/{{item._id}}" class="btn btn-inverse"><i class="fa fa-pencil icon-only"></i></a>
							</div>	
						</td>
					</tr>
					
				</tbody>
			</table>												
		</div>
	</div>
</div>