<script type="text/javascript">
	var url_params = <%- JSON.stringify(url_params) %>
</script>

<div class="row" ng-controller='CourseEditCtrl'>
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">									
				<div class="portlet">
					<div id="f-3" class="panel-collapse collapse in">
						<div class="portlet-body">
							<form name="editingForm" class="form-horizontal" role="form" ng-submit="update(editingForm.$valid)" novalidate>

								<div class="form-group">
									<label class="col-sm-3 control-label">Course Name</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" name="title" ng-model="course.title" required>
										<p ng-show="createForm.rate.$invalid && !createForm.rate.$pristine" class="help-block text-danger">Title is required</p>	
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Tag</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" name="title" ng-model="course.tag">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Last Modified</label>
									<div class="col-sm-6">
										<label class="label label-success">{{ course.lastModify  | date:'MMMM d, yyyy / HH:mm '}}</label>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Level</label>
									<div class="col-sm-6">
										<select ng-model="course.level">
											<option ng-repeat="level in levels" value="{{level}}">{{level}}</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Type</label>
									<div class="col-sm-6">
										<select ng-model="course.type">
											<option ng-repeat="type in types" value="{{type}}">{{type}}</option>
											<!-- <option value="Weekly">Weekly</option>
											<option value="Fixed Period">Fixed Period</option> -->
										</select>
									</div>
								</div>

								<div class="form-group" ng-if="course.type=='Fixed Period'">
									<label class="col-sm-3 control-label">Start Point</label>
									<div class="col-xs-3">
										<input type="date" class="form-control" name="start_point" ng-model="course.startPoint"  required>
									</div>

								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Durations</label>
									<div class="col-sm-6">
										<div style="margin-bottom:15px;">
											<button type="button" data-toggle="modal" data-target="#addNewDuration" class="btn btn-primary">New Duration</button>
										</div>
										<ul class="list-group no-margin-bottom duration-list col-sm-12 col-md-12">
											<li data-toggle="modal" ng-repeat="duration in course.durations | orderBy:'order' " class="list-group-item">
												{{ duration.title}}

												<button type="button" ng-click="moveListItemDown(course.durations, $index)" class="btn btn-inverse btn-xs btn-circle duration-list-operate-icon"><i class="fa fa-arrow-down"></i></button>
												<button type="button" ng-click="moveListItemUp(course.durations, $index)"  class="btn btn-inverse btn-xs btn-circle duration-list-operate-icon"><i class="fa fa-arrow-up"></i></button>

												<button type="button" ng-click="removeDuration(duration)" class="btn btn-danger btn-xs btn-circle duration-list-operate-icon"><i class="fa fa-trash-o icon-only"></i></button>
												<button type="button" ng-click="editDuration(duration)"  class="btn btn-primary btn-xs btn-circle duration-list-operate-icon"><i class="glyphicon glyphicon-cog icon-only"></i></button>
												<span class="badge badge-success">$ {{ duration.price | number:2 }}</span>
												
											</li>
										</ul>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Description</label>
									<div class="col-sm-6">
										<textarea class="form-control" id="maxL-3" rows="5x" name="description" ng-model="course.description" placeholder="This textarea has a limit of 225 chars."></textarea>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Page Content</label>
									<div class="col-sm-6">
										<textarea  style="height:50px;" ng-model="course.content"  id="page-content" class="form-control"></textarea>

									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">Cover Image</label>
									<div class="col-sm-6">
										<div ng-click="changeCover()" ng-if="course.cover == null" class="cover-empty"><label>200 X 100</label></div>

										<img class="preview-media"  ng-click="changeCover()"  ng-if="course.cover != null" src="{{course.cover.thumbnail}}">
									</div>
								</div>

								

								<div class="form-group">
									<label class="col-sm-3 control-label">Banner</label>
									<div class="col-sm-6" >
										<div ng-click="changeBanner()" ng-if="course.banner == null" class="banner-empty"><label>200 X 100</label></div>

										<img class="preview-media"   ng-click="changeBanner()"  ng-if="course.banner != null" src="{{course.banner.thumbnail}}">
									</div>
								</div>

								

								<div class="form-group">
									<label class="col-sm-3 control-label">Links</label>
									<div class="col-sm-6" >
										
										<div style="margin-bottom:15px;">
											<button type="button" data-toggle="modal" data-target="#addNewLink" class="btn btn-primary">Add New Link</button>
										</div>
										<ul class="list-group no-margin-bottom duration-list col-sm-12 col-md-12">
											<li data-toggle="modal" ng-repeat="link in course.links | orderBy:'order' " class="list-group-item">
												<a href="{{link.href}}" target="_blank">{{ link.title}}</a>


												<button type="button" ng-click="moveListItemDown(course.links, $index)" class="btn btn-inverse btn-xs btn-circle duration-list-operate-icon"><i class="fa fa-arrow-down"></i></button>
												<button type="button" ng-click="moveListItemUp(course.links, $index)"  class="btn btn-inverse btn-xs btn-circle duration-list-operate-icon"><i class="fa fa-arrow-up"></i></button>


												<button type="button" ng-click="removeLink(link)" class="btn btn-danger btn-xs btn-circle duration-list-operate-icon"><i class="fa fa-trash-o icon-only"></i></button>
												<button type="button" ng-click="editLink(link)"  class="btn btn-primary btn-xs btn-circle duration-list-operate-icon"><i class="glyphicon glyphicon-cog icon-only"></i></button>
											</li>
										</ul>
									</div>
								</div>


								<div class="form-group">
									<label class="col-sm-3 control-label"></label>
									<div class="col-sm-6">
										<div class="tcb">
											<label>
												<input type="checkbox" ng-model="course.isActive" class="tc">
												<span class="labels">Active</span>
											</label>
										</div>
									</div>
								</div>


								<div class="form-actions">
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-6">

									<a target="_blank" href="/course/{{course._id}}" class="btn btn-primary" >Preview</a>

									<button type="submit" ng-disabled="editingForm.$invalid" class="btn btn-primary">Update</button>

									<!-- <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="editingForm.$invalid"> -->
									<a href="/admin/course/all" type="submit" class="btn">Cancel</a>
								</div>
							</div>
							<div class="form-group">
								<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
								{{returnMessage}}
								</div>
							</div>
						</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>								
		<!-- END YOUR CONTENT HERE -->

	</div>

	<!-- Modal -->

	<div class="modal fade" id="addNewLink" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Create new link</h4>
	      </div>
	      <div class="modal-body">

	      	<div class="form-horizontal">
		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">Title</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control" ng-model="newCourseLink.title" >
		      		</div>
		      	</div>

		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">href</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control" ng-model="newCourseLink.href">
		      		</div>
		      	</div>

	      	</div>


	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" ng-disabled="" ng-click="createLink()">Create Link</button>
	      </div>
	    </div>
	  </div>
	</div>


	<div class="modal fade" id="addNewDuration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Create new duration</h4>
	      </div>
	      <div class="modal-body">

	      	<div class="form-horizontal">
		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">Title</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control  input-large" ng-model="newDuration.title" >
		      		</div>
		      	</div>
		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">Week(s)</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control  input-small" ng-model="newDuration.week">
		      		</div>
		      	</div>
		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">Price</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control  input-small" ng-model="newDuration.price">
		      		</div>
		      	</div>

	      	</div>


	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" ng-disabled="newDuration.title.$invalid ||  newDuration.price.$invalid" ng-click="createDuration()">Create Duration</button>
	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/ng-template" id="editDurationModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Edit duration</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">Title</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control  input-large" ng-model="duration.title" >
		      		</div>
		      	</div>
		      	<div class="form-group">
		      		<label class="col-sm-2 control-label"> Week(s)</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control  input-small" ng-model="duration.week">
		      		</div>
		      	</div>
		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">Price</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control  input-small" ng-model="duration.price">
		      		</div>
		      	</div>

	      	</div>
        </div>
        <div class="modal-footer">

            <button class="btn btn-primary" ng-click="ok()">Save Changes</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="EditLinkModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Edit Link Inof</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">title</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control" ng-model="link.title" >
		      		</div>
		      	</div>

		      	<div class="form-group">
		      		<label class="col-sm-2 control-label">href</label>
		      		<div class="col-sm-10">
		      			<input type="text"  class="form-control" ng-model="link.href">
		      		</div>
		      	</div>

	      	</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">Save Changes</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>


    <!-- include the media selector mockup -->
    <div ng-include="'/ng/html/MediaSelector.html'"></div>


</div>			




<style type="text/css">
	textarea, .wysihtml5-sandbox{
		height: 200px!important;
	}
</style>
<script type="text/javascript">

	$(document).ready(function(){
			// $('#page-content').ek_wysiwyg({

			// 	toolbar:
			// 		[
			// 			'font',
			// 			null,
			// 			'fontSize',
			// 			null,
			// 			'bold',
			// 			'italic',
			// 			'strikethrough',
			// 			'underline',
			// 			null,
			// 			'justifyleft',
			// 			'justifycenter',
			// 			'justifyright',
			// 			null,
			// 			'createLink',
			// 			'unlink',
			// 			null,
			// 			'insertImage',
			// 			null,
			// 			'undo',
			// 			'redo'
			// 		]
			// });


			$('#page-content').wysihtml5();

	});
</script>





















