<div class="row" ng-controller='CourseCtrl'>

<div class="col-lg-12">
		<div class="portlet">
			<div class="portlet-heading dark">
				<div class="portlet-title">
					<h4>Course Rate<small class="text-white"></small></h4>
				</div>
			</div>
			<div id="basic" class="panel-collapse collapse in">
				<div class="portlet-body no-padding">
					<table id="SampleDT" class="datatable table table-hover table-striped table-bordered tc-table">
						<thead>
							<tr>
								<tr>
								<th class="hidden-xs">Course name</th>
								<th class="hidden-xs">Category</th>
								<th class="hidden-xs">Type</th>
								<th class="hidden-xs">Level</th>
								
								<th class="hidden-xs">Status</th>
								<th class="hidden-xs">In Calendar</th>
								<th class="hidden-xs">Modified</th>
								<th class="col-medium center">Action</th>
							</tr>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="course in courses.data | filter:query">
								<td class="hidden-xs"><a href="#">{{course.title}}</a></td>
								<td class="hidden-xs">
									{{course.category}}  <small  ng-if="!(course.subCategory != null && ( course.subCategory != '' && course.subCategory != 'None' ) )" > (Order: {{course.order}})</small>
									<div ng-if="course.subCategory != null && ( course.subCategory != '' && course.subCategory != 'None'  )">
										{{ '- ' + course.subCategory}}

										<small> (Order: {{course.order}})</small>
									</div>
								</td>
								<td class="hidden-xs"><a href="#">{{course.type}}</a></td>
								<td class="hidden-xs"><a href="#">{{course.startLevel + ' to ' + course.endLevel }}</a></td>
								<td><span ng-if="course.isActive == 0" class="label label-danger">Not Active</span>
								<span ng-if="course.isActive == 1" class="label label-active">Active</span>
								</td>
								<td><span ng-if="course.isShowInCalendar == 0" class="label label-danger">No</span>
								<span ng-if="course.isShowInCalendar == 1" class="label label-active">Yes</span>
								</td>
								<td class="hidden-xs"><a href="#">{{course.lastModify | date: 'MMM dd, yyyy  hh:mm '}}</a></td>
								<td class="col-medium center">
									<div class="btn-group btn-group-xs ">
										<a href="/admin/course/edit/{{course._id}}" class="btn btn-inverse"><i class="fa fa-pencil icon-only"></i></a>
									</div>	
								</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>					 
		</div>
		
	</div>

</div>	 			


<!-- core JavaScript -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/plugins/datatables/datatables.init.js"></script>
<script src="/assets/js/plugins/bootbox/bootbox.min.js"></script>





