<div class="portlet">
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Create New Course</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
<form name="createForm" class="form-horizontal" ng-controller='CourseCtrl' role="form" ng-submit="create(createForm.$valid)" novalidate>
	<div class="form-group">
		<label class="col-sm-3 control-label">Course Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="title" ng-model="course.title" required>
			<p ng-show="createForm.rate.$invalid && !createForm.rate.$pristine" class="help-block text-danger">Title is required</p>	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Tag</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="tag" ng-model="course.tag" >
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Level</label>
		<div class="col-sm-6">
			<!-- <input type="text" class="form-control" name="level" ng-model="course.level" required> -->
			<select class="form-control" name="level" ng-model="course.level" required>
				<option ng-repeat="level in levels" value="{{level}}">{{level}}</option>
			</select>
			<p ng-show="createForm.level.$invalid && !createForm.level.$pristine" class="help-block text-danger">Level is required</p>	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Type</label>
		<div class="col-sm-6">
			<!-- <input type="text" class="form-control" name="level" ng-model="course.level" required> -->
			<select class="form-control" name="type" ng-model="course.type" required>
				<option ng-repeat="type in types" value="{{type}}">{{type}}</option>
			</select>
			<p ng-show="createForm.level.$invalid && !createForm.level.$pristine" class="help-block text-danger">Level is required</p>	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Category</label>
		<div class="col-sm-6">
			<select class="form-control" ng-change="onMainCategoryChanged()" name="category" ng-model="course.category" required>
				<option ng-repeat="category in categories" value="{{category.category}}">{{category.category}}</option>
			</select>
			<p ng-show="createForm.category.$invalid && !createForm.category.$pristine" class="help-block text-danger">Category is required</p>	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Second Category</label>
		<div class="col-sm-6">
			<select class="form-control" name="subCategory" ng-model="course.subCategory" required>
				<option value="None">None</option>
				<option ng-repeat="category in selectedCategory.subCategory" value="{{category}}">{{category}}</option>
			</select>
			<p ng-show="createForm.subCategory.$invalid && !createForm.subCategory.$pristine" class="help-block text-danger">Second Category is required</p>	
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-3 control-label">Description</label>
		<div class="col-sm-6">
		<textarea class="form-control" id="maxL-3" maxlength="225" rows="5x" name="description" ng-model="course.description" placeholder="This textarea has a limit of 225 chars."></textarea>
		</div>
	</div>

	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-3">
				<button type="button" class="btn btn-primary" ng-disabled="!createForm.$valid" ng-click="create()">Create</button>
				<button type="button" class="btn btn-default" onclick='location="/admin/"'>Cancel</button>
			</div>
		</div>
		<div class="form-group">
			<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
				{{returnMessage}}
			</div>
		</div>
	</div>

</form>
</div>
</div>