
<!-- BEGIN MAIN PAGE CONTENT -->
<div id="page-wrapper">
	<!-- BEGIN PAGE HEADING ROW -->
	<div class="row">
		<div class="col-lg-12">
			<!-- BEGIN BREADCRUMB -->
			<div class="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a>
					</li>
					<li class="active">Staffs profile</li>
				</ul>								
			</div>
			<!-- END BREADCRUMB -->
			<a href="#/staffs/create" class="btn btn-s btn-danger">Add</a>		
		</div><!-- /.col-lg-12 -->
	</div><!-- /.row -->
	<!-- END PAGE HEADING ROW -->					
	<div class="row">
		<div class="col-lg-12">

			<!-- START YOUR CONTENT HERE -->
			<div class="portlet"><!-- /Portlet -->
				<div class="portlet-heading dark">
					<div class="portlet-title">
						<h4>Staffs<small class="text-white"></small></h4>
					</div>
					<div class="portlet-widgets">
						<a data-toggle="collapse" data-parent="#accordion" href="#basic"><i class="fa fa-chevron-down"></i></a>
						<span class="divider"></span>
						<a href="#" class="box-close"><i class="fa fa-times"></i></a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div id="basic" class="panel-collapse collapse in">
					<div class="portlet-body no-padding">
						<table class="table table-bordered table-hover tc-table">
							<thead>
								<tr>
									<th>Username</th>
									<th class="hidden-xs">Name</th>
									<th class="hidden-xs">Work Phone</th>
									<th class="hidden-xs">Cell Phone</th>
									<th class="hidden-xs">Email</th>
									<th class="col-medium center">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="staff in staffs.data">
									<td>{{staff.username}}</td>
									<td class="hidden-xs">{{staff.firstname}} {{staff.lastname}}</td>
									<td class="hidden-xs">{{staff.workphone}}</td>
									<td class="hidden-xs">{{staff.cellphone}}</td>
									<td class="hidden-xs">{{staff.email}}</td>
									<td class="col-medium center">
										<div class="btn-group btn-group-xs ">
											<a href="" class="btn btn-inverse"><i class="fa fa-pencil icon-only"></i></a>
										</div>	
									</td>
								</tr>
								
							</tbody>
						</table>												
					</div>
				</div>
			</div><!-- /Portlet -->



			<!-- END YOUR CONTENT HERE -->

		</div>
	</div>					

	<!-- BEGIN FOOTER CONTENT -->		
	<div class="footer">
		<div class="footer-inner">
			<!-- basics/footer -->
			<div class="footer-content">
				&copy; 2014 <a href="#">eKoders</a>, All Rights Reserved.
			</div>
			<!-- /basics/footer -->
		</div>
	</div>
	<button type="button" id="back-to-top" class="btn btn-primary btn-sm back-to-top">
		<i class="fa fa-angle-double-up icon-only bigger-110"></i>
	</button>
	<!-- END FOOTER CONTENT -->

</div><!-- /#page-wrapper -->	  
<!-- <div>status : {{staffs.status}}</div>
<div>messages : {{staffs.messages}}</div>
<div ng-repeat="staff in staffs.data">
username : {{staff.username}}
</div> -->