<div class="portlet" ng-controller='SliderController'>
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Create New Slide</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
	<form class="form-horizontal" name="validateForm" >
		<div id="bwizard">
			<div class="tab-content">
				<div class="form-group">
					<label class="col-sm-3 control-label">Main Heading:</label>
					<div class="col-sm-6">
						<div class="clearfix">
							<div class="input-group">
								<input type="text" name="heading" ng-model="slider.heading" class="form-control" required>
								<span ng-show="!validateForm.heading.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
								<span ng-show="validateForm.heading.$error.required" class="input-group-addon">Required</span>
							</div>
						</div>

					</div>

				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="password">Sub Heading:</label>
					<div class="col-sm-6">
						<div class="clearfix">
							<div class="input-group">
								<input type="text" name="sub_heading"  ng-model="slider.sub_heading"  class="form-control" required>
								<span ng-show="!validateForm.sub_heading.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
								<span ng-show="validateForm.sub_heading.$error.required" class="input-group-addon">Required</span>
							</div>
							
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label" for="password2">Text Color:</label>
					<div class="col-sm-4">
						<div class="clearfix">
							<input type="text" name="color"  id="textColor" ng-model="slider.color" class="form-control">
							<div class="color-picker" ng-repeat="c in colors">
								<div class="col-xs-4 picker"><p color-Picker style="background-color:{{ c.code }}">{{ c.name }}</p></div>	
							</div>
						</div>
					</div>
				</div>
				
				<hr class="separator" />

				<div class="form-group">
					<label class="col-sm-3 control-label">Text Postion:</label>
					<div class="col-sm-4">
						<div class="clearfix">
							<div>{{ slider.position}}</div>
							<div class="slider-position">
								<div class="col-xs-4 tap"><p position-Picker>LT</p></div>
								<div class="col-xs-4 tap"><p position-Picker>MT</p></div>
								<div class="col-xs-4 tap"><p position-Picker>RT</p></div>
								<div class="col-xs-4 tap"><p position-Picker>LM</p></div>
								<div class="col-xs-4 tap select"><p position-Picker>CENTER</p></div>
								<div class="col-xs-4 tap"><p position-Picker>RM</p></div>
								<div class="col-xs-4 tap"><p position-Picker>LB</p></div>
								<div class="col-xs-4 tap"><p position-Picker>MB</p></div>
								<div class="col-xs-4 tap"><p position-Picker>RB</p></div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Direction:</label>
					<div class="col-sm-2 form-group">
						<div class="clearfix">
							<select class="form-control " ng-model="slider.direction" >
								<option value="{{d.class}}" ng ng-repeat="d in directionOption">{{d.label}}</option>
							</select>
						</div>
						

					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-3"></div>	
					<div class="col-sm-3">											
						<button type="button" class="btn btn-primary" ng-disabled="!validateForm.$valid" ng-click="create()">Create</button>
						<button type="button" class="btn btn-default" onclick='location="/admin/"'>Cancel</button>
					</div>
				</div>
		
			</div>
		</div>
	</form>
	</div>
</div>



