<form name="editForm" class="form-horizontal" ng-controller='AgentDetail' role="form" ng-submit="update(editForm.$valid)" novalidate>
<div class="row">
	<div class="form-group">
		<label class="col-sm-2 control-label">Name : </label>
		<div class="col-sm-4">
		<label class="control-label">{{agent.firstname}} {{agent.lastname}}</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Company : </label>
		<div class="col-sm-4">
		<label class="control-label">{{agent.company}}</label>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : editForm.workphone.$invalid && !editForm.workphone.$pristine}"}>
		<label class="col-sm-2 control-label">Work Phone : </label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" name="workphone" ng-model="agent.workphone" required>
			<p ng-show="editForm.workphone.$invalid && !editForm.workphone.$pristine" class="help-block text-danger">Work Phone is required</p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : editForm.cellphone.$invalid && !editForm.cellphone.$pristine}"}>
		<label class="col-sm-2 control-label">Cell Phone : </label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" name="cellphone" ng-model="agent.cellphone" required>
			<p ng-show="editForm.cellphone.$invalid && !editForm.cellphone.$pristine" class="help-block text-danger">CellPhone is required</p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error' : editForm.email.$invalid && !editForm.email.$pristine}"}>
		<label class="col-sm-2 control-label">E-mail : </label>
		<div class="col-sm-2">
			<input  type="text" class="form-control" name="email" ng-model="agent.email" required>
			<p ng-show="editForm.email.$invalid && !editForm.email.$pristine" class="help-block text-danger">E-mail is required</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Region : </label>
		<div class="col-sm-4">
		<label class="control-label">{{agent.region}}</label>
		</div>
	</div>
	<div class="form-group">
	<div class="col-sm-2">
	</div>
		<div class="col-sm-2">
			<input type="submit" class="btn btn-primary" value="Update">
		</div>
		<div class="col-sm-2">
			<a href="/agent/profile" class="btn btn-primary">Back</a>
		</div>
	</div>
</div>
</form>














