<div class="row"  ng-controller='AgentDetail'>
<form name ="myForm" ng-submit="resetpassword(myForm.$valid)" novalidate>
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<span class="fa fa-lock text-gray"></span>
					<input id="oldpassword" name ="oldpassword" type="password" class="form-control" placeholder="Enter your old password" ng-model="resetObj.oldpassword" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<span class="fa fa-lock text-gray"></span>
					<input class="form-control" data-ng-model='resetObj.password' type="password" name='password' placeholder='password' required />
								<span class="labels text-danger" ng-show="myForm.password.$error.required">password is required</span> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<span class="fa fa-lock text-gray"></span>
					<input class="form-control" ng-model='resetObj.password_verify' type="password" name='confirm_password' placeholder='confirm password' required data-password-verify="resetObj.password"/>
								<span class="labels text-danger" ng-show="myForm.confirm_password.$error.required">confirm password is required</span> 
								<span class="labels text-danger" ng-show="myForm.confirm_password.$error.passwordVerify">password is not match</span> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label>
					<span id="messageReturn" class="labels text-danger">{{returnMessage}}</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
			<a href="/agent/profile" class="btn btn-primary">Back</a>
				<input type="submit" class="pull-right btn btn-primary" value="Reset" ng-disabled="myForm.$invalid"/>
			</div>
		</div>							
	</form>
</div>