<div class="row">
								<div class="col-lg-3 col-md-3">
									<div class="well well-sm white">
										<div class="profile-pic">
											<a href="#">
												<img src="assets/images/user-1.jpg" class="img-responsive"  alt="">
											</a>
										</div>
										<p class="text-center">
											<button type="button" class="btn btn-facebook btn-xs" data-placement="top" data-rel="tooltip" title="Visit My Facebook" role="button"><i class="fa fa-facebook icon-only"></i></button>
											<button type="button" class="btn btn-twitter btn-xs" data-placement="top" data-rel="tooltip" title="Visit My Twitter" role="button"><i class="fa fa-twitter icon-only"></i></button>
											<button type="button" class="btn btn-googleplus btn-xs" role="button" data-placement="top" data-rel="tooltip" title="Google +"><i class="fa fa-google-plus icon-only"></i></button>
										</p>
									</div>
									<div class="alert bg-primary">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nunc lorem, rutrum non porta.</p>
									</div>
								</div>
								<div class="col-lg-9 col-md-9">
									<div class="tc-tabs"><!-- Nav tabs style 1 -->
										<ul class="nav nav-tabs tab-lg-button tab-color-dark background-dark white">
											<li class="active"><a href="#p1" data-toggle="tab"><i class="fa fa-desktop bigger-130"></i>Overview</a></li>
											<li><a href="#p2" data-toggle="tab"><i class="fa fa-edit bigger-130"></i>Edit Account</a></li>
											<li><a href="#p3" data-toggle="tab"><i class="fa fa-building-o bigger-130"></i>Projects</a></li>
										</ul>
												<!-- Tab panes -->
										<div class="tab-content">
											<div class="tab-pane fade in active" id="p1">
												<div class="row">													
													<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
														<div class="portlet no-border">
															<div class="portlet-heading">
																<div class="portlet-title">
																	<h2>John Smith</h2>
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="portlet-body">
																<div class="editable" id="profile">
																	Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore magna aliquam tincidunt erat volutpat.
																</div>
																
																<div class="space-4"></div>
																
																<address>
																	<a href="mailto:#" id="email">john.smith@example.com</a>
																</address>
																
																<span class="">Last Login </span><span class="editable" id="slider">7 hours ago</span>
																
																<div class="space-4"></div>
																
																<ul class="list-inline well well-sm">
																	<li><i class="fa fa-flag bigger-110"></i> <a href="#" id="country" data-value="US" class="editable">Uinited State</a></li>
																	<li><i class="fa fa-calendar bigger-110"></i> <a href="#" id="dob" class="editable">28th March, 2014</a></li>
																	<li><i class="glyphicon glyphicon-certificate bigger-110"></i> RedHat Certification</li>
																</ul>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
														<div class="portlet no-border">
															<div class="portlet-heading dark">
																<div class="portlet-title">
																	<h4>Skills</h4>
																</div>
																<div class="portlet-widgets">
																	<i class="fa fa-sort-alpha-desc bigger-110"></i>
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="portlet-body skills light">
																<div class="progress" data-percent="75%">
																	<div class="progress-bar progress-bar-success" role="progressbar" style="width: 75%">
																		<span class="sr-only">75% Complete</span>
																	</div>
																	<span class="progress-type">HTML / HTML5</span>
																	<span class="progress-completed">75%</span>
																</div>
																<div class="progress" data-percent="40%">
																	<div class="progress-bar progress-bar-warning" role="progressbar" style="width: 40%">
																		<span class="sr-only">40% Complete</span>
																	</div>
																	<span class="progress-type">ASP.Net</span>
																	<span class="progress-completed">40%</span>
																</div>
																<div class="progress" data-percent="26%">
																	<div class="progress-bar progress-bar-danger" role="progressbar" style="width: 26%">
																		<span class="sr-only">26% Complete</span>
																	</div>
																	<span class="progress-type">Java</span>
																	<span class="progress-completed">26%</span>
																</div>
																<div class="progress" data-percent="80%">
																	<div class="progress-bar" role="progressbar" style="width: 80%">
																		<span class="sr-only">80% Complete</span>
																	</div>
																	<span class="progress-type">jQuery / JavaScript</span>
																	<span class="progress-completed">80%</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="portlet no-border-bottom">
															<div class="portlet-heading dark">
																<div class="portlet-title">
																	<h4><i class="fa fa-rss"></i> Recent Activities</h4>
																</div>
																<div class="portlet-widgets">
																	<a href="javascript:;"><i class="fa fa-refresh"></i></a>
																	<span class="divider"></span>
																	<a href="#" class="tooltip-danger" data-placement="left" data-rel="tooltip" title="Clear"><i class="fa fa-trash-o bigger-110"></i></a>
																</div>
																<div class="clearfix"></div>
															</div>
															<div class="portlet-body no-padding">
																<ul class="lists">
																	<li>
																		<span class="date">17/7/2014</span>
																		<span class="icons"><i class="fa fa-warning"></i></span>
																		Server rdp32 is overloaded
																	</li>
																	<li>
																		<span class="date">17/7/2014</span>
																		<span class="icons"><i class="fa fa-warning"></i></span>
																		Email Sent to Sameer Matalia <a href="#">[Ticket ID: 332335]</a>
																	</li>
																	<li>
																		<span class="date">17/7/2014</span>
																		<span class="icons"><i class="fa fa-warning"></i></span>
																		Module Suspend Successful - Reason: <a href="#">#827101</a>
																	</li>
																	<li>
																		<span class="date">17/7/2014</span>
																		<span class="icons"><i class="fa fa-warning"></i></span>
																		Cron Job: Starting Processing Overdue Suspensions
																	</li>
																	<li>
																		<span class="date">17/7/2014</span>
																		<span class="icons"><i class="fa fa-warning"></i></span>
																		Email Sent to <a href="#">Sunil Gupta</a> (Add new domain)
																	</li>
																	<li>
																		<span class="date">17/7/2014</span>
																		<span class="icons"><i class="fa fa-warning"></i></span>
																		<a href="#">New order</a> received. Please take care of it.
																	</li>
																</ul>
															</div>
														</div>
														
														<div class="hr hr-12 hr-double"></div>
														<div class="action-buttons">
															<a href="#"><i class="fa fa-search-plus"></i> View all</a>
														</div>
														
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="p2">
												<h2>Account details</h2>
												<div class="hr hr-12 hr-double"></div>
												<form class="form-horizontal" role="form" method="post">
													<div class="form-group">
														<label class="col-sm-3 control-label">First Name:</label>
														<div class="col-sm-3">
															<input type="text" class="form-control" placeholder="john">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">Last Name:</label>
														<div class="col-sm-3">
															<input type="text" class="form-control" placeholder="Smith">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">Company:</label>
														<div class="col-sm-5">
															<input type="text" class="form-control" placeholder="eKoders, Ltd.">
														</div>
													</div>													
													<div class="form-group">
														<label class="col-sm-3 control-label">Email</label>
														<div class="col-sm-4">
															<div class="input-group">
																<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
																<input type="email" class="form-control" placeholder="john.smith@example.com" disabled>
															</div>
														</div>
													</div>
													
													<hr class="separator">
													
													<div class="form-group">
														<label class="col-sm-3 control-label"></label>
														<div class="col-sm-9">
															<div class="tcb">
																<label>
																	<input type="checkbox" class="tc tc-red">
																	<span class="labels"> Tick to Pasword Modifaction</span>
																</label>
															</div>
														</div>
													</div>
														<div class="myPassword" style="display: none;">
															<div class="form-group">
																<label class="col-sm-3 control-label">Existing Password:</label>
																<div class="col-sm-4">
																	<div class="input-group">
																		<input type="password" class="form-control" id="form-field-1">
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-3 control-label">New Password:</label>
																<div class="col-sm-4">
																	<div class="input-group">
																		<input type="password" class="form-control" id="form-field-2">
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-3 control-label">Confirm New Password:</label>
																<div class="col-sm-4">
																	<div class="input-group">
																		<input type="password" class="form-control" id="form-field-3">
																	</div>
																</div>
															</div>
														</div>
													
													<hr class="separator">
													
													<div class="form-group">
														<label class="col-sm-3 control-label">About Me:</label>
														<div class="col-sm-9">
															<textarea id="about-editor" class="form-control"></textarea>
														</div>
													</div>													
													<div class="form-group">
														<label class="col-sm-3 control-label">Address:</label>
														<div class="col-sm-7">
															<input type="text" class="form-control" placeholder="795 Folsom Ave, Suite 600">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">City:</label>
														<div class="col-sm-3">
															<input type="text" class="form-control" placeholder="San Francisco">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">State/Region:</label>
														<div class="col-sm-4">
															<input type="text" class="form-control" placeholder="Florida">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">Zip code:</label>
														<div class="col-sm-3">
															<input type="text" class="form-control" placeholder="94107">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">Country:</label>
														<div class="col-sm-4">
															<input type="text" class="form-control" placeholder="United State">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-3 control-label">Phone Number:</label>
														<div class="col-sm-3">
															<input type="text" class="form-control" placeholder="+1 5643234765">
														</div>
													</div>												
													<div class="form-actions">
														<div class="form-group">
															<div class="col-sm-offset-3 col-sm-9">
																<button type="submit" class="btn btn-primary">Submit</button>
																<button type="submit" class="btn btn-inverse">Cancel</button>
															</div>
														</div>
													</div>
												</form>
											</div>
											<div class="tab-pane fade" id="p3">
												Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
											</div>
										</div>
									</div><!--nav-tabs style 1-->
								</div>
							</div>		