<!-- 
<form name="registerForm" class="form-horizontal"  ng-controller='StudentRegister' role="form" ng-submit="register(registerForm.$valid)" novalidate>
	<div class="form-group">
		<label class="col-sm-3 control-label">First Name</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="firstname" ng-model="student.firstname" required>
			<p ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine" class="help-block text-danger">first name is required</p>
		</div>
	</div>

	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-2">
				<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="registerForm.$invalid">
			</div>
		</div>
	</div>

</form> -->

<form name="registerForm" class="form-horizontal" ng-controller='StudentRegister' role="form" ng-submit="register(registerForm.$valid)" novalidate>
	<div class="wizard">
		<ul class="wizard-steps">
			<li data-target="#step1" class="active">
				<span class="step">1</span>
				<span class="title">Student Information</span>
			</li>
			<li data-target="#step2">
				<span class="step">2</span>
				<span class="title">Program Registration</span>
			</li>
			<li data-target="#step3">
				<span class="step">3</span>
				<span class="title">Accommodation Information</span>
			</li>
			<li data-target="#step4">
				<span class="step">4</span>
				<span class="title">Terms & Conditions</span>
			</li>
		</ul>

		<hr class="separator" />


<!-- Step 1 Student registration -->
		<div class="step-content">
			<div class="step-pane active" id="step1">											
				<div class="form-group">
					<label class="col-sm-1 control-label">First Name</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" name="firstname" ng-model="student.firstname" required>
						<p ng-show="registerForm.firstname.$invalid && !registerForm.firstname.$pristine" class="help-block text-danger">first name is required</p>
					</div>
					<label class="col-sm-1 control-label">Family Name</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" name="lastname" ng-model="student.lastname" required>
						<p ng-show="registerForm.lastname.$invalid && !registerForm.lastname.$pristine" class="help-block text-danger">last name is required</p>
					</div>
				</div>
				<div class="form-group">
				<label class="col-sm-1 control-label">Gender</label>
					<div class="col-sm-2">
						<select name="gender" ng-model="student.gender" required>
     						 <option value="">--</option>
     						 <option value="male">Male</option> 
      						 <option value="female">Female</option>
   					    </select>
   					    <p ng-show="registerForm.gender.$invalid && !registerForm.gender.$pristine" class="help-block text-danger">gender is required</p>
					</div>
					<label class="col-sm-1 control-label">Birth Date</label>
					<div class="col-sm-2">
						<input type="date" class="form-control" name="birthday" ng-model="student.birthday" required>
						<p ng-show="registerForm.birthday.$invalid && !registerForm.birthday.$pristine" class="help-block text-danger">birthday is required</p>
					</div>
					<label class="col-sm-1 control-label">Age</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" name="age" ng-model="student.age" min="1" max="99" required>
						<p ng-show="registerForm.age.$invalid && !registerForm.age.$pristine" class="help-block text-danger">age is invalid</p>
					</div>
					<label class="col-sm-1 control-label">Citizenship</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" name="citizenship" ng-model="student.citizenship" required>
						<p ng-show="registerForm.citizenship.$invalid && !registerForm.citizenship.$pristine" class="help-block text-danger">citizenship is required</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">Address</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" name="address" ng-model="student.address" required>
   					    <p ng-show="registerForm.address.$invalid && !registerForm.address.$pristine" class="help-block text-danger">address is required</p>
					</div>
					<label class="col-sm-1 control-label">Postal Code</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" name="postcal" ng-model="student.postcal" required>
   					    <p ng-show="registerForm.postcal.$invalid && !registerForm.postcal.$pristine" class="help-block text-danger">postcal code is required</p>
					</div>
					<label class="col-sm-1 control-label">City</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" name="city" ng-model="student.city" required>
   					    <p ng-show="registerForm.city.$invalid && !registerForm.city.$pristine" class="help-block text-danger">city is required</p>
					</div>
					<label class="col-sm-1 control-label">Province</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" name="province" ng-model="student.province" required>
   					    <p ng-show="registerForm.province.$invalid && !registerForm.province.$pristine" class="help-block text-danger">province is required</p>
					</div>
					<label class="col-sm-1 control-label">Country</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" name="country" ng-model="student.country" required>
   					    <p ng-show="registerForm.country.$invalid && !registerForm.country.$pristine" class="help-block text-danger">country is required</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label">Telephone</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" name="phone" ng-model="student.phone" required>
   					    <p ng-show="registerForm.phone.$invalid && !registerForm.phone.$pristine" class="help-block text-danger">phone is invalid</p>
					</div>
					<label class="col-sm-1 control-label">Fax</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" name="fax" ng-model="student.fax">
					</div>
					<label class="col-sm-1 control-label">Email</label>
					<div class="col-sm-2">
						<input type="email" class="form-control" name="email" ng-model="student.email" required>
   					    <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block text-danger">email is invalid</p>
					</div>
				</div>
 				<div class="form-group">
					<label class="col-sm-1 control-label">Emergency Contact & Telephone</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" name="emergency" ng-model="student.emergency" required>
						<p ng-show="registerForm.emergency.$invalid && !registerForm.emergency.$pristine" class="help-block text-danger">emergency contact is invalid</p>
					</div>
					<label class="col-sm-3 control-label">Is this a home country address</label>
					<div class="col-sm-2">
						<input type="checkbox" class="form-control" name="isHomeCountryAddress" ng-model="student.isHomeCountryAddresss">
					</div>
				</div>

			</div>


<!-- Step 2 Program registration -->
			<!-- <div class="step-pane" id="step2">
				<div class="form-group">
					<label class="col-sm-2 control-label">English Level : </label>
					<div class="col-sm-3">
						<select name="gender" ng-model="student.englishLevel" required>
     						 <option value="">--</option>
     						 <option value="male">Beginner</option> 
      						 <option value="female">Low Intermediate</option>
      						 <option value="female">High Intermediate</option>
      						 <option value="female">Advanced</option>
   					    </select>
   					    <p ng-show="registerForm.englishLevel.$invalid && !registerForm.englishLevel.$pristine" class="help-block text-danger">required</p>
					</div>
					<label class="col-sm-3 control-label">For Direct Entry(UCTP or Focus Program)</label>
					<label class="col-sm-1 control-label">TOEFL : </label>
					<div class="col-sm-1">
						<input type="text" class="form-control" name="toefl" ng-model="student.toefl" >
					</div>
					<label class="col-sm-1 control-label">IELTS : </label>
					<div class="col-sm-1">
						<input type="text" class="form-control" name="ielts" ng-model="student.ielts">
					</div>

				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">General English Programs : </label>
					<div class="col-sm-3">
						<select name="generalProgram" ng-model="student.generalProgram">
     						 <option value="">--</option>
     						 <option value="intensive">Intensive(30 hours/week)</option> 
      						 <option value="standard">Standard(22.5 hours week)</option>
      						 <option value="parttime">Part-time(15 hours/week)</option>
   					    </select>
					</div>
					<label class="col-sm-1 control-label">Starting Date : </label>
					<div class="col-sm-2">
					<input type="date" class="form-control" name="generalProgram_startingDate" ng-model="student.generalProgram_startingDate">
					</div>
					<label class="col-sm-1 control-label"># of week</label>
					<div class="col-sm-1">
					<input type="number" class="form-control" name="generalProgramOfWeek" ng-model="student.generalProgramOfWeek">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Exam Preparation Programs : </label>
					<div class="col-sm-3">
						<select name="examPpreparationProgram" ng-model="student.examPpreparationProgram">
     						 <option value="">--</option>
     						 <option value="ielts_standard">IELTS(standard)</option> 
      						 <option value="ielts_intensive">IELTS(intensive)(IELTS + One ESL class)</option>
      						 <option value="ibt_standard">iBT TOEFL(standard)</option>
      						 <option value="ibt_intensive">iBT TOEFL(intensive)(iBT TOEFL + One ESL class)</option>
   					    </select>
					</div>
					<label class="col-sm-1 control-label">Starting Date : </label>
					<div class="col-sm-2">
					<input type="date" class="form-control" name="examPpreparationProgram_startingDate" ng-model="student.examPpreparationProgram_startingDate">
					</div>
					<label class="col-sm-1 control-label"># of week</label>
					<div class="col-sm-1">
					<select name="gender" ng-model="student.examPreparationOfWeek">
     						 <option value="">--</option>
     						 <option value="4">4</option> 
      						 <option value="8">8</option>
      						 <option value="12">12</option>
   					    </select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Focus Programs : </label>
					<div class="col-sm-3">
						<select name="focusProgram" ng-model="student.focusProgram">
     						 <option value="">--</option>
     						 <option value="speaking_fos">Focus on Speaking(F.O.S)(standard)</option> 
      						 <option value="writing_fow">Focus on Writing(F.O.W)(standard)3 FOW classes</option>
      						 <option value="intensive_fow">F.O.W.(Intensive)(F.O.W + One ESL Class)</option>
      						 <option value="health_care">English for Health Care(EHC)(standard) 3 EHC Classes</option>
      						 <option value="intensive_ehc">E.H.C (intensive)(E.H.C. + One ESL class)</option>
      						 <option value="volunteer_ehc">E.H.C Volunteer Placement Minimum 12 weeks</option>
   					    </select>
					</div>
					<label class="col-sm-1 control-label">Starting Date : </label>
					<div class="col-sm-2">
					<input type="date" class="form-control" name="focusProgram_startingDate" ng-model="student.focusProgram_startingDate">
					</div>
					<label class="col-sm-1 control-label"># of week</label>
					<div class="col-sm-1">
					<select name="gender" ng-model="student.focusProgramOfWeek">
     						 <option value="">--</option>
     						 <option value="4">4</option> 
      						 <option value="8">8</option>
      						 <option value="12">12</option>
      						 <option value="12">16</option>
   					    </select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">University College Transfer Program (UCTP)</label>
					<div class="col-sm-3">
						<select name="UCTPProgram" ng-model="student.focusProgram">
     						 <option value="">--</option>
     						 <option value="uctp_prep">UCTP Prep.(standard only)</option> 
      						 <option value="uctp">UCTP (standard only)</option>
   					    </select>
					</div>
					<label class="col-sm-1 control-label">Starting Date : </label>
					<div class="col-sm-2">
					<input type="date" class="form-control" name="UCTP_startingDate" ng-model="student.UCTP_startingDate">
					</div>
					<label class="col-sm-1 control-label"># of week</label>
					<div class="col-sm-1">
					<select name="gender" ng-model="student.uctpOfweek">
     						 <option value="">--</option>
     						 <option value="4">4</option> 
      						 <option value="8">8</option>
      						 <option value="12">12</option>
   					    </select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">Health Insurance</label>
					<label class="col-sm-1 control-label">From Date : </label>
					<div class="col-sm-2">
					<input type="date" class="form-control" name="healthInsurance_startingDate" ng-model="student.healthInsurance_startingDate">
					</div>
					<label class="col-sm-1 control-label">To Date : </label>
					<div class="col-sm-2">
					<input type="date" class="form-control" name="healthInsurance_endDate" ng-model="student.healthInsurance_endDate">
					</div>
				</div>
			</div> -->

<!-- Step 3 Program registration accommodation -->
<!-- <div class="step-pane" id="step1">
	<div class="form-group">
		<label class="col-sm-2 control-label">Are you in home stay</label>
		<div class="col-sm-1">
			<input type="checkbox" class="form-control" name="ishomestay" ng-model="student.ishomestay">
		</div>
	</div>

	<div ng-show=student.ishomestay>

		<div class="form-group">
			<label class="col-sm-2 control-label">Accommodation :</label>
			<div class="col-sm-1">
				<select name="accommodation_way" ng-model="student.accommodation_way" required>
					<option value="">--</option>
					<option value="Homestay">Homestay</option> 
					<option value="Residence">Residence(May - Aug only)</option>
				</select>
			</div>

			<label class="col-sm-2 control-label">Homestay Option</label>
			<div class="col-sm-1">
				<select name="homestay_option" ng-model="student.homestay_option" required>
					<option value="">--</option>
					<option value="fullboard">Full Board(3 meals per day)</option> 
					<option value="halfboard">Half Board(2 meals per day)</option>
					<option value="roomonly">Romm Only</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Accommodation Date : </label>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Starting Date : (DD/MM/YYYY)</label>
			<div class="col-sm-2">
				<input type="date" class="form-control" name="accommodation_startingDate" ng-model="student.accommodation_startingTime" required>
			</div>
			<label class="col-sm-2 control-label">Finishing Date : </label>
			<div class="col-sm-2">
				<input type="date" class="form-control" name="accommodation_finishingDate" ng-model="student.accommodation_finishingDate" required>
			</div>
			<label class="col-sm-1 control-label"># of week</label>
			<div class="col-sm-1">
				<input type="number" class="form-control" name="accommodationOfWeeks" ng-model="student.accommodationOfWeeks" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Departure date from Toronto: </label>
			<div class="col-sm-2">
				<input type="date" class="form-control" name="accommodation_finishingDate" ng-model="student.accommodation_departureDate" required>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Flight Information : </label>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Arrival in Toronto</label>
			<label class="col-sm-1 control-label">Date&Time</label>
			<div class="col-sm-2">
				<input type="date" class="form-control" name="flight_arrivalDateTime" ng-model="student.flight_arrivalDateTime" required>
			</div>
			<label class="col-sm-1 control-label">Airline</label>
			<div class="col-sm-1">
				<input type="text" class="form-control" name="flight_airline_arr" ng-model="student.flight_airline_arr" required>
			</div>
			<label class="col-sm-1 control-label">Flight#</label>
			<div class="col-sm-1">
				<input type="text" class="form-control" name="flight_No_arr" ng-model="student.flight_No_arr" required>
			</div>
			<label class="col-sm-2 control-label">Airport Pick up Request</label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" name="isPickup" ng-model="student.isPickup">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Departure from Toronto</label>
			<label class="col-sm-1 control-label">Date&Time</label>
			<div class="col-sm-2">
				<input type="date" class="form-control" name="flight_departureDateTime" ng-model="student.flight_departureDateTime" required>
			</div>
			<label class="col-sm-1 control-label">Airline</label>
			<div class="col-sm-1">
				<input type="text" class="form-control" name="flight_airline_dep" ng-model="student.flight_airline_dep" required>
			</div>
			<label class="col-sm-1 control-label">Flight#</label>
			<div class="col-sm-1">
				<input type="text" class="form-control" name="flight_No_dep" ng-model="student.flight_No_dep" required>
			</div>
			<label class="col-sm-2 control-label">Airport Drop off Request</label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" name="isdropOff" ng-model="student.isdropOff">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-8 control-label">Please answer the following questions to assist us in finding an appropriate host family for you.</label>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Do you smoke ?</label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" name="IsSmoke" ng-model="student.IsSmoke">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Do you live in a home with smoker ?</label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" name="IswithSmoker" ng-model="student.IswithSmoker">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Do you live with pet ? </label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" name="IswithPet" ng-model="student.IswithPet">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Do you live with small children ? </label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" name="Iswithchildren" ng-model="student.Iswithchildren">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">What is your hobbies ? </label>
			<div class="col-sm-7">
				<textarea class="form-control" name="hobbies" ng-model="student.hobbies"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Peofession(What is your occupation ?) </label>
			<div class="col-sm-7">
				<textarea class="form-control" name="occupation" ng-model="student.occupation"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Additional Comments : </label>
			<div class="col-sm-7">
				<textarea class="form-control" name="comments" ng-model="student.comments"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Do you have any special diet or food preference ?</label>
			<div class="col-sm-7">
				<textarea class="form-control" name="special_food" ng-model="student.special_food"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">Do you have any allergies or medical concerns ?</label>
			<div class="col-sm-7">
				<textarea class="form-control" name="allergies_medical" ng-model="student.allergies_medical"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Extra Options(Please note that an extra charge will apply)</label>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Private Bathroom(Subject to availability)</label>
			<div class="col-sm-1">
				<input type="checkbox" class="form-control" name="IsPrivate" ng-model="student.IsPrivate">
			</div>
		</div>
	</div>

</div> -->

		</div>


		<div class="form-actions">
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="button" class="btn btn-prev"> <i class="fa fa-arrow-left"></i>Prev</button>
					<button type="button" class="btn btn-next btn-primary" data-last="Finish" ng-disabled="registerForm.$invalid">Next<i class="fa fa-arrow-right icon-on-right"></i></button> 
					<!-- <button type="button" class="btn btn-next btn-primary" data-last="Finish">Next<i class="fa fa-arrow-right icon-on-right"></i></button> -->
					<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="registerForm.$invalid">
				</div>
			</div>
		</div>
	</div>
</form>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>


<!-- PAGE LEVEL PLUGINS JS -->
<script src="/assets/js/plugins/fuelux/wizard.min.js"></script>


