<div class="row"  ng-controller='AgentDetail'>
<form name ="resetpasswordForm" ng-submit="resetpassword(resetpasswordForm.$valid)" novalidate>
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<span class="fa fa-lock text-gray"></span>
					<input type="password" class="form-control" placeholder="Enter your old password" ng-model="resetObj.oldpassword" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<span class="fa fa-lock text-gray"></span>
					<input type="password" class="form-control" placeholder="Enter your password" ng-model="resetObj.password" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<div class="input-icon right">
					<span class="fa fa-lock text-gray"></span>
					<input type="password" class="form-control" placeholder="Re-enter your password" ng-model="resetObj.repassword" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
				<label>
					<span id="messageReturn" class="labels text-danger">{{returnMessage}}</span>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-lg-3">
			<a href="/agent/profile" class="btn btn-primary">Back</a>
				<input type="submit" class="pull-right btn btn-primary" value="Reset" ng-disabled="resetpasswordForm.$invalid"/>
			</div>
		</div>							
	</form>
</div>