			<link rel="stylesheet" href="../css/admin/core.css">
			<div class="login-container" ng-app='AgentLoginApp' ng-controller='LoginController'>
				<div class="login-box login-box-title visible">
					ESC Agent Reset Password
				</div>
				<!-- BEGIN LOGIN BOX -->
				<div id="login-box" class="login-box visible">					
					<p class="bigger-110">
						<i class="fa fa-key"></i> Enter Your password
					</p>
					
					<div class="hr hr-8 hr-double dotted"></div>
					
					<form ng-submit="resetpassword()">
						<div class="form-group">
							<div class="input-icon right">
								<span class="fa fa-key text-gray"></span>
								<input type="text" class="form-control" placeholder="Enter your password" ng-model="agent.password" required>
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon right">
								<span class="fa fa-lock text-gray"></span>
								<input type="password" class="form-control" placeholder="Re-enter your password" ng-model="agent.repassword" required>
							</div>
						</div>
						<div class="tcb">
							<label>
								<span id="messageReturn" class="labels text-danger">{{returnMessage}}</span>
							</label>
							<input type="submit" class="pull-right btn btn-primary" value="Reset" />
							<div class="clearfix"></div>
						</div>									
					</form>
				</div>
				<!-- END LOGIN BOX -->
				
			</div>