			<link rel="stylesheet" href="../css/admin/core.css">
			<div class="login-container" ng-app='AgentLoginApp' ng-controller='LoginController'>

				<!--
				<h2>
					<a href="index.html"><img src="../assets/images/logo.png" alt="logo" class="img-responsive"></a>
				</h2>
				-->
				<div class="login-box login-box-title visible">
					ESC Agent Password
				</div>
				<!-- BEGIN LOGIN BOX -->
				<div id="login-box" class="login-box visible">					
					<p class="bigger-110">
						<i class="fa fa-key"></i> Please Enter Your New Password
					</p>
					
					<div class="hr hr-8 hr-double dotted"></div>
					
					<form name="myForm" ng-submit="resetpassword()" >
						<div class="form-group">
							<div class="input-icon right">
								<span class="fa fa-lock text-gray"></span>
								<input class="form-control" data-ng-model='agent.password' type="password" name='password' placeholder='password' required />
								<span class="labels text-danger" ng-show="myForm.password.$error.required">password is required</span> 
							</div>
						</div>
						<div class="form-group">
							<div class="input-icon right">
								<span class="fa fa-lock text-gray"></span>
								<input class="form-control" ng-model='agnet.password_verify' type="password" name='confirm_password' placeholder='confirm password' required data-password-verify="agent.password"/>
								<span class="labels text-danger" ng-show="myForm.confirm_password.$error.required">confirm password is required</span> 
								<span class="labels text-danger" ng-show="myForm.confirm_password.$error.passwordVerify">password is not match</span> 
								</div>
						</div>
						<div class="tcb">
							<div class="msg-block" ng-show="myForm.$error"> <span class="msg-error" ng-show="myForm.pw2.$error.pwmatch">Passwords don't match.</span> 
							<input type="submit" class="pull-right btn btn-primary" ng-disabled="myForm.$invalid" value="Submit" />
							<div class="clearfix"></div>
						</div>									
					</form>
				</div>
				<!-- END LOGIN BOX -->
			</div>