<div class="row" ng-controller='AgentDetail'>
	<div class="tc-tabs"><!-- Nav tabs style 1 -->
		<ul class="nav nav-tabs tab-lg-button tab-color-dark background-dark white">
			<li class="active"><a href="#p1" data-toggle="tab"><i class="fa fa-desktop bigger-130"></i>Setting</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane fade in active" id="p1">
				<div class="row">													
					<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
						<div class="portlet no-border">
							<div class="portlet-heading">
								<div class="portlet-title">
									<h2>{{agent.firstname}} {{agent.lastname}}</h2>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="portlet-body">
								<div class="row">
									<div class="col-lg-2 right"><strong>Company :</strong></div>
									<div class="col-lg-2" >{{agent.company}}</div>
								</div>
								<div class="space-4"></div>
									<div class="row">
										<div class="col-lg-2 right"><strong>Work :</strong></div>
										<div class="col-lg-2" >{{agent.workphone}}</div>
									</div>
								<div class="space-4"></div>
									<div class="row">
										<div class="col-lg-2 right"><strong>Cell :</strong></div>
										<div class="col-lg-2" >{{agent.cellphone}}</div>
									</div>
									<div class="space-4"></div>
									<div class="row">
										<div class="col-lg-2 right"><strong>Email :</strong></div>
										<div class="col-lg-2" >{{agent.email}}</div>
									</div>
									<div class="space-4"></div>
									<div class="row">
										<div class="col-lg-2 right"><strong>Region :</strong></div>
										<div class="col-lg-2" >{{agent.region}}</div>
									</div>
									<div class="space-4"></div>
									<div class="row">
										<div class="col-lg-2 right"></div>
										<div class="col-lg-4" >
											<input type="submit" class="btn btn-primary" value="Edit">
										</div>
									</div>
							</div>
						</div>
					</div>

				</div>		

			</div>

		</div>

	</div>
</div>