/*---------------------------------------------
	modified login page layout
-----------------------------------------------
*/
.login-box{
	top: 200px;
}
.login-box.login-box-title{
	font-size: 24px;
	background-color: rgba(202, 219, 219, 0.74);
	color: #9D4F4F;
	top: 120px;
	padding: 15px 20px;
}


/*---------------------------------------------
	bootstript css
-----------------------------------------------
*/

.right{
	text-align: right;
}

.center{
	text-align: center;
}


.vcenter {
/*    display: inline-block;
    vertical-align: middle;
*/
    line-height: 30px;
}


.color-picker{
	margin-top: 10px;
}

.color-picker .picker{
	padding: 5px;
}
.color-picker .picker p{
	border: 1px solid #eee;
	background-color: #E3F4F7;
	height: 50px;
	font-size: 14px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
}


.slider-position{
	margin-top: 10px;
}
.slider-position .tap{
	padding: 5px;
}
.slider-position .tap p{
	border: 1px solid #eee;
	background-color: #E3F4F7;
	height: 100px;
	font-size: 12px;
	line-height: 100px;
	text-align: center;
	cursor: pointer;
}
.slider-position .tap.select p{
	background-color: #ADADAD;
}

/*-----------------------------------	
	css for mediauploader
-------------------------------------
*/

#media-uploader #dragandrophandler
{
    border: 2px dotted #fff!important;
    height: 140px;
    color:#92AAB0;
    text-align:center;
    vertical-align:middle;
    padding:10px 10px 10 10px;
    margin-bottom:10px;
    font-size:45px;
    line-height: 90px;
}


#media-uploader .progress-session{
    margin: 15px 0!important;
    border: 1px dotted #BEB6BB;
    padding: 20px;
    background-color: rgb(244, 250, 255);
}

#media-uploader .progress-session .title{
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    overflow:hidden;
}

#media-uploader .progress-session .contorl{
    
    text-align: center;
    
/*    vertical-align: middle;
    height: 120px;
    line-height: 120px;*/
}

#media-uploader .progress-session .preview{
    margin: 0 auto;
    background-color: #ccc;
    width : 160px!important;
    height: 120px;
}


#media-uploader .fa{
	margin-left: 2px; 
}



#media-uploader .media-action-row{
	height: 50px;
}


#media-uploader .inline{
	display: inline;
}


#media-list .media-filters div{
	margin-bottom: 20px;
}
#media-list .media-filters label{
	width: 25%
}

#media-list .media-filters select,input{
	width: 70%
}
.document-icon {
	background-image: url("../../../images/file-type/icons.png");
    background-color: #cccccc;
	width: 153px;
	height: 150px;    	
}
.document-icon.doc{
	background-position: -153px 326px;
}
.document-icon.docx{
	background-position: -153px 326px;
}
.document-icon.xls{
	background-position: -306px 326px;
}
.document-icon.xlsx{
	background-position: -306px 326px;
}

.document-icon.pdf{
	background-position: 437px 326px;
}




#media-detail .row{
	margin-bottom: 20px!important;
}


/*-----------------------------------	
	css for media resource sessions
-------------------------------------
*/

.media-info{
	border: 1px solid #EFEFEF;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #EFEFEF;
	color: #795A88;

}

.preview-file-type.fa{
	font-size: 13em;
}

.preview-file-type-list{
	font-size: 10em;
}

.media-resource{
	height:330px;
	overflow: auto;
	background-color: #efefef;
	padding: 5px
	border:1px solid #efe;
}

.media-resource ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.media-resource li {

	width: 120px;
	height: 120px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #ccc;
	line-height: 120px;
}


.media-resource li .fa{
	font-size: 6em;
  	line-height: 120px;
}



.resource-filters{

	background-color: #545454;
	color: #fff;
	padding: 15px;
	font-size: 14px;
	margin-bottom: 5px;
}
.resource-filters .title{
	font-size: 16px;
}
.resource-filters select{
	width: 100%;
}


/*-----------------------------------	
	css for slider
-------------------------------------
*/



.color-picked{
	width: 34px;
	height: 34px;
	border: 1px solid #ccc;
}


/*-----------------------------------	
	css for activity
-------------------------------------
*/

.image-arear{
	height: 480px;
	overflow: auto;
}

.image-arear li{
	transform: translate3d(0,0,0);
  	background: #f2f2f2;
  	padding: 10px;
  	border: 1px solid #ddd;
  	cursor: pointer;
  	position: relative;
  	width: 170px;
  	height: 120px;
}


.image-arear li .cover{
	position: absolute;
	background-color: rgba(0,0,0,0.45);
	height: 100%;
	width: 100%;
	z-index: 100;
	top: 0;
	display: none;
}

.image-arear li .cover.selected{
	display: block;
}


.image-arear li.selected{
	
}

.image-arear li:hover{

/*	transform: translate3d(0,0,0);
  	background: #121121;
  	padding: 10px;*/
 
}


.image-arear li .thumb-image {
	overflow: hidden;
}
.image-arear li .thumb-image img{
  	height: 100px;
}


/*-----------------------------------	
	css for course
-------------------------------------
*/


.duration-list .duration-list-operate-icon{
	float: right;
	margin: -6px 7px;
	cursor: pointer;
}
.duration-list .badge{
    font-size: 17px;
    margin-right: 7px;
    margin-top: -2px;
}

.banner-empty{
    width: 100%;
    height: 130px;
    background-color: #E3E0E0;
    border: 1px solid #DCD2D2;
}
.banner-empty label{
    width: 100%;
    height: 130px;
    font-size: 30px;
    text-align: center;
    line-height: 130px;
    cursor: pointer;
    color: #FFF0F0;
}

.app-modal-lg .modal-dialog {
  width: 900px;
}











