/*---------------------------------------------
	modified login page layout
-----------------------------------------------
*/
.login-box{
	top: 200px;
}
.login-box.login-box-title{
	font-size: 24px;
	background-color: rgba(202, 219, 219, 0.74);
	color: #9D4F4F;
	top: 120px;
	padding: 15px 20px;
}


/*---------------------------------------------
	bootstript css
-----------------------------------------------
*/

.right{
	text-align: right;
}





.color-picker{
	margin-top: 10px;
}

.color-picker .picker{
	padding: 5px;
}
.color-picker .picker p{
	border: 1px solid #eee;
	background-color: #E3F4F7;
	height: 50px;
	font-size: 14px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	cursor: pointer;
}


.slider-position{
	margin-top: 10px;
}
.slider-position .tap{
	padding: 5px;
}
.slider-position .tap p{
	border: 1px solid #eee;
	background-color: #E3F4F7;
	height: 100px;
	font-size: 12px;
	line-height: 100px;
	text-align: center;
	cursor: pointer;
}
.slider-position .tap.select p{
	background-color: #ADADAD;
}