<div class="portlet" ng-controller='SliderController'>
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Create New Agent</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
		<form name="createForm" ng-controller='AgentCtrl' class="form-horizontal" role="form" ng-submit="create(createForm.$valid)" novalidate>
			<div id="bwizard">
				<div class="tab-content">
					<div class="form-group">
						<label class="col-sm-3 control-label">Username</label>
						<div class="col-sm-6">
							<div class="clearfix">
								<div class="input-group">
									<input type="text" class="form-control" name="username" ng-model="agent.username" value="{{agent.username}}"required>
									<span ng-show="!createForm.username.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
									<span ng-show="createForm.username.$error.required" class="input-group-addon">Required</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Password</label>
						<div class="col-sm-6">
							<div class="clearfix">
								<div class="input-group">
									<input type="password" id="agent_pwd" class="form-control" name="password" ng-model="agent.password" value="{{password}}"required>
									<span class="input-group-addon btn" ng-click="generate()">Generate</span>
								</div>
							</div>
						</div>

					</div>

					<!-- <div class="form-group">
						<label class="col-sm-3 control-label">Region</label>
						<div class="col-sm-6">
							<div class="clearfix">
								<div class="input-group">
									<select ng-model="agent.region" >
										<option ng-selected="value.name==agent.region" value="{{value.name}}" ng-repeat="value in region_tags">{{value.name}}</option>
									</select>
									<span ng-show="!createForm.region.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
									<span ng-show="createForm.region.$error.required" class="input-group-addon">Required</span>
								</div>
							</div>
						</div>
					</div> -->

					<div class="form-group">
						<label class="col-sm-3 control-label">Company</label>
						<div class="col-sm-6">
							<div class="clearfix">
								<div class="input-group">
									<input type="text" class="form-control" name="company" ng-model="agent.company" value="{{agent.company}}"required>
									<span ng-show="!createForm.company.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
									<span ng-show="createForm.company.$error.required" class="input-group-addon">Required</span>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">First Name</label>
						<div class="col-sm-6">
							<div class="clearfix">
								<div class="input-group">
									<input type="text" class="form-control" name="firstname" ng-model="agent.firstname" value="{{agent.firstname}}"required>
									<span ng-show="!createForm.firstname.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
									<span ng-show="createForm.firstname.$error.required" class="input-group-addon">Required</span>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Last Name</label>
						<div class="col-sm-6">
							<div class="clearfix">
								<div class="input-group">
									<input type="text" class="form-control" name="lastname" ng-model="agent.lastname" required>
									<span ng-show="!createForm.lastname.$error.required" class="input-group-addon"><i class="fa fa-check"></i></span>
									<span ng-show="createForm.lastname.$error.required" class="input-group-addon">Required</span>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label" ng-model="agent.workphone">Work phone</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="workphone" ng-pattern="ph_numbr" ng-model="agent.workphone" required>
							<p ng-show="createForm.workphone.$invalid && !createForm.workphone.$pristine" class="help-block text-danger">work phone is required</p>	
							<p ng-show="createForm.workphone.$error.pattern" class="help-block text-danger" >eg. 647-921-1234</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Cell phone</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="cellphone" ng-pattern="ph_numbr" ng-model="agent.cellphone" required>
							<p ng-show="createForm.cellphone.$invalid && !createForm.cellphone.$pristine" class="help-block text-danger">cellphone is required</p>	
							<p ng-show="createForm.cellphone.$error.pattern" class="help-block text-danger" >eg. 647-921-1234</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" ng-model="agent.email">Email</label>
						<div class="col-sm-6">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" class="form-control" name="email" ng-model="agent.email" required>
							</div>
							<p ng-show="createForm.email.$invalid && !createForm.email.$pristine" class="help-block text-danger">email is invalid</p>
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-3 control-label" ng-model="agent.email">Commission Rate</label>
						<div class="col-sm-6">
							<div class="input-group">
								<input type="number" step='0.1' class="form-control" name="commission" ng-model="agent.commission" placeholder='eg. 0.2' min="0" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-3">
							<button type="button" class="btn btn-primary" ng-disabled="!createForm.$valid" ng-click="create()">Create</button>
							<button type="button" class="btn btn-default" onclick='location="/admin/"'>Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>

