        <section id="page-title"   class="page-title-mini page-title-right">

            <div class="container clearfix">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active"> <a href="/city">City</a></li>
                    <li class="active">Casa Loma</li>
                </ol>
            </div>

        </section>    

<!--         <section id="content">

            <div class="content-wrap" style="padding:0;margin-bottom: 100px">
                <div class="section dark parallax nobottommargin" style="padding:230px 0px; background-image: url('/images/city/CASA-LOMA.jpg'); background-position: 50% 51.7312px; text-shadow: rgb(0, 0, 0) 2px 2px; margin:0 0 0 0" data-stellar-background-ratio="0.3">

                    </div>
                </div>
            </div>

        </section> -->



        <section id="section-team" class="page-section topmargin-lg">

            <div class="heading-block center">
                <h2>Casa Loma</h2>
              
            </div>



            <div class="container clearfix">

                <p class="small-content">
                    Casa Loma - Completed in 1914, the historic Casa Loma is a beautiful building and grounds that will take you back in time.  Carefully restored and maintained, this building shows visitors what life in 1925 was like.  Visit the elaborately decorated rooms, look at the library, examine the suites, and then take the tunnel out to the stables where horses were kept and explore the gardens.  When you get tired, take a break in the Liberty Caffé or, if the weather is nice, have a meal on the Terrace Grill.
                </p>
                
                <p class="center">
                    <a href="http://www.casaloma.ca/" target="_blank"> <h4>Click to see the offical information </h4></a>
                </p>
            </div>

           

        </section>
