        <section id="page-title"   class="page-title-mini page-title-right">

            <div class="container clearfix">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active"> <a href="/city">City</a></li>
                    <li class="active">The CN Tower</li>
                </ol>
            </div>

        </section>    

<!--         <section id="content">

            <div class="content-wrap" style="padding:0;margin-bottom: 100px">
                <div class="section dark parallax nobottommargin" style="padding:230px 0px; background-image: url('/images/city/CASA-LOMA.jpg'); background-position: 50% 51.7312px; text-shadow: rgb(0, 0, 0) 2px 2px; margin:0 0 0 0" data-stellar-background-ratio="0.3">

                    </div>
                </div>
            </div>

        </section> -->



        <section id="section-team" class="page-section topmargin-lg">

            <div class="heading-block center">
                <h2>The CN Tower</h2>
              
            </div>



            <div class="container clearfix">

                <p class="small-content">
                    The CN Tower, once the world’s tallest building standing at 457m is a must see when travelling to Toronto.  You get a bird’s eye view of most of Toronto and the surrounding cities. On a clear day you can see all the way to Mississauga.  When at the top you have a chance to stand on the glass floor and look down at the street below. You can also go outside and feel the tremendous winds. The best part about the CN Tower is the pictures you will be able to take from the top. If you are daring you could walk along the edge of the top and get a thrill like no other. If you love food and fine dining you can have a wonderful dinner in the revolving 360 Restaurant while watching the sun set.  No matter what you do in the CN Tower you will surly remember your visit.
                </p>
                
                <p class="center">
                    <a href="http://www.cntower.ca/intro.html" target="_blank"> <h4>Click to see the offical information </h4></a>
                </p>
            </div>

           

        </section>
