        <section id="page-title"   class="page-title-mini page-title-right">

            <div class="container clearfix">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active"> <a href="/city">City</a></li>
                    <li class="active">High Park</li>
                </ol>
            </div>

        </section>    

<!--         <section id="content">

            <div class="content-wrap" style="padding:0;margin-bottom: 100px">
                <div class="section dark parallax nobottommargin" style="padding:230px 0px; background-image: url('/images/city/HIGH-PARK.jpg'); background-position: 50% 51.7312px; text-shadow: rgb(0, 0, 0) 2px 2px; margin:0 0 0 0" data-stellar-background-ratio="0.3">

                    </div>
                </div>
            </div>

        </section>
 -->


        <section id="section-team" class="page-section topmargin-lg">

            <div class="heading-block center">
                <h2>High Park</h2>
              
            </div>



            <div class="container clearfix">

                <p class="small-content">
                    High Park which is conveniently close to two TTC subway stations (Keele and High Park stations) is a beautiful park located west of downtown Toronto.  Visitors can spend their day walking around or taking the train through the park to discover the many different areas to explore; places like the High Park Zoo, playgrounds for children, many gardens, hiking trails, ponds – including the massive Grenadier Pond, a restaurant, convenient picnic areas, and some recreational sports facilities.  High Park is a wonderful place to take photos and explore nature, and if Grenadier Pond is not large enough, High Park is also minutes away from Lake Ontario and the lakeshore.
                </p>
                
                <p class="center">
                    <a href="http://www.highparktoronto.com/" target="_blank"> <h4>Click to see the offical information </h4></a>
                </p>
            </div>

           

        </section>
