        <section id="page-title"   class="page-title-mini page-title-right">

            <div class="container clearfix">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active"> <a href="/city">City</a></li>
                    <li class="active">Toronto Islands </li>
                </ol>
            </div>

        </section>    

<!--         <section id="content">

            <div class="content-wrap" style="padding:0;margin-bottom: 100px">
                <div class="section dark parallax nobottommargin" style="padding:230px 0px; background-image: url('/images/city/CASA-LOMA.jpg'); background-position: 50% 51.7312px; text-shadow: rgb(0, 0, 0) 2px 2px; margin:0 0 0 0" data-stellar-background-ratio="0.3">

                    </div>
                </div>
            </div>

        </section> -->



        <section id="section-team" class="page-section topmargin-lg">

            <div class="heading-block center">
                <h2>Toronto Islands </h2>
              
            </div>



            <div class="container clearfix">

                <p class="small-content">
                    Toronto Islands - Taking a quick ferry boat ride across the water, you can visit the Toronto Islands where you can relax on the beaches, go for a walk, rent a bike, or wander through Centreville – a small theme park located on the island with rides for children, a petting zoo in Far Enough Farms, and a restaurant for the whole family.  Many people love the quiet, calm atmosphere on the island which makes it feel like you are far away from the rush of the city.  However, when you look over the water, you get a fantastic view of the Toronto city skyline.  Bring your camera to capture amazing photos you’ll remember for a long time.
                </p>
                
                <p class="center">
                    <a href="http://www1.toronto.ca/wps/portal/contentonly?vgnextoid=34e9dada600f0410VgnVCM10000071d60f89RCRD" target="_blank"> <h4>Click to see the offical information </h4></a>
                </p>
            </div>

           

        </section>
