        <section id="page-title"   class="page-title-mini page-title-right">

            <div class="container clearfix">

                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active"> <a href="/city">City</a></li>
                    <li class="active">Canada’s Wonderland</li>
                </ol>
            </div>

        </section>    

<!--         <section id="content">

            <div class="content-wrap" style="padding:0;margin-bottom: 100px">
                <div class="section dark parallax nobottommargin" style="padding:230px 0px; background-image: url('/images/city/CASA-LOMA.jpg'); background-position: 50% 51.7312px; text-shadow: rgb(0, 0, 0) 2px 2px; margin:0 0 0 0" data-stellar-background-ratio="0.3">

                    </div>
                </div>
            </div>

        </section> -->



        <section id="section-team" class="page-section topmargin-lg">

            <div class="heading-block center">
                <h2>Canada’s Wonderland</h2>
              
            </div>



            <div class="container clearfix">

                <p class="small-content">
                    Canada’s Wonderland - If you’re looking for a day of excitement and fun, you have to visit Canada’s Wonderland.  This amusement park has plenty of things for adults and children to do with more than 20 adult thrill rides, over 20 children’s rides, and a special water park area called Splash Works which has more than 15 fun-filled activities to keep you cool during the hot days.  The amusement park also has plenty of restaurants and shops for you to find a souvenir of your incredible day, and don’t forget to check out the events that take place during the day from things like acrobatic shows and circus performances to Friday movie nights and international food festivals.
                </p>
                
                <p class="center">
                    <a href="https://www.canadaswonderland.com/" target="_blank"> <h4>Click to see the offical information </h4></a>
                </p>
            </div>

           

        </section>
