<div>Success login</div>
<input ng-click="logout()" type="submit" value="Logout" />

<div>username : {{staff.data.username}}</div>
<div>name : {{staff.data.firstname}} {{staff.data.lastname}}</div>
<div>email : {{staff.data.email}}</div>
<div>workphone : {{staff.data.workphone}} ext: {{staff.data.extension}} </div>
<div>cellphone : {{staff.data.cellphone}}</div>

<!-- Display all staffs -->
<table>
	<tr>
		<th>Role</th>
		<th>Username</th>
		<th>Lastname</th> 
		<th>Firstname</th>
		<th>Email</th>
		<th>Workphone</th>
		<th>CellPhone</th>
		<th>lastLogin</th>
		<th>create</th>
		<th>update</th>
	</tr>
	<tr ng-repeat="staff in staffs.data">
		<td>{{staff.role}}</td>
		<td>{{staff.username}}</td>
		<td>{{staff.lastname}}</td>
		<td>{{staff.firstname}}</td>
		<td>{{staff.email}}</td>
		<td>{{staff.workphone}}</td>
		<td>{{staff.cellphone}}</td>
		<td>{{staff.lastLoginDateTime}}</td>
		<td>{{staff.createDate}}</td>

		<td>{{staff.updateDate}}</td>
	</tr>
</table>
