<script type="text/javascript">
var url_params = <%- JSON.stringify(url_params) %>
</script>

<form name="editForm" class="form-horizontal" ng-controller='EventEditCtrl' role="form" ng-submit="update(editForm.$valid)" novalidate>
	<div class="form-group">
		<label class="col-sm-2 control-label">Title</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="title" ng-model="event.title" ng-minlength="4" ng-maxlength="100" required>
			<p ng-show="editForm.title.$invalid && !editForm.title.$pristine" class="help-block text-danger">title is required</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Description</label>
		<div class="col-sm-9">
			<textarea class="form-control" id="maxL-3" rows="5x" name="description" ng-model="event.description" placeholder="This textarea has a limit of 225 chars."></textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Loaction</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="location" ng-model="event.location"  ng-maxlength="100" required>
			<p ng-show="editForm.location.$invalid && !editForm.location.$pristine" class="help-block text-danger">location is required</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Date & Time</label>
		<div class="col-sm-4">
			<div class="input-group date form_datetime">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-time"></i>
				</span>														
				<input type="date" ng-model="event.date"  class="form-control">
				<input type="time" ng-model="event.date"  class="form-control">											
			</div>
			
		</div>
	</div>


	<!-- <div class="form-group">
		<label class="col-sm-3 control-label"></label>
		<div class="col-sm-2">
			<select name="region" ng-model="dateAfter" class="form-control" ng-options="range.name for range in dateRanges">
			</select>
		</div>
	</div> -->
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Image:</label>
		<div class="col-sm-9">
			<div ng-click="changeCover()" ng-if="event.cover == null" class="cover-empty"><label>Clic to change</label></div>

			<img class="preview-media"  ng-click="changeCover()"  ng-if="event.cover != null" src="{{event.cover.thumbnail}}">
		</div>
	</div>

	
	<!-- <div class="form-group">
		<label class="col-sm-3 control-label">Search</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="activity_filter" ng-model="activity_filter">
		</div>
	</div> -->

	<!-- <div class="form-group">
		<label class="col-sm-3 control-label">Images</label>
		<div class="col-sm-3">
			<div class="well white padding-25 image-arear">
				<ul class="tc-gallery-2 clearfix">
					<li class="thumbnail" ng-repeat="item in medias.data" ng-if="(array.indexOf(item._id) > -1)" checkbox-unselect-Event>
						<div class="thumb-preview">
							<div class="thumb-image">
								<img src="{{item.thumbnail}}" alt="" >
							</div>

						</div>
						
					</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="well white padding-25 image-arear">
				<ul class="tc-gallery-2 clearfix">
					<li  ng-repeat="item in medias.data | isAfter:dateAfter.date | filter: event_filter" checkbox-select-Event>
						<div class="thumb-preview">
							<div class="thumb-image">
								<img src="{{item.thumbnail}}" alt="" >
							</div>
							<div class='cover' ng-class="{'selected':(array.indexOf(item._id) > -1)}"><i style="color:#fff; font-size: 16px; margin:0 auto" class="fa fa-check-circle"></i></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div> -->

	
	<div class="form-group">
		<label class="col-sm-2 control-label">Active</label>
		<div class="col-sm-3">
			<div class="tcb">
				<label>
					<input name="isActive" class="tc tc-switch tc-switch-6" type="checkbox" ng-model="event.isActive" />
					<span class="labels"></span>
				</label>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-3">
				<button type="sumit" class="btn btn-primary" ng-disabled="editForm.$invalid" >Save</button>
				<!-- <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="editForm.$invalid"> -->
				<a href="/admin/event/all" type="submit" class="btn btn-default">Cancel</a>
			</div>
		</div>
		<div class="form-group">
			<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
				{{returnMessage}}
			</div>
		</div>
	</div>

	<!-- include the media selector mockup -->
   	<div ng-include="'/ng/html/MediaSelector.html'"></div>

</form>




<script type="text/javascript">
	
	$(document).ready(function(){

		//jQuery('#datetimepicker').datetimepicker();
		//$('.form_datetime').datepicker();

		// $('.form_datetime').datetimepicker({
		// 		//2015-10-28T04:00:00.000Z
		// 		//language:  'fr',
		// 		//format: "yyyy-mm-dd hh:ii:00.000Z",
		// 		format: "yy-mm-dd hh:ii",
		// 		weekStart: 1,
		// 		todayBtn:  1,
		// 		autoclose: 1,
		// 		todayHighlight: 1,
		// 		startView: 2,
		// 		forceParse: 0,
		// 		showMeridian: 1
		// 	});


	});

</script>
