
<form name="createForm" ng-controller='EventCtrl' class="form-horizontal" role="form" ng-submit="create(createForm.$valid)" novalidate>
	<div class="form-group">
		<label class="col-sm-3 control-label">Title</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="title" ng-model="event.title" value="{{event.title}}"required>
			<p ng-show="createForm.title.$invalid && !createForm.title.$pristine" class="help-block text-danger">title is required</p>	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Description</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="description" ng-model="event.description" value="{{event.description}}"required>
			<p ng-show="createForm.description.$invalid && !createForm.description.$pristine" class="help-block text-danger">description is required</p>	
		</div>
	</div>


	<div class="form-group">
		<label class="col-sm-3 control-label" ng-model="event.workphone">Work phone</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="workphone" ng-pattern="ph_numbr" ng-model="event.workphone" required>
			<p ng-show="createForm.workphone.$invalid && !createForm.workphone.$pristine" class="help-block text-danger">work phone is required</p>	
			<p ng-show="createForm.workphone.$error.pattern" class="help-block text-danger" >eg. 647-921-1234</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Cell phone</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="cellphone" ng-pattern="ph_numbr" ng-model="event.cellphone" required>
			<p ng-show="createForm.cellphone.$invalid && !createForm.cellphone.$pristine" class="help-block text-danger">cellphone is required</p>	
			<p ng-show="createForm.cellphone.$error.pattern" class="help-block text-danger" >eg. 647-921-1234</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" ng-model="event.email">Email</label>
		<div class="col-sm-9">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				<input type="email" class="form-control" name="email" ng-model="event.email" required>
			</div>
			<p ng-show="createForm.email.$invalid && !createForm.email.$pristine" class="help-block text-danger">email is invalid</p>
		</div>
	</div>


	<div class="form-group">
		<label class="col-sm-3 control-label" ng-model="event.email">Commission Rate</label>
		<div class="col-sm-9">
			<div class="input-group">
				<input type="text" class="form-control" name="commissionRate" ng-model="event.commissionRate" required>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label"></label>
		<div class="col-sm-9">
			<div class="tcb">
				<label>
					<input type="checkbox" ng-model="event.isActive" class="tc">
					<span class="labels"> Delete</span>
				</label>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-4">
				<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="createForm.$invalid">
		<!-- 		<a href="/admin/event/all" type="submit" class="btn">Cancel</a> -->
			</div>
		</div>
		<div class="form-group">
			<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
				{{returnMessage}}
			</div>
		</div>
	</div>
</form>

