
<form name="createForm" ng-controller='EventCtrl' class="form-horizontal" role="form" ng-submit="create(createForm.$valid)" novalidate>
	<div class="form-group">
		<label class="col-sm-3 control-label">Title</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="title" ng-model="event.title" value="{{event.title}}"required>
			<!-- <p ng-show="createForm.title.$invalid && !createForm.title.$pristine" class="help-block text-danger">title is required</p>	 -->
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Description</label>
		<div class="col-sm-9">
			<textarea class="form-control" id="maxL-3" maxlength="225" rows="5x" name="description" ng-model="event.description" placeholder="This textarea has a limit of 225 chars."></textarea>
		</div>
	</div>


	<div class="form-group">
		<label class="col-sm-3 control-label">Time</label>
		<div class="col-sm-9">
			<input type="date" ng-model="event.date" value="{{event.date}}" required>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label"></label>
		<div class="col-sm-2">
			<select name="region" ng-model="dateAfter" class="form-control" ng-options="range.name for range in dateRanges">
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">Search</label>
		<div class="col-sm-2">
			<input type="text" class="form-control" name="event_filter" ng-model="event_filter">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Images</label>
		<div class="col-sm-3">
			<div class="well white padding-25 image-arear">
				<ul class="tc-gallery-2 clearfix">
					<li class="thumbnail" ng-repeat="item in medias.data" ng-if="(array.indexOf(item._id) > -1)" checkbox-unselect-event>
						<div class="thumb-preview">
							<div class="thumb-image">
								<img src="{{item.thumbnail}}" alt="" >
							</div>

						</div>
				
					</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="well white padding-25 image-arear">
				<ul class="tc-gallery-2 clearfix">
					<li  ng-repeat="item in medias.data | isAfter:dateAfter.date | filter: event_filter" checkbox-select-event>
						<div class="thumb-preview">
							<div class="thumb-image">
								<img src="{{item.thumbnail}}" alt="" >
							</div>
							<div class='cover' ng-class="{'selected':(array.indexOf(item._id) > -1)}"><i style="color:#fff; font-size: 16px; margin:0 auto" class="fa fa-check-circle"></i></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>




	<div class="form-group">
		<label class="col-sm-3 control-label"></label>
		<div class="col-sm-9">
			<div class="tcb">
				<label>
					<input type="checkbox" ng-model="event.isActive" class="tc">
					<span class="labels">Delete</span>
				</label>
			</div>
		</div>
	</div>

	<div class="form-actions">
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-4">
				<input type="submit" class="btn btn-primary" value="Submit">
				<!-- <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="createForm.$invalid"> -->
				<!-- 		<a href="/admin/event/all" type="submit" class="btn">Cancel</a> -->
			</div>
		</div>
		<div class="form-group">
			<div id="messageReturn" class="col-sm-offset-3 col-sm-5 text-success">
				{{returnMessage}}
			</div>
		</div>
	</div>
</form>



<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

