<script type="text/javascript">
var url_params = <%- JSON.stringify(url_params) %>
</script>
<div class="portlet">
	<div class="portlet-heading dark">
		<div class="portlet-title">
			<h4>Static Event</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="portlet-body">
		<form name="editForm" class="form-horizontal" ng-controller='EventStaticCtrl' role="form" ng-submit="update(editForm.$valid)" novalidate>


			<div class="form-group">
				<label class="col-sm-2 control-label">Static Mode</label>
				<div class="col-sm-3">
					<div class="tcb">
						<label>
							<input name="isActive" class="tc tc-switch tc-switch-6" type="checkbox" ng-model="staticEvent.isActived" />
							<span class="labels"></span>
						</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<!-- <label class="col-sm-2 control-label">Image:</label>
				<div class="col-sm-9">
					<div ng-click="changeCover()" ng-if="event.cover == null" class="cover-empty"><label>Clic to change</label></div>

					<img class="preview-media"  ng-click="changeCover()"  ng-if="event.cover != null" src="{{event.cover.thumbnail}}">
				</div> -->

				<label class="col-sm-2 control-label">Image:</label>
				<div class="col-sm-9">
					<div style="padding-bottom: 20px;"><button class="btn btn-primary" ng-click="changeEvent()">Change Event PDF File</button></div>
					
					<iframe src="{{staticEvent.media.path}}" style="border:0; width: 350px; height: 515px " >
					This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>
					</iframe>
				</div>
			</div>


			<div class="form-actions">
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-3">
						<button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid" >Update</button>
	
					</div>
				</div>

			</div>

			<!-- include the media selector mockup -->
			<div ng-include="'/ng/html/MediaSelector.html'"></div>

		</form>
	</div>
</div>




